@mixin font($size: null, $weight: null, $line-height: null) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

.success__page {
    max-width: 1240px;
    margin: 0 auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    &--container {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &--header {
        @include font(25px, 500, 37.5px);
        margin-bottom: 14px;
        margin-top: 41.89px;
        color: #5ea304;
    }
    &--text {
        @include font(20px, 400, 30px);
        color: #696969;
        width: 300px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .success__page {
        &--header {
            @include font(20px, 500, 30px);
            margin-bottom: 5px;
            margin-top: 7.26px;
        }
        &--text {
            @include font(15px, 400, 22.5px);
            width: 200px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .success__page {
        margin: 0 20px;
        width: auto;
    }
}
