body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headers {

  display: flex;
  justify-content: space-between;
}
nav ul {
  margin-right: 70%;
}
nav ul li {
  margin-right: -5%;
  list-style: none;
  gap: 20px;
}
nav ul li a {
  text-decoration: none;
  color: #4E4D4D;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 23px;
  
}
.foodbags {
  font-size: 26px;
  font-weight: 700;
}
.foodbags span {
  color: crimson;
}
#logout-header {
  border: 1px solid crimson;
  padding-top: 6px;
  padding-bottom: 6px;
}
#login-header {
  color:#4E4D4D;
}

#form-group {
  height: 60px;
  width: 10%;
  font-size: 43px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
.comb{
    display: flex;
    flex-direction: row;
   
}

p1{
  color: crimson;
}
.delivery-image{
    margin-left: 90%;
}
hr{
    margin-left: 0;
    margin-right: 120px;
   padding: 0;
}

.expiry-date{
  margin-left: -1%;
  width: 30%;
  
}
.button-class{
  margin-left: 5%;
  margin-top: 30px;
  border : none;
  height: 50px ;
  width : 80% ;
  font-weight: 700;
  color: White;
  background-color: crimson;
  cursor: pointer;
  margin-bottom: 30px;
}
  
  
  @media screen and (min-width: 468px) {
    
    .contents {
   
      margin-left: 15px;
    }
    nav ul {
      margin-right: 3%;
      margin-top: 30px;
    }
    #delivery-image {
      margin-right: 5%;
      margin-top: 20px;
      height: 28px;
      width: 28px;
      cursor: pointer;
    }
    #form-group {
      height: 40px;
      width: 90%;
      font-size: 33px;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 30px;
    }
    #label-id {
      font-size: 23px;
    }
    #input-id {
      width: 90%;
      height: 40px;
      font-size: 33px;
      margin-bottom: 40px;
    }
    .cvc {
      width: 44%;
      height: 60px;
      margin-left: 10px;
    
    }
  
   
  }
  
  @media screen and (min-width: 790px) {
    
    .contents {
   
      margin-left:11%;
    }
    nav ul {
      margin-right: 10%;
    
    }
    #delivery-image {
      margin-right: 10%;
      margin-top: 20px;
      height: 28px;
      width: 28px;
      cursor: pointer;
    }
    #form-group {
      height: 50px;
      width: 90%;
      font-size: 33px;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 30px;
    }
    #label-id {
      font-size: 33px;
    }
    #input-id {
      width: 90%;
      height: 40px;
      font-size: 33px;
      margin-bottom: 40px;
    }
    .cvc {
      width: 45%;
      height: 60px;
      margin-left: 10px;
    
    }
  
    
    }
  
  