@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&amp;display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif; 
}

.FoodBag {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


/* Breadcrumb */
/* Style the list */
ul.breadcrumb {
  padding: 10px 5px;
  list-style: none;
  margin-top: 90px;
  margin-bottom: 30px;
  
}

/* Display list items side by side */
ul.breadcrumb li {
  color: #C9C9C9;
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 5px;
  color: #C9C9C9;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  text-decoration: none;
  color: #C9C9C9;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  text-decoration: none;
}



@media (max-width: 650px) {
  ul.breadcrumb {
    margin: 53px 0 20px;
  }
}



/*

#removebtn {
  background: #A5A5A5;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 22px;
  border-radius: 3px;
}

} */