html{
    margin: 40px;
    box-sizing: border-box;
    width: fit-content;
    height:100%;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 16px;
    
}
body{
    margin: 0;
    width: fit-content;
}
nav{
    display: inline;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    align-items: baseline;
    
}
nav ul{
    list-style: none;
    display: inline;
    vertical-align: middle;
}

nav a{
    text-decoration: none;
    color: rgb(95, 90, 90);
    margin-left: 10px;
}
nav button{
    border-color: rgb(156, 14, 14);
    color: rgb(156, 14, 14);
    border-radius: 5px;
    margin-right: 0;
    margin-left: 10px;
    font-weight: bold;
}
nav .right{
    float: right;
}
nav .left{
    float: left;
}
#name{
    font-size: 18px;
}
#sign{
    margin-right: 0;
    padding: 5px;
    background-color: white;
}
.para{
    color: rgb(95, 90, 90);
    font-weight: 500;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
}
#para{
    font-size: 20px;
    color: rgb(51, 47, 47);
    font-weight:bolder;
    

}
label{
    font-weight: bold;
}
.order{
    display: inline-block;
    height: 150px;
    width: 250px;
    text-align: left;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
}
div .order:first-of-type{
    margin-left: 0;

}

div .order:last-of-type{
    margin-right: 0;  
}
#veg{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 0;
    margin-bottom: 0;

}
#drink{
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
}
ul{
    list-style: none;
    
}
.interest{
    filter: grayscale();
}
.order:hover{
    opacity: 0.8;
}
.interest{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    color: orangered;
    font-weight: bold;
    width: 100%;
    
   
}
.interest:first-child .order{
    margin-left: 0;
}
.interest:last-child .order{
    margin-right: o;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
}
.process{
    display: inline-block;
    justify-content: space-evenly;
    align-content: center;
}
.order::h3{
    color: maroon;
    display: flex;
}
h3{
    font-size: 15px;
    color: black;
}
h4{
    font-size: 15px;
    color: rgb(109, 107, 107);
    font-weight: 500;
    padding-left: 5px;
}
p{
    color: rgb(117, 116, 116);
}
.span{
    color: rgb(177, 10, 10);
}
.bodija{
    appearance: none;
    background-image:url(file:///C:/Users/HP/Desktop/tests/css/keyboard_arrow_down.svg) ;
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 5px;
    font-weight: 500;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: #000;
}
#location option{
    color: red;
    font-size: 16px;
    opacity: 1;
}
.socials,
.contact,
#serve{
    text-align: center;
}
.socials img{
    padding: 2px;
}
.end{
    display: inline;
}
.end .right{
    float: right;
}
.end .left{
    float: left;
    display: inline-flex;
}

@media screen and (max-width:480px) {
    html{
        width: 100%;
        margin: 30px;
    }

    .nav{
        max-width: 100%;
    }
    .interest{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
        flex-wrap: wrap;
    }
    .order{
        display: inline-block;
        width: 100%;
    }
    .order h3{
        text-align: left;
    }
    .bodija{
        width: 100%;
        margin-right: 0;
    }
    #veg,
    #drink{
        margin: 0;
    }
    #serve{
        text-align: center;
    }
    .box{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 20px 0;
    }
    .process{
        display: inline-block;
        justify-content: center;
        margin: 0px;
        width: 100%;
        text-align: center;

    }
    .para{
        text-align: left;
    }
}