body{
padding: 0;
font-family:Arial, Helvetica, sans-serif ;

}
.nav-bar{
    display: flex;
    flex-direction: row;
justify-content: space-between;
margin:0px 50px;
}
.nav-bar-text span{
    color: rgb(180, 75, 75);
}
.navlinks{
    display: flex;
    flex-direction: row;
}
.navlinks li{
    list-style: none;
    padding: 26px 20px 0px 0px ;
    
}
.navlinks li a{
   color: black;
padding: 10px;
text-decoration: none;
}
 .navlinks li a button{
    padding: 8px;
    width: 80px;
    border:2px solid rgb(180, 75, 75);
    background-color: white;
    outline: none;
    position: relative;
    top: -10px;
    border-radius: 5px;
}
.hero{
text-align: center;

}
.hero h1{
    font-size: 35px;
}
select{
    position: relative;
    left: -50px;
    color: rgb(180, 75, 75);
    border: none;
}

.container{
    padding: 0px 50px;
}
.container input{
    padding: 10px;
    width: 95%;
}
.intrest-cards-header{
    margin: 30px 50px;
}
.intrest-cards{
display: flex;
flex-direction: row;
margin-left:50px ;
}
.first-card,
.second-card,
.third-card,
.fourth-card{
    border: 3px solid rgb(236, 229, 229);
    padding: 30px;
    outline: none;
    margin: 10px 10px 50px;
}
hr{
    border: 1px solid rgb(230, 220, 220);
    outline-color: none;
margin-bottom: 50px;
}
.card-container h3{
font-size: 25px;
color: rgb(92, 84, 84);
text-align: center;
} 
.card-container p
{
    font-size: 20px;
    color: rgb(92, 84, 84);
    text-align: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.card-container-header{
    margin-left: 50px;
}
footer {
    text-align: center;
    margin-bottom: 10px;
    color: rgb(92, 84, 84);
}
footer h4{
    font-size: 30px;
}
footer img{
padding: 30px;
padding-top: 0px;
}
.foot{
<<<<<<< HEAD
 margin:0px 50px 0px;
=======
 margin:0px 50px;
>>>>>>> 3e4fe929fa07dd5e066f48498a3e19a75bb6d291
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}