#customer {
    font-family: Arial, Ubuntu, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customer td, #customer th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customer tr:nth-child(even) {

    background-color: #f2f2f2;

  }
  
  #customer tr:hover {

    background-color: #ddd;

  }
  
  #customer th {

    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #003580;
    color: white;

  }

  h1 {
    
      text-align: center;
      color: #003580;
  }
  .container {
    margin-left: 200px;
    font-size: 25px;
    margin-top: 40px;
  }
  #btn {

    cursor: pointer;
    color: white;
    border: none;
    background-color: #003580;
   
}
#btn-link {
  text-decoration: none;
  color: white;
}
  
