a {
    color: grey;
    text-decoration: none;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html{
    margin: 10px;
}
h5 {
    margin: 5px;
    font-size: 15px;
    width: 400px;
}
h6 {
    margin: 5px;
    font-size: 12px;
    width: 180px;
    font-weight: lighter;
}
.left {
    flex-direction: column;
    display: block; 
    margin: 30px 10px 50px;
}
#tleft {
    margin-bottom: -60px;
}
.trp {
    float: left;
    padding: 17px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 2px;
    margin: 15px;
}
section {
    margin: 0px 60px;
}
select {
    width: 1080px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button {
    border-color: red;
    border-radius: 5px;
    border-width: 1px;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px;
    margin: -7px 0px 0px;
}
button:hover {
    background: darkorange;
}
.header {
    width: 95%;
    background-color: #fff;
    top: 0%;
    float: right;
    margin: 0px;
    position: fixed;
    display: block;
}
#headerh1 {
    margin: 30px 0px 0px;
    font-size: 15px;
}
.navbar {
    float: right;
    margin: -16px 15px 0px; 
    font-size: 14px;
    word-spacing: 10px;
}
#signupcolor {
    color: #f00;
}
#foodbag {
    color: #000;
}
#foodbagtag {
    font-size: 15px; 
    color: grey; 
    font-weight: lighter;
}
#loc {
    font-weight:bold; 
    font-family:Verdana;
}
#pick {
    font-size: 14px;
}
.fre {
    margin: 0px -10px 620px;
}
#ff5,#f5,#fff5,#g5 {
    font-size: 10px; 
    width: 200px;
}
#ff6,#f6,#fff6,#g6 {
    font-size: 8px; 
    width: 150px;
}
hr {
    opacity: 0.3;
}
#a5,#aa5,#aaa5 {
    align: center;
    margin: 0px 0px 0px -35px;
}
#a6 {
    margin: 20px;
}
#b5 {
    color: grey;
}
#b6,#bb5,#bb6,#bbb5,#bbb6,#l1,#gr1,#q1 {
    color: grey;
}
#aa6 {
    margin: 20px 0px;
}
#aaa6 {
    margin: 18px -10px 0px 0px;
}
#im1,#im2,#im3 {
    margin: 8px;
}
#sp {
    font-size: 12px;
    align: center;
}
#sp1 {
    font-size: 12px;
    align: center;
    text-align: center; 
    margin-bottom: 20px;
}
#gr2 {
    text-align: center; 
    color: grey;
    font-size: 12px;
}
#red {
    color: red;
}
.foot {
    margin: 0px;
}
#hrr {
    margin: 0px 0px 50px;
}
.loc1 {
    display: flex;
    align-content: center;
    box-sizing: border-box;
    width: 100%;
}
.how1 {
    font-size: 20px;
}
#middle {
    margin-top: 100px;
    align: left;
}
@media screen and (min-width: 405px) {
     #b5,#bb5,#bbb5 {
        align: center;
        margin: 0px 0px 0px 40px;
        font-size: 15px;
    }
    #b6,#bb6,#bbb6 {
        align: center;
        margin: 10px -25px 0px 0px;
    }
}
@media screen and (min-width: 585px) {
    .fre {
        margin: 0px -10px 350px;
    }  
}
@media screen and (min-width: 860px) {
    .left {
        float: left;
        width: 27%;
        display: block;
    }
    #b5,#bb5,#bbb5 {
        align: center;
        margin: 0px 10px 0px -85px;
        font-size: 15px;
    }
    #b6,#bb6,#bbb6 {
        align: center;
        margin: 10px -25px 0px 10px;
    }
    #hrr {
        margin-top: 250px;
        margin-bottom: 100px;
    }
}
@media screen and (min-width: 900px){
    #b5,#bb5,#bbb5 {
        align: center;        
        margin: 0px 0px 0px -50px;
        font-size: 15px;
    }
    #b6,#bb6,#bbb6 {
        align: center;
        margin: 10px -25px 0px 10px;
    }    
}
@media screen and (max-width: 1049px) {
    #middle2 {
        display: none;
    }    
}
@media screen and (min-width: 1050px) {
    .left {
        float: left;
        display: block; 
        margin: 30px 10px 50px;
        width: auto;
    }
    #middle {
        display: none;
    }
    #hrr {
        margin: 250px 0px 50px;
    }
    .fre {
    margin: 0px -10px 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }
    #sp1 {
    float: left;
    }
    #gr2 {
    float: right;
    }
    .foot {
    margin-bottom: 50px;
    }
    html {
    margin: 50px 30px 100px;
    }
    #headerh1 {
    font-size: 25px;
    }
    .navbar {
    float: right;
    font-size: 20px;
    word-spacing: 40px;
    margin: -25px 0px 0px;
    }
    button {
    border-color: red;
    border-radius: 5px;
    border-width: 1px;
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
    margin: -7px 0px 0px;
    }
    button:hover {
    background: darkorange;
    }
    #a5,#aa5,#aaa5 {
    align: center;
    margin: 15px 0px 0px -25px;
    font-size: 15px;
    text-align: inherit;
    }
    #b5,#bb5,#bbb5 {
    align: center;
    margin: 15px -30px 0px 0px;
    font-size: 15px;
    text-align: inherit;
    }
    #a6,#aa6,#aaa6 {
    align: center;
    margin: 10px px 0px 0px;
    font-size: 12px;
    text-align: inherit;
    }
    #b6,#bb6,#bbb6 {
    align: center;
    margin: 15px 0px 0px 20px;
    text-align: inherit;
    }
}