* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    background-color: #ffffff;
    box-sizing: content-box;
    flex-direction: row;
  }

  .container {
    padding: 20px;
    margin: 20px 0px 60px 0px;
  }

  .navbar{
    display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.navbar h5{
    font-size: 19px;
    text-transform: capitalize;
    font-weight: 500;
    font-style: normal;
}

.navbar span{
    color: #AD4C4C;
}

.navbar li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.navbar a{
    text-decoration: none;
    font-size: 13px;
    padding: 8px;
    color: #696969;
    text-transform: capitalize;
}

.navbar .signup-btn{
    color: #AD4C4C;
    border: 2px solid #AD4C4C;
    border-radius: 5px;
}
.title p{
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  font-style: normal;
}

.b-red{
  color: #AD4C4C; 
}
.fb {
  text-align: center;
  padding: 30px;
  margin: 10px 0px;
    
}
.fb h2{
   font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #4E4D4D;
}

.fb p{
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #696969;
}

.location{
  margin: 20px 0px;
}

.location h3{
  color: #000000;
  padding: 10px 0px;
  }

.location select{
  width: 100%; 
  padding:5px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  color: #696969;
}

.pick-interest{
  margin: 20px 0px;
}

.pick-interest h3{
  padding: 10px 0px;
  color: #000000;
}
.group-interest{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /*gap: 10px;*/
  }

.fastfood,.veg-fruit, .drink-cock, .Restaurant{
  margin:10px;
  padding:10px;
  border: 1px solid #C4C4C4;
  border-radius:  5px;
  
}

.fastfood h4,.veg-fruit h4, .drink-cock h4, .Restaurant h4 {
  color: #AD4C4C;
  font-size: small;
}

.fastfood p,.veg-fruit p, .drink-cock p, .Restaurant p {
  color: #696969;
  font-size: small;
}

.fastfood img,.veg-fruit img, .drink-cock img, .Restaurant img {
  color: #696969;
  font-size: small;
  padding:10px;
}

.service{
  margin: 40px 0px;
}

.service h3{
  padding: 10px 0px;
  color: #000000;
  text-align: center;
  font-size: 20px;
}

.serve{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /*gap:10px;*/
}

.serve-where, .serve-want, .serve-run{
  margin:10px;
  padding:10px;
  text-align: center;
}

.serve-where h4, .serve-want h4, .serve-run h4 {
  color: #696969;
  padding: 10px 5px
}

.serve-where p, .serve-want p, .serve-run p {
  color: #696969;
  font-size: medium;
  padding: 5px 40px 
}

.serve-run img,.serve-want img, .serve-where img {
  padding:10px;
  width:70%
  
}
hr{
  margin: 40px 0px;
}
.footer1{
  text-align: center;
  padding: 20px 0px;
}
.footer1 li{
  padding: 10px;
  list-style-type: none;
  display: inline-block;
}

#term{
  float: left;
}

#copy{
  float:right;
}

/*
@media screen and (min-width:480px){
  .fb {
    text-align: left;
    padding: 0px;
    margin: 0px 0px;
    font-size: small; 
  }
  
  .navbar{
    margin-bottom: 40px;;
  }

  .pick-interest{
    margin: 20px 0px;
  }
  
  .pick-interest h3{
    padding: 10px 0px;
    color: #000000;
  }
  .group-interest{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .fastfood,.veg-fruit, .drink-cock, .Restaurant{
    margin:10px;
    padding:10px;
    border: 1px solid #C4C4C4;
    border-radius:  5px;
    
  }
  
  .fastfood h4,.veg-fruit h4, .drink-cock h4, .Restaurant h4 {
    color: #AD4C4C;
    font-size: medium;
  }
  
  .fastfood p,.veg-fruit p, .drink-cock p, .Restaurant p {
    color: #696969;
    font-size: medium;
  }
  
  .fastfood img,.veg-fruit img, .drink-cock img, .Restaurant img {
    color: #696969;
    font-size: small;
    padding:10px;
  }
  
  .service{
    margin: 40px 0px;
  }
  
  .service h3{
    padding: 10px 0px;
    color: #000000;
    text-align: center;
    font-size: 20px;
  }
  
  .serve{
    display: block;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .serve-where, .serve-want, .serve-run{
    margin:10px;
    padding:10px;
    text-align: center;
  }
  
  .serve-where h4, .serve-want h4, .serve-run h4 {
    color: #696969;
    padding: 10px 5px
  }
  
  .serve-where p, .serve-want p, .serve-run p {
    color: #696969;
    font-size: medium;
    padding: 5px 40px 
  }
  
  .serve-run img,.serve-want img, .serve-where img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: 100px;

    
  }
  hr{
    margin: 40px 0px;
    color:#696969
  }
  .footer1{
    text-align: center;
    padding: 20px 0px;
  }
  .footer1 li{
    padding: 10px;
    list-style-type: none;
    display: inline-block;
  }
  
  #term{
    color: #696969;
    font-weight: 400;
    text-align: center;
    }
  
  #copy{
    color: #696969;
    font-weight: 400;
    text-align: center;
    
  }
}


@media screen and (max-width:760px){
   .pick-interest{
    margin: 20px 0px;
  }
  
  .pick-interest h3{
    padding: 10px 0px;
    color: #000000;
  }
 
   .fastfood,.veg-fruit, .drink-cock, .Restaurant{
    margin:5px;
    padding:10px;
    border: 1px solid #C4C4C4;
    border-radius:  5px;
    
  }
  
  .fastfood h4,.veg-fruit h4, .drink-cock h4, .Restaurant h4 {
    color: #AD4C4C;
    font-size: small;
  }
  
  .fastfood p,.veg-fruit p, .drink-cock p, .Restaurant p {
    color: #696969;
    font-size: small;
  }
  
  .fastfood img,.veg-fruit img, .drink-cock img, .Restaurant img {
    color: #696969;
    font-size: small;
    padding:10px;
  }
  
  .service{
    margin: 40px 0px;
  }
  
  .service h3{
    padding: 10px 0px;
    color: #000000;
    text-align: center;
    font-size: 20px;
  }
  
  
  
  .serve-where, .serve-want, .serve-run{
    margin:10px;
    padding:10px;
    text-align: center;
  }
  
  .serve-where h4, .serve-want h4, .serve-run h4 {
    color: #696969;
    padding: 10px 5px;
    font-size: small;
  }
  
  .serve-where p, .serve-want p, .serve-run p {
    color: #696969;
    font-size: small;
    padding: 5px 10px 
  }
  
  .serve-run img,.serve-want img, .serve-where img {
    padding:10px;
    width:70%
    
  }
  hr{
    margin: 40px 0px;
  }
  .footer1{
    text-align: center;
    padding: 20px 0px;
  }
  .footer1 li{
    padding: 10px;
    list-style-type: none;
    display: inline-block;
  }
  
  #term{
    color: #696969;
    font-weight: 400;
    text-align: center;
    
    font-size: small;
  }
  
  #copy{
    color: #696969;
    font-weight: 400;
    text-align: center;
    
    font-size: small
}
}