body{
    margin-left: 2px;
}
h4{
    position: absolute;
    padding: 3px;
    float: left;
    margin-top: 18px;
}
ul{
    width: auto;
    float: right;
    margin-top: 2px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

 .head{
    margin-left: 40%;
 }

.st{
    margin-left:-8%;
    opacity: 0.8;
}

.in{
    width:90%;
    height:30px;
    border-radius:4px;
}
.comp{
display: flex;
padding: 2px;
}

.com{
    margin-left: 20px;
    width: 25%;
}

.omp{
    display: flex;
padding: 2px;
}

.mp{
width: 75%;
margin-left: 30px;
}

.we{
     margin-left:38%;
    }

    .tat{
        margin-top: 10%; 
        margin-left: 44%;
    }
.s{
    display: flex;
    justify-content: center;
    margin-top: 6.5%;
    margin-left: 50px;
}
.sm{
    padding: -90px;
    margin: -80px;
}

.spi{
    float:right; margin-top:-19px;
}

@media screen and (max-width: 600px) {
    
    ul{
        width: auto;
        margin-right:6%;
        margin-top: 15px;
    }

    li{
        display: inline-block;
        padding: 3px;
    }
    
     .head{
    margin-left: 1%;
 }
 .st{
    margin-left:-1%;
}
.in{
    width: 80%;
}
.comp{
    display: block;
    padding: 2px;
  
    }

    .com{
        border: 1px solid rgba(187, 176, 176, 0.8);
        border-radius: 3px;
        width: 80%;
    }

    .we{
        margin-left: 20%;
    }

    .omp{
        display: block;
        margin-left: 10%;
    }
    
   .tat{
    margin-top: -3%;
     margin-left: 35%;
   }

.s{
    margin-top: 25%;
    margin-left: 34%;
}

.spit{
    position: absolute;
    top:310%;
    left:20%;
    opacity: 0.7;
}

.spi{
position: absolute;
top: 320%;
left: 20%;
opacity: 0.7;
}

}

@media screen and (min-width: 768px) {
    
    ul{
        width: auto;
        margin-top: 2px;
        margin-right: 19%;
    }
    
    li{
        display: inline-block;
        padding: 7px 10px;
    }
    
     .head{
        margin-left: 25%;
     }

     .st{
        margin-left:-8%;
        opacity: 0.8;
    }
    
    .in{
        width:80%;
        height:30px;
        border-radius:4px;
    }
    .comp{
    display: flex;
    padding: 2px;
    margin-left:-3%;
    }
    
    .com{
        margin-left: 20px;
        width: 19%;
    }
    
    .omp{
        display: flex;
    padding: 2px;
    margin-left:-4.5%;
    }
 
    .mp{
        width: 25%;
        margin-left: 30px;
        }
        
        .we{
             margin-left:28%;
            }
        
            .tat{
                margin-top: 2%; 
                margin-left: 34%;
            }
        .s{
            display: flex;
            justify-content: center;
            margin-top: 9.5%;
            margin-left: 5px;
        }
        .sm{
            padding: -90px;
            margin: -80px;
        }
        
        .spi{
         margin-top:-19px;
         margin-right: 10%;
        }
}

@media screen and (min-width: 1200px){
    ul{
        width: auto;
        margin-right:5%;
        margin-top: 15px;
    }

    li{
        display: inline-block;
        padding: 3px;
    }
    
     .head{
    margin-left: 1%;
 }
 .st{
    margin-left:-1%;
}
.in{
    width: 80%;
}
.comp{
    display: block;
    padding: 2px;
  
    }

    .com{
        border: 1px solid rgba(187, 176, 176, 0.8);
        border-radius: 3px;
        width: 80%;
    }

    .we{
        margin-left: 20%;
    }

    .omp{
        display: block;
        margin-left: 15%;
    }
    
   .tat{
    margin-top: -3%;
     margin-left: 35%;
   }

.s{
    margin-top: 25%;
    margin-left: 34%;
}

.spit{
    position: absolute;
    top:310%;
    left:20%;
    opacity: 0.7;
}

.spi{
position: absolute;
top: 320%;
left: 20%;
opacity: 0.7;
}

}

@media screen and (min-width: 1200px) {
    
    ul{
        width: auto;
        float: right;
        margin-top: 2px;
    }
    
    li{
        display: inline-block;
        padding: 15px 30px;
    }
    
     .head{
        margin-left: 40%;
     }

     .st{
        margin-left:-8%;
        opacity: 0.8;
    }
    
    .in{
        width:90%;
        height:30px;
        border-radius:4px;
    }
    .comp{
    display: flex;
    padding: 2px;
    }
    
    .com{
        margin-left: 20px;
        width: 25%;
    }
    
    .omp{
        display: flex;
    padding: 2px;
    }
 
    .mp{
        width: 75%;
        margin-left: 30px;
        }
        
        .we{
             margin-left:38%;
            }
        
            .tat{
                margin-top: 10%; 
                margin-left: 44%;
            }
        .s{
            display: flex;
            justify-content: center;
            margin-top: 6.5%;
            margin-left: 50px;
        }
        .sm{
            padding: -90px;
            margin: -80px;
        }
        
        .spi{
            float:right; margin-top:-19px;
        }
}