body{
    margin-left: 2%;

}
header{
    height: 70px;
}
h4{
    position: absolute;
    padding: 3px;
    float: left;
    margin-top: 18px;
}
ul{
    width: auto;
    float: right;
    margin-top: 2px;
}

li{
    display: inline-block;
    padding: 15px 30px;
}

.first{
    display: flex;

}

.img1{
    padding: 100px;
    margin-top: -4%;
}
.second{
    display: flex;
}

.img2{
    padding: 100px;
    margin-top: -4%;
}

@media screen and (max-width: 600px) {
    
    ul{
        margin-top: 3%;
    }
    li{
        padding: 5px;
    }
    
    .first, .second{
        display:block;
    }
    .img1, .img2{
        padding:70px;
        margin-top:-90px;
    }
    img{
        width: 100%;
    }

    .cap{
        position: absolute;
        top: 199%;
        right: 35%;
        width: 90px;
    }
   
    .capp{
        position: absolute;
        top:372%;
        right: 35%;
        width:90px;
    }
    .chick{
        margin-top: 244%;
    }
    .shar{
        margin-top: 2px;
    }

}

@media screen and (min-width: 800px) {
    
    header{
        height: 70px;
    }
    h4{
        position: absolute;
        padding: 3px;
        float: left;
        margin-top: 18px;
    }
    ul{
        width: auto;
        float: right;
        margin-top: 2px;
    }
    
    li{
        display: inline-block;
        padding: 15px 30px;
    }
    
    .first{
        display: flex;
    
    }
}

@media screen and (min-width: 1200px) {
    header{
        height: 70px;
    }
    h4{
        position: absolute;
        padding: 3px;
        float: left;
        margin-top: 18px;
    }
    ul{
        width: auto;
        float: right;
        margin-top: 2px;
    }
    
    li{
        display: inline-block;
        padding: 15px 30px;
    }
    
    .first{
        display: flex;
    
    }
}