[submodule "submissions/hosannaBivan/submissions/hosannaBivan/REACT/react-app"]
	path = submissions/hosannaBivan/submissions/hosannaBivan/REACT/react-app
	url = git@github.com:Dufuna-CodeCamp/react-app.git
