* {
    box-sizing: border-box;
}

body {
    margin: 20px;
    padding: 10px;
    font-family: "Helvetica";

}

nav a {
   text-decoration: none;
   color: black;
   margin-right: 15px;
   padding-right: 15px;
}

nav ul {
    list-style-type: none;
    
}

nav a[href*='/'] {
    margin: auto;
}

nav li {
    
    float: right;

}


li a  {
    display: inline;
    text-align: center;
    padding: 8px;
    text-decoration: none;

}


button {
    color: red;
}


select {
    width: 1200px;
}

select:focus {
    min-width: 1000px;
    width: auto;
}


.foodbag
 {
    text-align: center;
}


h3 {
    text-align: center;
}


.box {
    display: flex;
    position: relative;
    gap: 10px;
}

.box-one {
    background-color: white;
    width: 300px;
    height: 170px;
    border:  solid whitesmoke;
    display: block;
    padding: 10px;
}


.box-two {
    background-color: white;
    width: 300px;
    height: 170px;
    border:  solid whitesmoke;
    display: block;
    padding: 10px;
}
.box-three {
    background-color: white;
    width: 300px;
    height: 170px;
    border:  solid whitesmoke;
    display: block; 
    padding: 10px;
    
}

.box-four {
    background-color: white;
    width: 300px;
    height: 170px;
    border:  solid whitesmoke;
    display: block;
    padding: 10px;
}

.box2 {
    position: relative;
    display: flex;
    gap: 100px;
}

.box-five {
    background-color: white;
    width: 350px;
    height: 350px;
    border: none solid white;
    display: block;
    padding: 10px;
}


.box-six {
    background-color: white;
    width: 350px;
    height: 350px;
    border: none solid white;
    display: block;
    padding: 10px;
}

.box-seven {
    background-color: white;
    width: 350px;
    height: 350px;
    border: none solid white;
    display: block;
    padding: 10px;
}


span {
    color: red;
}

footer   {
    display:flex;
    justify-content: center;
    
}