* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-left: 65px;
  line-height: 1.5;
}

header {
  display: flex;
  padding: 30px;
}

.header-heading {
  margin-right: auto;
  font-size: 22px;
}

.foodbag-span{
  color: #B76262;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 25px;
}

.bigheading-section {
  text-align: center;
  margin-top: 95px;
}

.bigheading-header {
  font-size: 40px;
  color: #646363;
  margin-bottom: 5px;
}

.bigheading-text {
  color: #646363;
}

button {
  text-decoration: none;
  background-color: white;
  color: #C17979;
  border-color:#C17979;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
}

form {
  margin-top: 70px;
}

.select {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 50px;
}

#location {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  width: 98%;
  font-size: 18px;
  color:#646363;
 border: 1px solid #646363;
 border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.food-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-selection {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-right: 30px;
  margin-top: 0;
}

.food-selection-header {
  font-size: 18px;
  color: #B76262;
}

.section-2 {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.service-selection-container {
  display: flex;
  justify-content: space-between;
}

.service-selection-header {
  font-size: 20px;
}

.service-selection-text {
  color: #646363;
  width: 300px;
  margin-top: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.contact-text {
  color: #646363;
}

.contact-image {
  margin-top: 30px;
}

footer img {
  padding: 0 15px;
}

.contact-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  color: #646363;
}

@media screen and (max-width:400px) {
  .contact-copyright {
    text-align: center;
  }
}