* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding-left: 65px;
  line-height: 1.5;

}

header {
  display: flex;

}

.header-heading {
  margin-right: auto;
  font-size: 22px;
}

.foodbag-span{
  color: #B76262;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  margin: 25px;
}


.bigheading-section {
  text-align: center;
  margin-top: 95px;
}

.bigheading-header {
  font-size: 40px;
  color: #646363;
  margin-bottom: 5px;
}

.bigheading-text {
  color: #646363;
}


form {
  margin-top: 70px;
}

.select {
  font-size: 22px;
  font-weight: 500;

}

.food-selection-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.food-selection {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-right: 30px;
  margin-top: 0;
}

.food-selection-header {
  font-size: 18px;
  color: #B76262;
}

.section-2 {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.service-selection-container {
  display: flex;
  justify-content: space-between;
}

.service-selection-header {
  font-size: 20px;
}

.service-selection-text {
  color: #646363;
  width: 300px;
  margin-top: 10px;
}

.icon-section {
  text-align: center;
}


