* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-image-container {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.main-text-container {
    margin: 0;
    position: absolute;
    top: 70%;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}