* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 50px 100px;
    margin-bottom: 30px;
}

nav ul {
    display: flex;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 0 50px;

}
nav ul li a {
    text-decoration: none;
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
nav ul li a:hover {
    color: blue;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
}
.signup {
    color: red;
    background-color: white;
    border: 1px solid red;
    padding: 8px 15px;
    border-radius: 3px;
    width: 92px;

}

span {
    color: red;
}

main {
    position: relative;
}

.vendor-desc {
    position: absolute;
    top: -50px;
    left: 100px;
    height: 21px;
}

.home {
    color: gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

}
.vendor {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
      color: black  
}

.vendor-head {
    font-size: 25px;
    font-weight: 500;
    line-height: 45px;
    color: black;
    padding-top: 30px;
}

.KFC-img {
    display: flex;
    align-items: center;
    gap: 20px;
 }
 
 h5 {
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    color: black;
 }
  a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    text-decoration: none;
    color: red;
 }
 a:hover {
    color: blue;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
 }
 .KFC {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px;
    margin-bottom: 50px;
    margin-top: -90px;
 }
 .price {
    display: flex;
    justify-content: space-between;
 }
 .list {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: gray;
    padding-bottom: 20px;
 }
 .amount {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: green;
 }
 .cart{
    font-size: 16px;
    font-weight: 600;
    line-height: 12px;
    color: red; 
    background-color: white;
    border: 1px solid red;
    padding: 10px 22px;
    border-radius: 3px;
    width: 150px;  
    text-align: center;  
    cursor: pointer;
 }
 .KFC1{
    margin-bottom: 2em;
 }
 hr {
    position: relative;
    width: 1400px;
    left: 100px;
    right: 100px;
    top: -30px;
    bottom: 50px;
    color: gray;
 }

 .CR-logo{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 70px 100px;
 }

 .view {
    padding-top: 14px;
 }

 
 
 