.verify-container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}

.nav-link-verify {
    margin-top: 7px;
}

.nav-link-verify ul {
    display: flex;
    justify-content: space-around;
    width: 250px;
    list-style: none;
}

.nav-link-verify ul li {
    font-size: 16px;
    top: 16px;
}

.info-container {
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 60px;
}


/* form */

.div-container {
    width: 1080px;
    margin: 0 auto;
    margin-top: 150px;
}

.div-selection {
    width: 1080px;
    margin: 0 auto;
}


/* {
    width: 1080px;
    margin-top: 50px;
    margin: 0 auto;
} */

.div-number {
    width: 1080px;
    margin: 0 auto;
    margin-top: 25px;
}

.div-name {
    width: 1080px;
    margin: 0 auto;
    margin-top: 25px;
}

.form-control {
    width: 1080px;
    height: 48px;
}

.form-control-1 {
    width: 540px;
    height: 48px;
}

.form-control-2 {
    width: 540px;
    height: 48px;
}

.class-one {
    margin-left: 175px;
    margin-top: 25px;
}

.class-two {
    margin-left: 60px;
    margin-top: 25px;
}


/* btn pay */

.btn-pay {
    margin-top: 50px;
}

hr {
    margin-top: 50px;
    width: 1080px;
    margin-left: 12.5%;
}

.p-h1 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 65%;
    color: greenyellow;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.p-h2 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media (max-width: 540px) {
    .verify-logo {
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
    .info-container {
        margin-left: 10px;
    }
    .div-container {
        margin-left: 10px;
    }
    .form-label {
        margin-left: 30px;
    }
    .form-control {
        width: 450px;
        height: 48px;
        margin-left: 30px;
    }
    .class-one {
        margin-left: -10px;
        margin-top: 25px;
    }
    .class-two {
        margin-left: -10px;
        margin-top: 25px;
    }
}

@media (max-width: 360px) {
    hr {
        width: 0px;
    }
    .verify-container {
        max-width: 540px;
    }
    .form-control {
        width: 300px;
        height: 48px;
        margin-left: 30px;
    }
    .btn-pay {
        width: 300px !important;
    }
    .food-logo h3 {
        font-size: 16px;
    }
}