* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
  font-family: "poppins";
}

.logo {
  display: flex;
  font-size: 20px;
  font-weight: 500px;
  align-items: center;
}
#button {
  border: 1px solid #ad4c4c;
  width: 92px;
  height: 40px;
  border-radius: 5px;
  color: #ad4c4c;
  background-color: #fff;
}
.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex: 1;
}

.nav ul li {
  display: inline-block;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#cart,
#login {
  margin-right: 50px;
}
.top div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 145px;
}
.top-header h3 {
  font-size: 40px;
  font-style: semi-bold;
  color: #4e4d4d;
}
.top-header p {
  font-size: 20px;
  color: #696969;
}
.location {
  margin-top: 80px;
}
.location h3 {
  color: #000;
  margin-bottom: 20px;
  font-weight: 500;
}
.select {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 60px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  color: #696969;
  font-size: 20px;
  appearance: none;
  background-image: url("../images/arrow_down_icon.svg");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
}

.placeholder {
  display: none;
}

.interest {
  margin-top: 42px;
  width: 100%;
}
.interest h4 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
.choices {
  display: grid;
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}
.choices div {
  min-width: 295px;
  /* margin-right: 20px; */
  height: 196px;
  box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 30px;
  border-radius: 3px;
  /* color: #a5a5a5; */
}

.choices_title {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
  color: red;
}
.header-gray{
  color:#a5a5a5;
}
.header-color {
  color: #ad4c4c;
}

.choices div p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
}
.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 72px;
  margin-bottom: 80px;
}

.service-option {
  width: 100%;
}

.service-title {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #4e4d4d;
  font-weight: 600;
}
.service-heading {
  font-size: 25px;
  color: #696969;
  font-weight: 500;
  margin-top: 40px;
}
.service-info {
  font-size: 20px;
  font-weight: 400;
  color: #a5a5a5;
}
.service-img {
  width: 300px;
  height: 225px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-top: 81px;
  width: 100%;
  align-items: center;
}
.contact-links {
  margin-top: 30px;
}
.contact-title {
  color: #696969;
}
.contact-links img {
  padding: 0 15px;
}
.contact-copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 137px;
  margin-top: 48px;
  color: #696969;
  font-size: 18px;
}
.line-break {
  margin-top: 80px;
}
@media screen and (max-width: 1024px) {
  .choices {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, 1fr));
    row-gap: 20px;
  }
  .service {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .contact-copyright p:last-child {
    justify-self: end;
    align-self: center;
  }
  /* .service div{
    min-width: 300px;
     */
}

@media screen and (max-width: 425px) {
  .nav ul {
    font-size: 10px;
    display: flex;
    align-items: center;
  }
  .logo {
    font-size: 16px;
  }

  body {
    margin: 30px 20px;
  }

  #cart,
  #login {
    margin-right: 20px;
  }
  #button {
    width: 74px;
    height: 32px;
    font-size: 10px;
  }

  .choices {
    grid-template-columns: 1fr;
    grid-auto-columns: minmax(320px, auto);
    row-gap: 20px;
  }
  .top div {
    align-items: unset;
    margin-top: 30px;
  }
  .top-header h3 {
    font-size: 20px;
  }
  .top-header p {
    font-size: 12px;
  }
  .location h3 {
    font-size: 12px;
  }
  .location {
    margin-top: 30px;
  }
  .select {
    max-width: 320px;
    font-size: 12px;
  }
  .service {
    /* display: grid; */
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .choices div h4 {
    font-size: 16px;
  }
  .choices div p {
    font-size: 12px;
  }
  .choices img {
    height: 30px;
    width: 30px;
  }
  .service-title {
    margin-top: 30px;
    font-size: 20px;
  }
  .service-img {
    width: 200px;
    height: 150px;
  }
  .service-heading {
    font-size: 15px;
  }
  .service-info {
    font-size: 10px;
  }
  .contact-copyright {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 32px;
  }
  .contact-copyright p:last-child {
    margin-top: 20px;
  }
  .line-break {
    margin-top: 30px;
  }
}
