* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

nav h1 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

/* nav h1 {
} */

nav span {
  color: #ad4c4c;
}

nav ul {
  display: flex;
  gap: 35px;
  font-size: 16px;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

nav ul a {
  text-decoration: none;
  color: #696969;
}

nav button {
  font-size: 16px;
  padding: 5px 15px;
  background-color: white;
  border: 1px solid #ad4c4c;
  /* border-color: #ad4c4c; */
  color: #ad4c4c;
  cursor: pointer;
  border-radius: 3px;
}

.section-1 {
  text-align: center;
  margin-bottom: 50px;
}

.section-1 h1 {
  font-size: 40px;
  font-weight: 600;
}

.section-1 p {
  margin-top: 8px;
  font-size: 20px;
}

/* SECTION TWO */
.section-2 p {
  margin-bottom: 10px;
  /* font-size: 20px; */
}

.where,
.pick {
  font-size: 20px;
  font-weight: 600;
  /* color: #000000; */
}

select {
  font-size: 20px;
  color: #696969;
  font-weight: 400;
}

.section-2 form {
  margin-bottom: 20px;
}

.p-1 {
  margin-top: 5px;
  font-size: 18px;
}

.p-2 {
  font-size: 14px;
}

.section-2 select {
  width: 100%;
  padding: 10px;
}

.section-2 .boxes {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.section-2 .bx-1 {
  border: 1px solid #696969;
  padding: 10px 25px;
}

.bx-1 img {
  height: 50px;
  /* margin-bottom: 15px; */
}

.p {
  margin: 10px 0;
}

.section-3 {
  margin-top: 80px;
  margin-bottom: 60px;
}

.section-3 h1 {
  text-align: center;
  font-size: 30px;
}

.t {
  font-size: 25px;
  margin-bottom: 10px;
}

.s {
  font-size: 20px;
}

.section-3 .box {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.box {
  margin-top: 80px;
}

.one,
.two,
.three {
  text-align: center;
  padding: 15px;
}

hr {
  width: 100%;
  /* color: #e6e6e6; */
  border: 1px solid #69696951;
}

.section-4 {
  margin: 50px 0;
  text-align: center;
  align-content: center;
}

.section-4 h1 {
  font-size: 18px;
  color: #696969;
}

.image-box {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  gap: 35px;
  display: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  font-size: 18px;
}

/* MEDIA QUERY */
@media (max-width: 1230px) {
  .container {
    width: 1100px;
  }
}

@media (max-width: 1120px) {
  .container {
    width: 950px;
  }

  .image {
    width: 250px;
  }
}

@media (max-width: 970px) {
  .container {
    width: 840px;
  }

  .food {
    width: 30px;
  }

  .image {
    width: 230px;
  }

  .p-1 {
    font-size: 15px;
    font-weight: 500;
  }

  .where {
    margin-bottom: 15px;
  }

  .t {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .s {
    font-size: 18px;
  }
}

@media (max-width: 880px) {
  .container {
    width: 750px;
  }

  .image {
    width: 230px;
  }

  .section-2 form select {
    margin-bottom: 25px;
  }

  .section-2 .bx-1 {
    padding: 10px 18px;
  }

  .section-2 .boxes {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .section-3 .box {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }

  .food {
    width: 45px;
  }

  .p-1 {
    font-size: 18px;
  }

  .p-2 {
    font-size: 16px;
  }

  nav h1 {
    font-size: 25px;
  }

  nav ul {
    font-size: 18px;
  }
}

@media (max-width: 820px) {
  .container {
    width: 680px;
  }

  footer {
    font-size: 16px;
  }

  nav ul {
    font-size: 16px;
  }
}

@media (max-width: 740px) {
  .container {
    width: 600px;
  }

  nav h1 {
    font-size: 20px;
  }

  footer {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .container {
    width: 550px;
  }

  .p-2 {
    font-size: 14px;
  }

  footer {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 450px;
  }

  .image {
    width: 250px;
  }

  .t {
    font-size: 20px;
  }

  .s {
    font-size: 16px;
  }

  .section-2 .boxes {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }

  .food {
    width: 40px;
  }

  .p-1 {
    font-size: 20px;
    margin-top: 10px;
  }

  .p-2 {
    font-size: 18px;
  }

  .section-1 {
    text-align: left;
  }

  .section-1 h1 {
    font-size: 30px;
    font: 600;
  }

  .section-1 p {
    /* margin-top: 8px; */
    font-size: 18px;
  }

  .section-2 form {
    margin-bottom: 30px;
  }

  .section-3 .box {
    display: grid;
    grid-template-columns: 1fr;
  }

  hr {
    opacity: 0.5;
  }
}

@media (max-width: 500px) {
  .container {
    width: 350px;
  }

  nav h1 {
    font-size: 18px;
  }

  .image {
    width: 300px;
  }

  .pick {
    margin-top: 30px;
  }

  select {
    font-size: 16px;
  }

  .section-2 .bx-1 {
    border: 1px solid #696969;
    opacity: 0.8;
  }

  .s {
    font-size: 16px;
  }

  nav ul {
    gap: 20px;
    /* justify-content: space-between; */
  }
}

@media (max-width: 410px) {
  .container {
    width: 300px;
  }

  .image {
    width: 250px;
  }

  nav ul {
    gap: 10px;
    font-size: 12px;
  }

  nav button {
    font-size: 14px;
  }

  .copy {
    line-height: 1.5;
  }

  .section-1 p {
    font-size: 14px;
  }

  .section-3 h1 {
    font-size: 20px;
  }

  .section-1 h1 {
    font-size: 16px;
  }
}
