* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header p {
  font-weight: bold;
  display: inline;
  font-size: 20px;
}

.red-color,
.error-message {
  color: #ff0000;
}
.gray-color {
  color: #a5a5a5;
}
header ul {
  list-style: none;
}

header ul li {
  display: inline;
  padding: 5px 10px;
  margin-left: 15px;
}

header ul li a {
  text-decoration: none;
  color: gray;
  display: inline-block;
  font-size: 15px;
}

header ul li:last-child {
  color: red;
  border-radius: 4px;
  border: 1px solid red;
}

main {
  text-align: center;
  margin: 100px 20px;
}

main h2 {
  font-weight: 600;
  font-size: 25px;
  padding-bottom: 5px;
}

main p {
  color: gray;
  font-size: 14px;
}

section {
  margin: 50px;
}

option {
  width: 100%;
}

.location label {
  font-weight: bold;
}
.location input {
  outline: none;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-top: 5px;
}

#locations {
  border: 2px solid blue !important;
}

.interests {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid #ccc;
}

.interest label {
  font-weight: bold;
}
.interest p:nth-of-type(2) {
  font-size: 14px;
  color: gray;
}
.fast-food,
.vegetable-fruit,
.drinks-cocktail,
.restaurants {
  border: 1px solid #ccc;
  padding: 20px 40px 20px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

.interests p:nth-of-type(1) {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.service-method h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.methods {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 70px;
  border-bottom: 1px solid #ccc;
}

.methods p:nth-of-type(1) {
  font-size: 18px;
  font-weight: bold;
}

.methods p:nth-of-type(2) {
  margin-top: 10px;
  color: gray;
}

.footer {
  margin: 50px;
}

.footer-socials {
  text-align: center;
  font-size: 18px;
}

.footer-images {
  display: inline-block;
}

.footer img {
  margin: 10px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: 14px;
}

/* ========MEDIA QUERIES======== */
@media screen and (max-width: 992px) {
  header {
    padding: 20px;
  }

  main {
    text-align: center;
    margin: 80px 20px;
  }

  section {
    margin: 35px;
  }

  .interests {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .methods {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .footer-info p:last-child {
    width: 70%;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }

  main {
    text-align: left;
    margin: 50px 20px;
  }

  section {
    margin: 20px;
  }

  .interests {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }

  .interests > * {
    margin: 0;
  }

  .methods {
    flex-direction: column;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
  }

  .footer-info p:last-child {
    width: 70%;
    text-align: center;
  }
}
