* {
    box-sizing: border-box;  
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* div {
    border: 1px solid black;

} */

header span {
    color: #AD4C4C;
}

.top-left {
    margin: 50px 0 0 90px;
    font-weight: 500;
    font-size: 20px;
}

.header-nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    margin: -30px 5.56vw 0 0;
}

/* Navigation links */
.header-nav a {
    text-decoration: none;
    color: #696969;
    font-weight: 400;
    font-size: 16px;
}

.header-nav input {
    border: 1px solid #AD4C4C;
    border-radius: 5px;
    height: 40px;
    width: 92px;
    background-color: #fff;
    font-weight: 500;
    font-size: 16px;
    color: #AD4C4C;
}

.food {
    font-style: normal;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.food h1 {
    color: #4E4D4D;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
}

.food p {
    font-weight: 400;
    font-size: 20px;
    color: #696969;
    margin-top: 0;
}

/* Address input field */

.location-div {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

#location {
    width: 100%;
    padding-left: 35px;
    height: 50px;
    border-radius: 5px;
    text-indent: 1px;
    text-overflow: '';
    background: url(/images/keyboard_arrow_down.svg) no-repeat right center;
    border: 1px solid #C4C4C4;
}

#location:focus {
    outline: none;
}

input::-webkit-calendar-picker-indicator {
    display: none !important
}

input:hover {
    cursor: context-menu;
}

/* Pick an interest */
label {
    margin-left: 7vw;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

#interest {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: fit-content;
}

#interest div {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 169px;
    line-height: 2px;
    align-items: flex-start;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
}

#interest div p:nth-of-type(1) {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    color: #A5A5A5;
}

#interest div p:nth-of-type(2) {
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #A5A5A5;
}

#interest div input {
    margin-left: 20px;
}

/* How we serve you */
.serve {
    margin-top: 82px;
    margin-bottom: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 30px;
    color: #4E4D4D;
}

#procedure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

#procedure div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    word-break: break-word;
    color: #A5A5A5;
}

.first {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 0;
    color: #696969;
}

/* Footer & Social media icons */
.contact-us {
    width: fit-content;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    color: #696969;
    font-weight: 500;
    font-size: 18px;
}

.footer-nav {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer nav img {
    height: 200px;
    width: 200px;
}

.terms {
    width: 90vw;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 130px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    text-align: center;
}

.terms a {
    text-decoration: none;
    color: #696969;
}

/* Vendor's Page */

/* Home > Vendor Navigation links */
.home-vendor-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 92px;
    width: 115px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 90px;
}

.home-vendor-nav a {
    text-decoration: none;
    color: #C9C9C9;
}

.home-vendor-nav a:hover {
    color: black;
}

.home-vendor-nav .active a {
    color: black;
}

/* Buttons */
.add-to-cart-button {
    display: flex;
    width: 85vw;
    justify-content: left;
    margin-left: auto;
    margin-right: auto;
}

.add-to-cart-button div {
    display: flex;
    width: fit-content;
    margin-right: 160px;
}

button {
    background: #FFFFFF;
    border: 1px solid #AD4C4C;
    border-radius: 3px;
    width: 130px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    color: #AD4C4C;
}

/* MAIN CONTENT */

/* Heading */
.all-vendors {
    margin-top: 33px;
    width: fit-content;
    margin-left: 90px;
    font-weight: 500;
    font-size: 30px;
}

/* KFC Section */
.kfc-logo {
    display: flex;
    width: 100px;
    justify-content: space-between;
    margin-left: 90px;
    margin-top: 26px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -50px;
}

.view-all {
    width: fit-content;
    margin-right: 90px;
    margin-left: auto;
    margin-bottom: 43px;
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    color: #AD4C4C;
}

#kfc {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 86vw;
}

.item-price {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 85vw;
}

.item-price div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 260px;
    margin-top: 0;
}

.item-price div .price {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    font-size: 16px;
    color: #5EA304;
    margin-top: 0;
}

.item-price div .item {
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 16px;
    color: #4E4D4D;
    margin-top: 0;
}

/* Page break */
hr {
    margin-top: 61px;
    margin-bottom: 56px;
    width: 86vw;
    border: 1px solid #E6E6E6;
}

/* Chicken Republic Section*/
.chicken-republic-logo {
    display: flex;
    width: 220px;
    justify-content: space-between;
    margin-left: 90px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: -50px;
}

#chicken-republic {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 86vw;
}

main {
    margin-bottom: 110px;
}

/* Media Queries */

/* Media Queries for Landing Page */
@media screen and (max-width: 768px) and (min-width: 320px) {

    .top-left {
        margin: 23px 0 0 5.56vw;
        font-size: 16px;
    }

    .header-nav {
        width: 150px;
        margin: -30px 5.56vw 0 0;
    }

    .header-nav a {
        font-size: 10px;
    }

    .header-nav input {
        width: 74px;
        height: 32px;
        font-size: 10px;
    }

    .food {
        margin-top: 53px;
        margin-left: 5.56vw;
        text-align: left;
    }

    .food h1 {
        font-size: 20px;
    }

    .food p {
        font-size: 12px;
    }

    label {
        margin-left: 5.56vw;
        font-size: 12px;
    }

    .location-div {
        width: 89vw;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #location {
        height: 40px;
        padding: 10px;
    }

    #interest {
        width: fit-content;
        flex-direction: column;
        align-content: space-between;
        height: 624px;
        margin-top: 10px;
    }

    #interest div {
        width: 88.89vw;
        height: 141px;
        font-size: 16px;
    }

    .serve {
        margin-top: 60px;
        margin-bottom: 39.7px;
        font-size: 20px;
        flex-direction: column;
    }

    #procedure {
        flex-direction: column;
        align-content: space-between;
        width: 56vw;
        height: 750px;
    }

    #procedure div {
        width: 100%;
        height: 250px;
        font-size: 10px;
    }

    #procedure div img {
        width: 200px;
        height: 150.6px;
    }

    .first {
        font-size: 15px;
    }

    .contact-us {
        margin-top: 61px;
        font-size: 16px;
    }

    .footer nav img {
        height: 200px;
        width: 200px;
    }

    .terms {
        min-width: 57.5vw;
        margin-top: 36.5px;
        margin-bottom: 32px;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        word-break: break-word;
    }

    .terms a {
        text-decoration: none;
        color: #696969;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    #procedure div img {
        width: 200px;
        height: 150.6px;
    }

    #procedure div {
        font-size: 14px;
    }

    .first {
        font-size: 18px;
    }

    .serve {
        font-size: 25px;
    }

    #interest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 110px;
    }

    #interest div {
        font-size: 16px;
        width: 100%;
    }

    #interest div p:nth-of-type(1) {
        font-size: 16px;
    }

    .contact-us {
        margin-top: 10px;
    }

    .terms {
        margin-bottom: 50px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    #interest div p:nth-of-type(2) {
        font-size: 1.07vw;
    }
}
