*,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#container{
    margin: 25px;
}
a{
    text-decoration: none;
    color: black;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar span{
    color: #ad4c4c;
}
.right-nav{
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.rnc{
    margin-right: 15px;
}
.rnc3{
    border: 1px solid #ad4c4c;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 0;
}
.rnc3 a{
    color: #ad4c4c;
    font-weight: bold;
}
.rnc3:hover{
    background-color: #ad4c4c;
    color: white;
}
/* navigation bar ends */

.fb{
    font-size: 18px;
    color: #696969;
}
.fb-content{
    margin-top: 40px;
}
.fb-cont{
    font-size: 12px;
    margin-top: 5px;
}
.content1{
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
}
#location{
    border: 1px solid #A5A5A5;
    margin-top: 10px;
    padding: 10px 8px 10px 2px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    color: #ad4c4c;
}
.content2{
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
}
.content2a{
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
}
.content2a img{
    width: 25px;
}
.ff{
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    color: #A5A5A5;
}
.ff-cont{
    font-size: 12px;
    margin-top: 10px;
    color: #A5A5A5;
}
.address-bar {
    width:100%;
    height: 40px;
    padding: 2px;
    border: 1px solid #C4C4C4;
    border-radius: 5px; 
  }
.illustrator1{
    margin-top: 20px;
    text-align: center;
}
.illustrator2{
    text-align: center;
}
.illustrator3{
    text-align: center;
}
.illustrator1 img{
   margin-top: 20px;
    width: 70%;
}
.illustrator2 img{
    margin-top: 18px;
     width: 70%;
 }
 .illustrator3 img{
    margin-top: 20px;
     width: 70%;
 }
.line{
    margin-top: 60px;
    border: 1px solid #F2F2F2;
}
.hwsy{
    color: #696969;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
}
.p-head{
    margin-top: 20px;
    color: #696969;
    font-weight: bold;
}
.p-cont{
    width: 50%;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 10px;
    color: #A5A5A5;
    padding-bottom: 40px;
}
.p-head2{
    margin-top: 20px;
    color: #696969;
    font-weight: bold;
}
.p-cont2{
    width: 50%;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 10px;
    color: #A5A5A5;
    padding-bottom: 40px;
}
.p-head3{
    margin-top: 20px;
    color: #696969;
    font-weight: bold;
}
.p-cont3{
    width: 40%;
    margin: 0 auto;
    font-size: 10px;
    margin-top: 10px;
    color: #A5A5A5;
    padding-bottom: 40px;
}
.ctu{
    font: 16px;
    color: #696969;
    font-weight: bold;
}
.f-imgs{
    margin-top: 20px;
}
footer div img{
    margin-right: 10px;
    margin-left: 10px;
}
.tnc{
    margin-top: 30px;
    font-size: 12px;
}
.tnc a{
    color: #696969;
}
.copy{
    width: 70%;
    margin: 0 auto;
    color: #696969;
    margin-top: 20px;
    font-size: 12px;
    line-height: 18px;
}
footer{
    text-align: center;
    margin-top: 30px;   
}

@media screen and (min-width: 640px) {
    #container{
        margin: 40px 80px;
    }
    .logo{
        font-size: 20px;
    }
    .right-nav{
        font-size: 16px;
    }
    .fb{
        font-size: 40px;
    }
    .fb-cont{
        font-size: 20px;
    }
    .fb-content{
        text-align: center;
    }
    .way{
        font-size: 20px;
    }
    .content2{
        font-size: 20px;
        
    }
    .content2a{
        width: 100%;
        height: 169px;
        padding-top: 35px;
    }
    .ff{
        font-size: 18px;
        margin-top: 20px;
    }
    .ff-cont{
        font-size: 14px;
    }
    .hwsy{
        font-size: 30px;
        margin-top: 70px;
        text-align: center;
    }
    .illustrator{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .p-head,.p-head2,.p-head3{
        font-size: 16px;
    }
    .p-cont{
        font-size: 12px;
        width: 90%;
    }
    .p-cont2,.p-cont3{
        font-size: 12px;
        width: 70%;
    }
    .illustrator1{
        width: 34%;
        margin-top: 0;
    }
    .illustrator1 img{
        margin-top: 7px;
    }
    .illustrator3 img{
        margin-top: 10px;
    }
    .illustrator2{
        width: 32%;
    }
    .illustrator3{
        width: 34%;
    }
    .content2divs{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .tnc{
        width: 50%;
        margin-top: 20px;
        text-align: left;
    }
    .copy{
        width: 50%;
        margin-top: 20px;
        text-align: right;
    }
    #locations{
        font-size: 16px;
    }
    .footer-cont{
        display: flex;
        justify-content: space-between;
    }
    .content2divs{
        display: flex;
        flex-direction: column;
    }
    .content2divsa{
        display: flex;
        flex-direction: row;
        column-gap: 10px;

    }
    .content2divsb{
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
}
@media screen and (min-width: 992px){
    .content2divs{
        display: flex;
        flex-direction: row;
    }
    .content2divsa{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .content2divsb{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .p-head,.p-head2,.p-head3{
        font-size: 20px;
    }
    .p-cont{
        font-size: 18px;
        width: 90%;
    }
    .p-cont2,.p-cont3{
        font-size: 18px;
        width: 70%;
    }
}
