* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 50px 80px 50px;
    font-family: 'Poppins';
}

#logo {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

#logo span {
    color: #AD4C4C;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

}

nav a {
    text-decoration: none;
    color: #696969;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

nav ul li {
    display: inline;
    padding-left: 30px;
}

#signup-btn {
    border: 1px solid #AD4C4C;
    border-radius: 5px;
    color: #AD4C4C;
    box-sizing: border-box;
    padding: 6px 12px;
    font-weight: 500;
    font-style: normal;

}

.hero-text {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 5%;
    color: #4E4D4D;
}

.hero-text h3 {
    font-size: 40px;
    font-weight: 600;
}

.hero-text p {
    font-size: 20px;
}

.search p {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;

}

input[list] {
    padding: 10px;
    width: 100%;
    border: 1px solid #C4C4C4;
    font-family: 'Poppins';
    font-size: 20px;
}



.interest-heading {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 20px;

}

.interest {
    display: flex;
    gap: 20px;
    color: #A5A5A5;
}

.interest h4 {
    font-size: 18px;
    font-weight: 500;
}

.interest p {
    color: #A5A5A5;
    font-size: 14px;
    font-weight: 400;
}

.fast-food {
    padding: 33px;
    box-shadow: 1px 1px 10px 1px rgba(140, 140, 140, 0.309);
}

.Vegetables {
    padding: 33px;
    box-shadow: 1px 1px 10px 1px rgba(140, 140, 140, 0.309);
}

.Drinks {
    padding: 33px;
    box-shadow: 1px 1px 10px 1px rgba(140, 140, 140, 0.309);
}

.Restaurants {
    padding: 33px;
    box-shadow: 1px 1px 10px 1px rgba(140, 140, 140, 0.309);
}

hr {
    margin-top: 7%;
    margin-bottom: 7%;
    border: none;
    height: 1px;

    background-color: rgba(128, 128, 128, 0.256);
}


h2 {
    padding-bottom: 7%;
    font-size: 30px;
    color: #4E4D4D;
    text-align: center;
    font-weight: 600;
}

.service-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;

}

.service-flow h4 {
    font-size: 25px;
    color: #696969;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.service-flow p {
    color: #A5A5A5;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    width: 300px;
}

.fore-footer {
    margin-top: 14%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #696969;
}

.fore-footer div {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-text {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;

}