/*For Active Btns*/
.btn-active{	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: 1px solid #AD4C4C;
	align-items: center;
	background: #FFFFFF;
	color: #AD4C4C;
	font-family: Poppins;
	font-weight: 500;
}

/*For Disabled Btns*/
.icon-disable{
	width: 30px;
	height: 30px;
	top: 624px;
	left: 105.03px;
	gap: 0px;
	opacity: 0px;
	angle: 45 deg;
 	background-image: url('../html/img/disable.PNG'); 
}
/*For Hidden Btns*/
.btn-stnd{
	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: none;
	opacity: 0px;
	/* Vector */
	display: inline-flex;
	align-items: center;
	background: #A5A5A5;
	color: #E6E6E6;
	padding-left: 15px;
	display: none;
}

/*For Displayed Btns*/
.btn-stnd-display{
	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: none;
	opacity: 0px;
	/* Vector */
	display: inline-flex;
	align-items: center;
	background: #A5A5A5;
	color: #E6E6E6;
	padding-left: 15px;
}
.btn-stnd label{
	font-family: Poppins;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

