* {
  box-sizing: border-box;
}
body {
    max-width: 1240px;
    margin: 0px auto;
    font-family: poppins;

}
a {
  text-decoration:none;
  color: rgba(105, 105, 105, 1);

}
ul, ol {
  list-style-type: none;
}
 li{
  display:inline-grid;
  padding: 10px 30px;
}
.foodbag-head {
  font-size:20px;
  font-weight: medium;
  margin-top: 80px;
}
.foodbag-head li {
  display: inline;
  font-weight: regular;
  float: right;
  flex-wrap: wrap;
}
 span {
 color:#AD4C4C;
}
.signup {
  border: 1px solid #AD4C4C;
  border-radius: 5px;
}
main #head {
  text-align:center;
  }
#head h2 {
  font-size:40px;
  font-weight:20px;
  margin-top: 100px;
  margin-bottom: 0;  
}
#head p {
  margin-top:0;
  font-size:22px;
  font-weight:10;
}
 #address h4{
  margin-top: 60px;
  
}
.address-bar {
  width:100%;
  height: 40px;
  padding: 2px;
  border: 1px solid #C4C4C4;
  border-radius: 5px; 
} 
.services {
  margin-top: 40px;
}
.services ul {
  margin: 0;
}
.services #interest {
  color:#AD4C4C;
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.services li {
  border: 1px solid /* #C4C4C4 */ #FFFFF;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  height: 240px;
  box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.space1 {
  margin-top: 60px;
  margin-bottom: 60px;
  color:#F2F2F2;
}
.serve h2 {
  text-align: center;
  font-size:35px;
  font-weight:12px;
  color:#FFF11;
}
.serve li {
  margin: 10px;
  padding: 30px;
  
}
.serve #caps1 {
  padding: 0;
  text-align:center;
  margin:0;
  font-size: 25px;
  color:#696969;
}
.serve #caps2 {
  padding: 0;
  color:#A5A5A5;
  margin:0;
  text-align:center;
}
.space2 {
  margin-bottom: 20px;
  margin-top: 40px;
  color:#F2F2F2;
}
footer p {
  font-style: bold;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  coloe:#696969;
}
footer ul {
  list-style-type: inline;
  text-align: center;
  padding: 5px;
}
.foot {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    font-size: 18px;
}
.copright {
  float: right;
}

@media screen and (max-width:650px)  {
   .foodbag-head {
      font-size: 18px;
      }
   .foodbag-head li {
        font-size: 18px;
        letter-spacing: 0em;
       }
   #head h2 {
       font-size: 30px;
       line-height: 30px;
       text-align: center;
    }  
    #head p {
     font-size: 19px;
     text-align: center;
    }
    .services #interest, .services li {
      font-size: 16px;
    }
    .services ul {
      margin:10px;
      padding-left: 10px;
    }
    .serve h2 {
      font-size: 30px;
    }
    .serve #caps1 {
      font-size: 22px;
    }
    .serve #caps2 {
      font-size: 14px;
      text-align: center;
    }
    .cont {
      font-size: 16px;
    }
    .foot {
      display: flex;
    }
   .terms, .copright {
     font-size:16px;
   }

}

@media  screen and (max-width: 430px) {

   .foodbag-head {
      font-size: 16px;
      }
   .foodbag-head li {
        font-size: 14px;
        letter-spacing: 0em;
       }
    #head h2 {
       font-size: 24px;
       line-height: 30px;
       text-align: left;
    }
   #head p {
     font-size: 16px;
     text-align: left;
    }
     .services #interest, .services li {
      font-size: 14px;
    }
    .services ul {
      margin:0px;
      padding-left: 0px;
    }
    .serve h2 {
      font-size: 25px;
    }
    .serve #caps1 {
      font-size: 18px;
    }
    .serve #caps2 {
      font-size: 12px;
      text-align: center;
    }
   .cont {
      font-size: 14px;
    }
    .foot {
      display: inline;
    }
   .terms, .copright {
     text-align: center;
     font-size:14px;
    }
} 


