* {
    margin: 0px;
}
@media screen and (max-width:600px) {
    .FBheader {
        margin-left: 40px;
        margin-top: 26px;
        font-size: 26px;
        display: flex;
    }
    .FBheader span {
        color: #ad4c4c;
    }
    .nav {
        float: right;
        display: flex;
        margin-top: -30px;
        margin-right: 40px;
        font-size: 18px;
        list-style: none;
    }
    .cart-nav:hover, .login:hover, .sign-up:hover {
        border: 1px solid #ad4c4c;
        box-sizing: border-box;
        height: fit-content;
        align-items: center;
        cursor: pointer;
    }
    .cart-nav {
        margin-right: 15px;
        margin-top: 10px;
    }
    .login {
        margin-right: 15px;
        margin-top: 10px;
    }
    .sign-up {
        box-sizing: border-box;
        border: 1px solid #ad4c4c;
        border-radius: 5px;
        padding: 10px;
    }
    .home-link {
        margin-top: 100px;
        margin-left: 40px;
        font-size: 18px;
        font-weight: 500;
    }
    .home-link span {
        color: #777777;
    }
    .all-vendors {
        font-size: 26px;
        margin-left: 40px;
        margin-top: 37px;
        font-weight: 600;
    }
    .KFCicon {
        margin-left: 40px;
        margin-top: 40px;
        display: flex;
    }
    .KFCicon span {
        margin-left: 15px;
        margin-top: 5px;
        font-weight: 600;
    }
    .cart-1 {
        text-align: center;
        margin-top: 25px;
    }
    .KBucket {
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .KBucket span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
    .add-to-cart {
        margin-left: 40px;
        margin-top: 25px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid #ad4c4c;
        font-size: 20px;
        padding: 10px;
        width: fit-content;
        color: #ad4c4c;
    }
    .cart-2 {
        text-align: center;
        margin-top: 25px;
    }
    .ZBurger {
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .ZBurger span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
    .cart-3 {
        text-align: center;
        margin-top: 25px;
    }
    .CStripes {
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .CStripes span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
    .view-all {
        text-align: center;
        margin-top: 25px;
        padding: 45px;
        font-size: 22px;
        color: #ad4c4c;
        font-weight: 500;
    }
    hr {
        margin-left: 40px;
        margin-right: 40px;
        border: none;
        height: 1px;
        color: #999;
        background-color: #999;
    }
    .CRicon {
        margin-left: 40px;
        margin-top: 40px;
        display: flex;
    }
    .CRicon span {
        margin-left: 15px;
        margin-top: 5px;
        font-weight: 600;
    }
    .cart-4 {
        text-align: center;
        margin-top: 25px;
    }
    .RMax {
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .RMax span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
    .cart-5 {
        text-align: center;
        margin-top: 25px;
    }
    .EMeal {
        margin-left: 40px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: 600;
    }
    .EMeal span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
    .cart-6 {
        text-align: center;
        margin-top: 25px;
    }
    .CMeal {
        margin-top: 10px;
        margin-left: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    .CMeal span {
        float: right;
        margin-right: 40px;
        color: #5ea304;
    }
}