* {
  box-sizing: border-box;
}
body {
  margin-top: 42px;
  margin-right: 100px;
  margin-bottom: 137px;
  margin-left: 100px;
}
.header-content {
  display: inline;
  position: relative;
}

.header-content p {
  /* FoodBag */

  width: 90px;
  height: 30px;
  left: 100px;
  top: 50px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  display: inline;
  align-items: center;

  color: #000000;

  background: linear-gradient(
    to right,
    black 0% 1.19em,
    black 1.19em 55%,
    #ad4c4c 1.9em 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-content ul {
  list-style: none;
  display: inline;
  float: right;
  margin-top: 5px;
}

.header-list {
  width: 92px;
  height: 40px;
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline;
  align-items: center;
}
.header-content li {
  position: static;
  width: 35px;
  height: 24px;
  padding: 8px 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  display: inline;
  align-items: center;
  text-align: right;

  color: #696969;
}

header li:nth-child(2) {
  width: 35px;
  left: 1070px;
}
header li:nth-child(3) {
  color: #ad4c4c;
  width: 43px;
  left: 1155px;
}

header li:last-child {
  width: 61px;
  left: 1263px;
  border: 1px solid #ad4c4c;
  box-sizing: border-box;
  border-radius: 5px;
}

.section-header {
  display: block;
  position: relative;
  align-items: center;
}
.section-header p {
  display: block;
  align-items: center;
  text-align: center;

  color: #4e4d4d;
}
.section-header p:first-child {
  position: absolute;
  width: 180px;
  height: 60px;
  top: 103px;
  left: 439px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}
.section-header p:last-child {
  position: absolute;
  width: 367px;
  height: 30px;
  top: 173px;
  left: 346px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.section-location {
  position: relative;
  display: flex;
}
.section-location label {
  position: absolute;
  width: 158px;
  height: 30px;
  left: 0;
  top: 320px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
}
.section-location input {
  position: absolute;
  width: 1065px;
  height: 60px;
  left: 0;
  right: auto;
  top: 370px;
  display: flex;
  background: #ffffff;
  border: 1px solid #c4c4c4;

  border-radius: 5px;
}
::placeholder  {
  position: absolute;
  width: 270px;
  height: 30px;
  left: 130px;

  top: 465px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #696969;
}
.section-interest {
  position: relative;
  display: flex;
  top: 542px;
  width: 1065px;
}
.section-interest > p {
  position: absolute;
  width: 154px;
  height: 30px;
  left: 0px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  display: block;
  align-items: center;
  margin-top: -42px;
  color: #000000;
}
.section-interest > div {
  position: relative;
  width: 495px;
  height: 169px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 27px 51px 24px 30px;
  display: inline;
  background: #ffffff;
  box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
}
.section-interest > div:first-child {
}
.section-interest > div:nth-child(2) {
}

.section-interest > div:nth-child(3) {
}
.section-interest > div:last-child {
  margin-right: 0;
}

.section-interest img {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 15px;
  top: 27px;
}
.section-interest div > h3 {
  position: absolute;
  width: 241px;
  height: 27px;
  left: 10px;
  top: 92px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  display: inline;
  align-items: center;

  color: #a5a5a5;
}
.section-interest div > p {
  position: absolute;
  width: 241px;
  height: 21px;
  left: 10px;
  top: 124px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  display: inline;
  align-items: center;

  color: #a5a5a5;
}

.split {
  position: relative;
  display: flex;
  margin-top: -81px;
}
.split > hr {
  position: absolute;
  width: 1065px;
  height: 0px;
  left: 0px;
  top: 810px;
  display: inline;
  color: 1px solid #000000;
  border: 1px solid #000000;
}

.section-serve {
  width: 1065px;
}
.section-serve > p {
  position: absolute;
  width: 272px;
  height: 45px;
  left: 483px;
  right: 485px;
  top: 890px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  /* identical to box height */

  display: block;
  align-items: center;
  text-align: center;

  color: #4e4d4d;
}

.section-serve-detail {
  width: 1065px;
  display: flex;
  margin-top: -300px;
}

.serve-detail {
  width: 300px;
  display: inline;
  position: relative;
  margin-right: 170px;
}

.serve-detail img {
  position: absolute;
  width: 300px;
  height: 225.9px;
  left: 0px;
  top: 1049px;
}
.serve-detail h3 {
  position: absolute;
  width: 300px;
  height: 38px;
  left: 4px;
  top: 1316px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  /* identical to box height */

  display: inline;
  align-items: center;
  text-align: center;

  color: #696969;
}
.serve-detail p {
  position: absolute;
  width: 300px;
  height: 60px;
  left: 0px;
  top: 1369px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: inline;
  align-items: center;
  text-align: center;

  color: #a5a5a5;
}
.serve-detail:first-child {
  left: 0px;
}
.serve-detail:nth-child(2) {
}
.serve-detail:last-child {
}

.section-contact {
  width: 1065px;

}
.section-contact > p {
  position: absolute;
  width: 100px;
  height: 27px;
  left: 570px;
  top: 1590px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #696969;
}

.contact-links {


  width: 1065px;
}

.contact-links > img {
  margin-top: 32px;
  position: absolute;
  top: 1647px;
  align-items: center;

}
.contact-links > img:first-child {
  width: 20px;
height: 20px;
left: 563px;
}

.contact-links > img:nth-child(2) {
  width: 22.5px;
height: 20px;
left: 613px;
}

.contact-links > img:last-child {
  width: 10.31px;
height: 20px;
left: 666px;
}
/**/
.section-copyright {
  margin-top: 39px;
  position: relative;

}
.section-copyright > p {
  position: absolute;
  width: 486px;
  height: 27px;

  top: 1714px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #696969;
}
.section-copyright > p:first-child {
  left: 0px;
}
.section-copyright > p:last-child {
  right: -18px;
}
