* {
    box-sizing: border-box;
<<<<<<< HEAD
    color: rgb(105, 105, 105);
}

body {
    font-family: Poppins, sans-serif;
    padding: 30px;
=======
    color: #696969;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 30px;    
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
}

nav {
    position: relative;
}

<<<<<<< HEAD
nav a {
    font-size: 16px;
    text-decoration: none;
}

nav a strong {
    color: rgb(0, 0, 0);
}

nav a strong span {
    color: rgb(173, 76, 76);
}

.navbar-item {
    position: absolute;
    top: 0px;
    right: 0px;
=======
nav a strong {
    color: #000000;
}

nav a {
    font-size: 16px;
    text-decoration: none;
    
}

.navbar-item a {
    margin-right: 30px;
  }
  
 .navbar-item a:hover {
    color: #AD4C4C;
    background: #FFFFFF;
    border: 1px solid #AD4C4C;
    box-sizing: border-box;
    border-radius: 5px;
  }

#signup {
    color: #AD4C4C;
    background: #FFFFFF;
    border: 1px solid #AD4C4C;
    box-sizing: border-box;
    border-radius: 5px;
}

nav a strong span {
    color: #AD4C4C;

}
/* navbar-item */
.navbar-item {
    position: absolute;
    top: 0;
    right: 0;
    align-items: right;
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
}

.navbar-item a {
    padding: 10px;
<<<<<<< HEAD
    margin-right: 30px;
}

.navbar-item a:hover {
    color: rgb(173, 76, 76);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 76, 76);
    border-image: initial;
    border-radius: 5px;    
}

#signup {
    color: rgb(173, 76, 76);
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(173, 76, 76);
    border-image: initial;
    border-radius: 5px;
}

.foodbag-desc {
    text-align: center;
}

.foodbag-desc h1 {
    color: rgb(78, 77, 77);
}

=======
}

/* FoodBag Description */
.foodbag-desc {
    text-align: center;

}
.foodbag-desc h1 {
    color: #4E4D4D;
}

/* Forms */
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
form label {
    font-size: 20px;
    font-weight: bold;
}
<<<<<<< HEAD

form input {
    height: 40px;
    width: -webkit-fill-available;
    box-sizing: border-box;
    text-indent: 10px;
    margin-top: 15px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(196, 196, 196);
    border-image: initial;
    border-radius: 5px;
}

.interest {
    display: flex;
    color: rgb(165, 165, 165);
}

.card-items {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 1.5px;
    margin: 20px 20px 80px 0px;
    background: rgb(255, 255, 255);
}

=======
form input {
    height: 40px;
    width: -webkit-fill-available;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    text-indent: 10px;
    margin-top: 15px;
}

/* Interests */
.interest {
    color: #A5A5A5;
    display: flex;
    color: #A5A5A5;
}
.card-items {
    margin: 20px 20px 80px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1); 
}
p .card-text {
    margin-bottom: 0;
}
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
img, .card-body {
    margin: 25px 30px;
}

<<<<<<< HEAD
hr {
    margin: 50px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    border-image: initial;
}

=======
/* Horizontal Rule */

hr {
    margin: 50px 0;
    border: 1px solid #F2F2F2;

}

/* How we serve you */
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
.services-text {
    text-align: center;
}

<<<<<<< HEAD
.services {
=======
.services{
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
    display: flex;
    justify-content: space-between;
    text-align: center;
}

<<<<<<< HEAD
footer h4 {
    text-align: center;
}

=======
/* Footer */
footer h4 {
    text-align: center;

}
>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
.footer-links {
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
.footer-text {
    display: flex;
    justify-content: space-between;
=======
.footer-links a {
    

}

.footer-text {
    display: flex;
    justify-content: space-between;

>>>>>>> 90170222e30d74b4999bc2f3afc37b9d964d19e3
}