/*

*/

body{

font-family: 'Poppins', sans-serif;

}
header{
    text-align: center;
}

header #logo{
    float: left;

}

header a{
    color: black;
    text-decoration: none;
}

span{
    color: rgb(248, 17, 17);
}


nav li{
    text-align: center;
    list-style: none;
    float: right;
    display: inline;
    padding-right: 20px;
    margin-top:20px;
    margin-right:40px;
}

header nav ol li:nth-child(1){

    border: 1px red solid;
    text-align: center;
    border-radius: 5px;

}


nav li a{
    text-align: center;
    text-decoration: none;
    color: gray;
}

#signup-link{
    color: red;
}


#heading{
    padding-top: 80px;
    padding-bottom: 30px;
    line-height: 0.5;
}

form select{
    width: 50%;
    padding: 5px;
}

.interests li{
    list-style: none;
    display: inline-grid;
    box-shadow: 3px 1px 10px rgba(131, 130, 130, 0.2);
    line-height: 0.3;
}
.interests h4{
    color: red;
}

.interests li img, .interests li h4, .interests li p{
margin: 15px;
}

#serving{
    text-align: center;
}

#serving #serving-title{
    padding-top: 20px;
    text-align: center;
    line-height: 0.5;
}


#serving li{
    list-style: none;
    display: inline-grid;
    line-height: 0.3;
    margin: 20px;
}


#contact{
    text-align: center;
    line-height: 0.2;
}

#contact-title{
    margin-top: 20px;
    text-align: center;
}

#contact li{
    list-style: none;
    display: inline-grid;
    margin-right: 30px;
}


/*----------------vendors page-----------------*/


.heading{
    float: left;
}

.sub-title{
    padding-top: 50px;
}

.sub-title a{
    color: gray;
    text-decoration: none;
}


.heading p:nth-child(3){
    float:right;
    border: 1px red solid;
    text-align: center;
    border-radius: 5px;
}


.kfc-vendor img{
    float: left;
}

.kfc-vendor #kfc-heading{
    float: left;
    margin-left: 30px;
}

.kfc-vendor li{
    list-style: none;
    display: inline-grid;
    line-height: 0.3;
    margin: 5px;
    padding: 5px;
}

.kfc-vendor p:nth-child(4){
    margin-left: 215px;
    margin-top: -18px;
    color: green;
}

.kfc-vendor input{
    width: 80px;
    color: red;
    border: 1px rgb(218, 13, 13) solid;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

#view-all a{
    float: right;
    color: rgb(248, 17, 17);
    margin-top: -320px;
    margin-right: 40px;
    text-decoration: none;
}

.chicken-republic-vendor img{
    float: left;
    
}

    #chicken-republic-vendor-heading{
    float: left;
    display: inline;
    margin-left: 30px;
}

.chicken-republic-vendor li{
    list-style: none;
    display: inline-grid;
    line-height: 0.3;
    margin: 5px;
    padding: 5px;
}

.chicken-republic-vendor p:nth-child(4){
    margin-left: 215px;
    margin-top: -18px;
    color: green;
}

.chicken-republic-vendor input{
    width: 80px;
    color: red;
    border: 1px rgb(218, 13, 13) solid;
    padding: 5px;
    background-color: white;
    border-radius: 2px;
}


/*----------------Footer--------------------*/
footer li{
    list-style: none;
}

footer li a{
    text-decoration: none;
    color: gray;
}

footer li:nth-child(2){
    float: right;
    margin-top: -25px;
    margin-right: 60px;
}
