*,
body,
html {
    margin: 0px;
    padding: 0px;
    background: rgb(252, 252, 252);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAV */

nav {
    margin-top: 30px;
}

.right {
    display: inline;
    float: right;
<<<<<<< Updated upstream
    margin: 0px 20px;
=======
    margin: 0px 10px;
>>>>>>> Stashed changes
    position: relative;
    bottom: 38px;
    font-size: 12px;
    color: black;
}

.right:hover {
    font-size: 15px;
}

li a {
    text-decoration: none !important;
    color: black !important;
}

.logo li {
    text-decoration: none !important;
    font-size: 14px;
    list-style: none !important;
<<<<<<< Updated upstream
    margin: 20px 40px;
=======
    margin: 20px 100px;
>>>>>>> Stashed changes
    font-weight: 700;
}

.bag {
    color: #ad4c4c;
}

.star {
    color: red;
}

button.right {
<<<<<<< Updated upstream
    margin-right: 30px;
=======
    margin-right: 145px;
>>>>>>> Stashed changes
    top: -43px;
    border: 1px solid #ad4c4c;
    width: 80px;
    height: 28px;
    color: #ad4c4c;
    background: transparent;
}

button.right:hover {
    background: grey;
    color: white;
    border: none;
}

button a {
    color: black;
    text-decoration: none !important;

}

/* HEADING */
.heading {
<<<<<<< Updated upstream
    margin: 50px 40px;
    text-align: left;
}

.heading h1 {
    font-size: 18px;
=======
    margin: 50px 0px;
    text-align: center;
}

.heading h1 {
    font-size: 22px;
>>>>>>> Stashed changes
    margin-bottom: 5px;
    color: #4e4d4d;
}

.heading p {
<<<<<<< Updated upstream
    font-size: 12px;
    color: #696969;

=======
    font-size: 13px;
    color: #696969;
>>>>>>> Stashed changes
}


/* FIRST-SECTION */


.first-section {
    margin-bottom: 40px;
}

.first-section h5 {
<<<<<<< Updated upstream
    margin: 10px 40px;
=======
    margin: 10px 100px;
>>>>>>> Stashed changes
}

.first-boxes {
    display: flex;
<<<<<<< Updated upstream
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    width: 400px;
    height: 30px;
    margin: 20px 40px;
=======
    justify-content: center;
}

select {
    width: 1000px;
    height: 30px;
    margin: 20px 100px;
>>>>>>> Stashed changes

}

.box1 {
    box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
    border: 1px solid #e5e5e5;
<<<<<<< Updated upstream
    margin: 10px;
    padding: 20px;
    height: 150px;
    width: 400px;
}

.box1 img {
    height: 40px;
}

.title {
    font-size: 14px;
=======
    margin: 0px 10px;
    padding: 20px;
    height: 120px;
    width: 250px;
}

.box1 img {
    height: 30px;
}

.title {
    font-size: 13px;
>>>>>>> Stashed changes
    margin: 10px 0px;
    color: #a5a5a5;
    font-weight: 900;
}

.para {
<<<<<<< Updated upstream
    font-size: 13px;
=======
    font-size: 12px;
>>>>>>> Stashed changes
    color: #a5a5a5;
}




/* SECOND SECTION */
.second-section {
<<<<<<< Updated upstream
    margin-top: 50px;
=======
    margin-top: 30px;
>>>>>>> Stashed changes
    text-align: center;
}

.second-box {
    margin-top: 10px;
    display: flex;
<<<<<<< Updated upstream
    flex-direction: column;
=======
>>>>>>> Stashed changes
    text-align: center;
    justify-content: space-evenly;
}

.box2 img {
    height: 130px;
<<<<<<< Updated upstream
    margin: 15px 10px;
}

hr {
    margin: 30px;
=======
    margin: 10px;
}

hr {
    margin-top: 30px;
>>>>>>> Stashed changes
}


/* FOOTER */

footer {
    margin: 30px 0px;
    text-align: center;
}

footer h6 {
    text-align: center;
<<<<<<< Updated upstream
    font-size: 16px;
=======
    font-size: 17px;
>>>>>>> Stashed changes
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.social-media img {
<<<<<<< Updated upstream
    height: 16px;
=======
    height: 17px;
>>>>>>> Stashed changes
}

ol {
    margin: 10px;
}

<<<<<<< Updated upstream

.copy {
    display: flex;
    flex-direction: column;
=======
footer h4 {
    font-size: 13px;
    margin-top: 8px;

}

.copy {
    display: flex;
    flex-direction: row;
>>>>>>> Stashed changes
    justify-content: space-around;

}

<<<<<<< Updated upstream
.copy h4 {
    margin: 10px;
    font-size: 12px;

}






@media screen and (min-width:768px) {


    .logo li {
        margin: 20px 150px;
    }

    button.right {
        margin-right: 145px;

    }


    /* HEADING */
    .heading {
        margin: 50px 0px;
        text-align: center;
    }

    .heading h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .heading p {
        font-size: 13px;
    }

=======


/* 901PX -1200PX */
@media screen and (min-width:901px) and (max-width:1200px) {

    .logo li {
        margin: 20px 30px;
    }
>>>>>>> Stashed changes

    button.right {
        margin-right: 45px;

    }

<<<<<<< Updated upstream
    .first-section {
        margin-bottom: 40px;
    }

    .first-section h5 {
        margin: 10px 150px;
    }

    .first-boxes {
        flex-direction: row;

    }

    select {
        width: 650px;
        height: 30px;
        margin: 20px 50px;

    }

    .box1 {
        box-shadow: 1px 1px 1px 1px rgb(224, 224, 224);
        border: 1px solid #e5e5e5;
        margin: 0px 10px;
        padding: 20px;
        height: 120px;
        width: 250px;
    }

    .box1 img {
        height: 30px;
    }

    .title {
        font-size: 13px;
    }

    .para {
        font-size: 12px;

    }




    /* SECOND SECTION */
    .second-section {
        margin-top: 30px;
        text-align: center;
    }

    .second-box {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
    }

    .box2 img {
        height: 130px;
        margin: 10px;
    }

=======
    .first-section h5 {
        margin: 10px 30px;
    }

    select {

        width: 820px;
        margin: 20px 30px;
    }

    .first-boxes {
        flex-wrap: wrap;
    }

}

/* 577PX-900PX */

@media screen and (min-width:577px) and (max-width:900px) {

    .logo li {
        margin: 20px 30px;
    }

    button.right {
        margin-right: 45px;

    }

    .heading {
        margin: 50px 30px;
        text-align: left;
    }

    .first-section h5 {
        margin: 10px 30px;
    }

    .first-boxes {
        flex-wrap: wrap;
    }

    select {
        width: 500px;
        margin: 20px 30px;
    }

    .box1 {
        margin-right: 70px;
        margin-bottom: 10px;
        height: 150px;
        width: 180px;
    }


    .second-box {
        flex-wrap: wrap;
    }


    .copy {
        flex-direction: column;


    }

}

/* MOBILE VIEW */

@media screen and (max-width:576px) {


    .logo li {
        margin: 20px 30px;
    }
>>>>>>> Stashed changes

    button.right {
        margin-right: 45px;

    }

<<<<<<< Updated upstream
    .social-media img {
        height: 17px;
    }

    ol {
=======
    .heading {
        margin: 50px 30px;
        text-align: left;
    }

    .first-section h5 {
        margin: 10px 30px;
    }

    .first-boxes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    select {
        width: 420px;
        margin: 20px 30px;
    }

    .box1 {
>>>>>>> Stashed changes
        margin: 10px;
        height: 150px;
        width: 430px;
    }

<<<<<<< Updated upstream
    footer h4 {
        font-size: 13px;

    }

    .copy {
        flex-direction: row;

    }

=======
    .box1 img {
        height: 40px;
    }

    .title {
        font-size: 14px;

    }

    .para {
        font-size: 13px;
    }

    .second-box {
        flex-direction: column;
    }

    .box2 img {
        height: 140px;
    }

    footer h6 {
        font-size: 16px;
    }

    .social-media img {
        height: 16px;
    }

    ol {
        margin: 12px;
    }

    footer h4 {
        font-size: 13px;
        margin-top: 8px;
>>>>>>> Stashed changes

    }

    .copy {
        flex-direction: column;
    }

<<<<<<< Updated upstream


}




@media screen and (min-width:900px) {
    select {

        width: 590px;
        height: 30px;
        margin: 20px 150px;

    }
}

@media screen and (min-width:1200px) {
    select {
        width: 900px;
        height: 30px;
        margin: 20px 150px;

    }
}
=======
}
>>>>>>> Stashed changes
