*,
body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.logo {
    list-style-type: none;
    margin: 20px 50px;
    font-size: 15px;
    font-weight: 500;
}

.logo a {
    text-decoration: none;
}

.logo span {
    color: #ad4c4c;
}

.right {
    list-style-type: none;
    float: right;
    position: relative;
    top: -45px;
    right: 50px;
    margin-left: 10px;
}

.right a {
    text-decoration: none;
    font-size: 11px;
    color: #a5a5a5;

}

.right:hover {
    font-size: 15px;
}

.star {
    color: red;
    font-size: 16px;
}

button.right {
    position: relative;
    left: -50px;
    top: -48px;
    padding: 4px;
    border-radius: 3px;
    border: 1px solid #ad4c4c;
    background: transparent;
    font-weight: 600;
    width: 70px;

}

button.right:hover {
    background: grey;
    color: white;
    border: none;
}

button a {
    font-size: 11px !important;
    color: #ad4c4c !important;
}

.home {
    display: flex;
    margin: 50px 0px 25px 45px;

}

.home:hover {
    font-size: 12px;
}

.home li {
    list-style-type: none;
    margin-left: 7px;
}

.home li a {
    text-decoration: none;
    font-size: 12px;

}

.all h2 {
    margin: 0px 50px;
    font-size: 17px;
}

.view-desktop {
    display: none;
}

.icon {
    display: flex;
    margin: 20px 50px;
}

.icon img {
    height: 30px;
}

.icon h3 {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 13px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.first img {
    height: 220px;
}

.image p,
.image button {
    margin-left: 10px;
}

.price {
    float: right;
    color: green;
    font-weight: 700;
    position: relative;
    margin-top: -10px;
    margin-right: 5px;
    font-size: 15px;
}

.name {
    font-size: 14px;
    font-weight: 600;
}

.cart {
    margin: 10px 0px;
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #ad4c4c;
    background: transparent;
    font-weight: 600;
    color: #ad4c4c;
    width: 100px;
    font-size: 12px;
}

.cart:hover {
    background: grey;
    color: white;
    border: none;
}

.view-mobile {
    text-align: center;
    margin: 30px;
    color: #ad4c4c;
    font-size: 15px;
}

.view-mobile:hover {
    background: #ad4c4c;
    color: white;
    padding: 10px;
    height: 30px;
}

hr {
    margin: 0px 50px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 900px) {
    .view-mobile {
        display: none;
    }


    /* NAVIGATION */
    nav{
        position: relative;
        top: 20px;
    }

    .home {
        margin: 50px 100px;
    }


    .logo li {

        font-size: 14px;
        margin: 20px 55px;

    }

    button.right {
        margin-right: 60px;
        top: -43px;
        width: 80px;
        height: 28px;

    }


    /* SECTION */

    .all {
        margin: 10px 20px;
    }

    .first {
        display: grid;
        grid-template-columns:  1fr 1fr ;
    }

    .all h2 {
        margin: 20px 80px;
        font-size: 16px;
    }

    .all .icon {
        text-align: left;
        justify-content: flex-start;
    }

    .icon {
        display: flex;
        justify-content: space-between;
        margin: 0px 80px;
        font-size: 13px;
    }

    .icon img {
        height: 40px;
    }

    .icon h3 {
        margin: 10px;
    }

    .view-desktop {
        display: block;
        color: #ad4c4c;
        float: right;
        margin: 10px 85px 0px 0px;
        font-size: 12px;
    }

    .view-desktop:hover {
        background: #ad4c4c;
        color: white;
        padding: 10px;
        height: 30px;
    }

    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        align-self: center;
        margin: 15px 20px;

    }

    .image img {
        height: 150px;
    }

    .price {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 40px;
        font-size: 12px;
        font-weight: 700;
    }

    .name {
        position: relative;
        left: 40px;
        font-size: 13px;
        font-weight: 700;
    }

    .cart {
        width: 90px;
        height: 25px;
        font-size: 11px;
        border: 1px solid #ad4c4c;
        background: transparent;
        color: #ad4c4c;
        position: relative;
        left: 40px;
    }



}

@media screen and (min-width: 1200px) {
    .view-mobile {
        display: none;
    }


    /* SECTION */

    .all {
        margin: 10px 20px;
    }

    .first {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .price {
        display: flex;
        justify-content: flex-end;
        color: green;
        font-size: 12px;
        font-weight: 700;
    }

    .name {
        font-size: 13px;
        font-weight: 700;
    }

    .cart {
        width: 90px;
        height: 25px;
        font-size: 11px;
        border: 1px solid #ad4c4c;
        background: transparent;
        color: #ad4c4c;
    }



}