@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
header {
  text-align: left;
  padding: 5px;
  color: black;
  text-transform: uppercase;
  font-size: small;
}

#strong1 {
  color: #ad4c4c;
}

a {
  text-decoration: none;
  color: black;
  font-size: small;
  font-weight: lighter;
  margin: 2px;
  padding: 2px;
  text-transform: capitalize;
  text-align: right;
}
.navbar {
  text-align: right;
}
.signup {
  border: 5px, solid, #ad4c4c;
  background: white;
  color: #ad4c4c;
  font-weight: small;
}
input {
  border: 1px, solid, #ad4c4c;
  background: white;
  color: #ad4c4c;
  font-weight: small;
  font-size: small;
  width: 100%;
}
h1 {
  font-size: large;
  font-weight: 600px;
  text-transform: capitalize;
  text-align: center;
}
.any1 {
  font-size: medium;
  font-weight: 400px;
  text-align: center;
}
.h21 {
  text-align: left;
}
textarea {
  width: 100%;
  color: #ad4c4c;
  text-decoration: black;
}
select {
  width: 100%;
  color: #ad4c4c;
  text-decoration: black;
}
.boxmodel {
  background-color: whitesmoke;
  max-width: 100%;
  padding: 20px;
  margin: 20px;
  display: inline-block;
}
h2 {
  text-align: center;
  font-style: normal;
}
.boxmodel1 {
  /* background-color: whitesmoke; */
  /* max-width:  100%; */
  /* padding: 2px; */
  /* margin: 2px; */
  display: flex;
  border: olive;
  /* align-items: baseline; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/**
h6 {
text-align: center;
display:inline;
}
*/
h5 {
  text-align: center;
  float: center;
}
.twitter {
  padding: 5px;
  margin: 5px;
}
.youtube {
  padding: 5px;
  margin: 5px;
}
.facebook {
  padding: 5px;
  margin: 5px;
}

.line {
  border: 1px solid #f2f2f2;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.boxContainer {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
  margin-top: 72px;
  padding: 0 100px;
  font-family: "Poppins", sans-serif;
}

.boxContainer img {
  width: 300px;
  height: 230px;
}

.box-text-top {
  color: #696969;
  font-weight: 500;
  font-size: 15px;
  line-height: 37.5px;
  text-align: center;
  width: 300px;
  height: 38px;
  margin: 30px;
}

.box-text-bottom {
  color: #a5a5a5;
  font-weight: 200;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  width: 300px;
  height: 60px;
  padding-bottom: 30px;
  margin: 30px;
}
.line1 {
  border: 1px solid #f2f2f2;
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
footer {
  padding: 20px;
  margin: 20px;
  text-align: left;
}
.copyright {
  text-align: right;
  font-size: 15px;
}
.terms {
  text-align: left;
}
@media only screen and (max-width: 360px) {
  .boxContainer {
    /* border: 3px solid red; */
    display: block;
    font-family: "Poppins", sans-serif;
    padding-bottom: 200px;
  }
  .boxContainer img {
    width: 300px;
    height: 50px;
  }
  footer {
    padding-top: 30px;
    margin: 20px;
    text-align: center;
  }
  .copyright {
    text-align: center;
    font-size: 12px;
  }
  .terms {
    text-align: center;
  }
  .line1 {
    border: 2px solid #f2f2f2;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

@media only screen and (min-width: 712px) {
  .boxContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    margin-top: 72px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
  }

  .boxContainer img {
    width: 200px;
    height: 130px;
  }
  .line1 {
    border: 2px solid #f2f2f2;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  footer {
    padding-top: 30px;
    margin: 20px;
    text-align: center;
  }

  .copyright {
    text-align: center;
    font-size: 20px;
  }
  .terms {
    text-align: center;
  }
}
