* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;   
}

header.header{
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #242e4c;
    display: flex;
    justify-content: space-between;


}

header .logo-text  {
    padding: 20px 0px 5px 15px;
    color: #fff;
    font-size: 24px;
}

header .logo-text h3::first-letter {
    color: orange;
}

header .logo-text h3 .span-logo {
    color: orange;
}

header .nav ul li {
  display: inline-block;
  padding: 25px 40px 15px 0px; 
  font-size: 18px;
  list-style: none; 
  
}

.nav ul> li  a{
    text-decoration: none;
    color: orange;
}

.nav ul> li  a:hover {
    color: tan ;
}

/* //////////// Banner section ////// */
section.banner {
    width: 100%;
    height: 600px;
    background-image: url(../images/o-FOOD-facebook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}



section.banner .order-meal { 
    padding: 15% 0px 0px 0px;
    text-align: center;
    
}

section.banner .order-meal h3 {
    font-size: 48px;
    color: orange;
}

section.banner .order-meal h3 span {
    color: #fff;
}

section.banner .order-meal button {
    width: 100px;
    margin-top: 10px;
    height: 40px;
    background-color: orange; 
    border: orange;  
    outline: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}


section.banner .order-meal button:hover {
    background-color: tan;
}

.input {
    width: 700px;
     height: 48px;
}

/* food cart */
section.food-cart{
    width: 100%;
    margin-top: 60px;
    height: 600px;
   
}


@media screen and(min-width: 450px) {
    section.food-cart {
        margin-top: 60px;
        height: 900px;
    }
}



section div.food-cart-container {
    display: flex;
    justify-content: space-around;
     flex-wrap: wrap; 
     align-items: center;
}

@media screen and (min-width: 400px){
    section div.food-cart-container {
        margin: 5px;
    } 
}

section div.food-cart-container div.food-card {
    border: 1px solid orange;
    padding: 20px;
    box-shadow: 5px 0px 5px 5px tan;

}

section div.food-cart-container div.food-card p {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

section div.food-cart-container div.food-card button {
    width: 70px;
    height: 30px;
    background-color: orange;
    color: whitesmoke;
    border-radius: 5px;
    outline: none;
}

section.food-cart img {
    width: 150px;
    height: 150px;
}

/* footer */
footer.footer{
    width: 100%;
    margin-top: 30px;
    height: 200px;
    position: sticky;
    background-color: #242e4c;
    display: flex;
    justify-content: space-between;
}

footer .logo-text  {
    padding: 20px 0px 5px 15px;
    color: #fff;
    font-size: 24px;
}

footer .logo-text h3::first-letter {
    color: orange;
}

header .logo-text h3::first-letter {
    color: orange;
}

footer .logo-text h3 .span-logo {
    color: orange;
}

footer .nav ul li {
  display: inline-block;
  padding: 25px 40px 15px 0px; 
  font-size: 18px;
  list-style: none; 
  
}

.nav ul> li  a{
    text-decoration: none;
    color: orange;
}

.nav ul> li  a:hover {
    color: tan ;
}


@media screen and (max-width: 450px) {
    header .logo-text{
        margin-top: 5px;
        font-size: 18px;
    } 
}
@media screen and (max-width: 400px) {
    header .logo-text{
        margin-top: 5px;
        font-size: 18px;
    } 

    header.header{
         display: block;
         height: 100px;
         width: 100%;
         margin-top: -5px;
         position: relative;
    }

    header .logo-text {
        margin-left: 120px;
        padding-bottom: 10px;
    }
    

    .food-card{
        margin-top: 20px;
    }

    header .nav ul li{
        padding: 0px 0px 0px 50px;
    }

   
    

    section.banner .order-meal h3 {
        font-size: 35px;
        margin-top: 100px;
    }

    

    footer.footer {
        margin-top: 700px;
        width: 100%;
        display: block;
    }

    form input [type="text"] {
        width: 100px;
    }

    footer .logo-text  {
        font-size: 18px;
        text-align: center;
    }

    footer .nav ul li a {
        text-align: center;
        margin-left: 20px;
       
    }

    footer .nav p {
        text-align: center;
    }

}