@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  padding: 20px;
}
a {
  color: inherit;
  text-decoration: none;
}
ul, li, p{
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 16px;
  font-weight: 500;
}
.red-text {
  color: #AD4C4C;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  cursor: pointer;
}
.nav-list-items {
  margin-right: 20px;
  color: #696969;
  font-size: 10px;
}
.nav-btn {
  width: 74px;
  height: 32px;
  font-size: 10px;
  border: solid 1px #AD4C4C;
  color: #AD4C4C;
  border-radius: 5px;
  background-color: #ffff;
  cursor:pointer;
}
main {
  margin-top: 45px;
}
.title-head {
  font-size: 20px;
  font-weight: 600;
  color: #4E4D4D;
}
.title {
  text-align: left;
}
.description  {
  font-size: 12px;
  color: #696969;
  font-weight: 400;
  margin-top: 5px;
}
select{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #C4C4C4;
  font-size: 12px;
  margin-top: 10px;
  color: #696969;
}
.small-img {
  width: 200px;
  height: 150.6px;
  margin: 0 auto;
}
.delivery-label {
  font-size: 12px;
}
form {
  margin-top: 30px;
}
.interest-section {
  margin-top: 30px;
}
.interest {
  font-size: 12px;
  font-weight: 500;
}
.interest-lists  {
  margin-top: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.interest-lists-item {
  /* width: 295px;
  height: 169px; */
  padding: 27px;
  box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
}
.interest-name {
  font-size: 18px;
  color: #A5A5A5;
  margin-top: 5px;
}
.interest-name p:last-child {
  font-size: 14px;
}
.ruler {
  margin: 30px 0;
  border: solid 1px #E6E6E6;
}
.service-section {
  font-size: 20px;
  color: #4E4D4D;
  text-align: center;
  font-weight: 600;
}
.services-list {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 72px;
  margin-bottom: 30px;

}
.service-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  /* justify-content: center;
  align-items: center; */
}
.service-list:nth-child(3) {
  margin-bottom: 0;
}
.services {
  text-align: center;
  margin-top: 33px;
}
.services-title {
  font-size: 20px;
  font-weight: 500;
  color: #696969;
}
.services-description {
  color: #A5A5A5;
  width: 245px;
  margin: 5px auto 0;
}
.contact-section {
  text-align: center;
}
.contact-us {
  margin-bottom: 30.5px ;
  color: #696969;
  font-size: 18px;
}
.icon {
  margin-right: 30px ;
}
footer  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #696969;
  margin-top: 48px;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
footer p:nth-child(2) {
  margin: 20px auto !important;
  width: 55%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  body  {
    padding: 50px;
    font-size: 16px;
  }
  .logo {
    font-size: 20px;
    font-weight: 500;
  }
  .interest-lists {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .nav-list-items {
    font-size: 16px;
    margin-right: 50px;
  }
  .nav-btn {
    width: 92px;
    height: 40px;
    font-size: 16px;
  }
  .title-head {
    font-size: 30px;
    font-weight: 600;
    color: #4E4D4D;
  }
  .title {
    text-align: center;
  }
  .description  {
    font-size: 15px;
  }
  .interest-section {
    margin-top: 42px;
    margin-bottom: 81px;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .delivery-label {
    font-size: 15px;
  }
  .interest {
    font-size: 15px;
  }
  select  {
    font-size: 15px;
  }
  footer {
    font-size: 15px;
  }
  .service-section {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  body  {
    padding: 50px 100px 110px;
    font-size: 16px;
  }
  main {
    margin-top: 145px;
  }
  .title {
    text-align: center;
  }
  .title-head {
    font-size: 40px;
    font-weight: 600;
    color: #4E4D4D;
  }
  .description  {
    font-size: 20px;
  }
  .interest-lists {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-list {
    margin-bottom: 0%;
  }
  .nav-list-items {
    font-size: 16px;
    margin-right: 50px;
  }
  .nav-btn {
    width: 92px;
    height: 40px;
    font-size: 16px;
  }
  .delivery-label {
    font-size: 20px;
  }
  form {
    margin-top: 80px;
  }
  select{
    margin-top: 20px;
    height: 60px;
  font-size: 20px;
  padding: 15px 30px;
  }
  .interest {
    font-size: 20px;
    font-weight: 500;
  }
  .ruler {
    margin: 81px 0;
  }
  .interest-section {
    margin-top: 42px;
    margin-bottom: 81px;
  }
  .service-section {
    font-size: 30px;
    /* color: #4E4D4D;
    text-align: center; */
    font-weight: 600;
    margin-top: 80px;
  }
  .services-title {
    font-size: 25px;
  }
  .services-description {
    margin: 15px auto 0;
  }
  footer  {
    flex-direction: row;
    font-size: 18px;
    font-weight: 500;
    justify-content: space-between;
    align-items: center;

  }
  footer p:nth-child(2){
    margin: 0 !important;
    width: 40%;
  }
}