#state {
    background-color: #ffff;
    color: royalblue;
}

a {
    background-color: royalblue;
    color: seagreen;
    padding: 5px;
    text-align: center;
    text-decoration: snow;
    float: left;
    
}

footer {
    float: left;
    padding: 0;
    margin: 0;
}

h1 {
    background-color: teal;
    color: thistle;
}

nav ul {
    text-align: right;
    list-style-type: none;
    color: tomato;
    background-color: snow;
    position: relative;
    float: left;
}

p {
    size: 4cm;
    shape-margin: 4cm;
}

.parent {
    display: flex;
}

.parent div {
    height: 80px;
    width: 280px;
    background-color: thistle;
    border: 5px solid skyblue;
    padding: 30px;
    margin: 20px;
}

.iben {
    background-color: #f2f2f4;
    color: #223333;
    text-align: center;   
}


li {
    float: left;   
}