.header-container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    justify-content: space-between;
}

.nav-link {
    margin-top: 7px;
}

.nav-link ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    list-style: none;
}

.body-container .img-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.p-h1 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 65%;
    color: greenyellow;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.p-h2 {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

@media (max-width: 540px) {
    .nav-logo .logo h3 {
        font-size: 16px;
        margin-top: 12px;
        margin-left: 10px;
    }
    .nav-link li {
        font-size: 16px;
    }
    .last-link {
        font-size: 10px;
        margin-left: 30px;
    }
    .nav-link ul {
        width: 250px;
        justify-content: space-around;
    }
}