body {
	font-family: 'Lato', sans-serif;
}

.logo{
	color: #AD4C4C;
}

header li {
	display: inline-grid;
	padding: 10px;
	float: right;
}

h1,
h2,
h3,
h4, .title
 {
	text-align: center;
}

li, a {
	list-style-type: none;
	text-decoration: none;
	color: #000;
}

hr {
	background-color: #F2F2F2;
}

.contact, footer div ul
{
	text-align: center;
}

section li {
	display: inline-grid;
	padding: 5px;
	text-align: center;
}

section ul {
    text-align: center;
}

.interest li {
	display: inline-grid;
	padding: 5px;
	text-align: center;
}

.serve li {
	display: inline-grid;
	text-align: center;
}


.flexbox {
	display: flex;
}

footer {
    text-align: center;
    align-items: center;
    justify-content: space-between;
}