svg {
    display: flex;
    width: 20px;
    height: 20px;
    fill: hsla(0, 39%, 49%, 1);
    overflow: visible;
}

a.menurm {
    display: inline-flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    margin: 0 5px 20px;
    padding: 3px 30px 3px 3px;
    border: 1px solid hsla(0, 0%, 65%, 1);
    border-radius: 3px;
    font-size: 16px;
    color: hsla(0, 0%, 90%, 1);
    background-color: hsla(0, 0%, 65%, 1);
}

div.one {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

@media screen and (max-width: 360px) {
    header nav div a.cart {
        color: hsla(0, 0%, 41%, 1);
    }

    header nav div a.signup {
        padding: 5px 15px;
        font-size: 10px;
        margin-left: 10px;
    }
}
