@media screen and (max-width: 360px) {
   body {
        margin: 0 20px;
    }

    header nav div {
        float: right;
    }

    header nav a.logo {
        font-size: 16px;
    }

    header nav div a {
        padding: 0 5px;
        font-size: 10px;
    }

    header nav div a.navsignup {
        padding: 5px;
        font-size: 10px;
    }

    section.header h2 {
        text-align: left;
        font-size: 20px;
        margin: 0;
    }

    section.header p {
        text-align: left;
        font-size: 12px;
        margin: 0 0 10px 0;
    }

    label[for="location"],label[for="interest"] {
        font-size: 12px;
    }

    input {
        font-size: 12px;
        padding: 8px 0px 8px 15px;
        margin: 10px 0 20px 0;
        color: hsla(0, 1%, 30%, 1);
    }

    section.interest {
        display: flex;
        flex-direction: column;
        /* background-color: hsl(0, 0%, 90%); */
        margin: 5px 0 20px 0;
    }

    section.interest div {
        box-shadow: 0px 0px 3px 1.5px hsla(0, 0%, 0%, 0.1);
        padding: 20px;
        margin: 8px 0;
    }

    section.interest div h4 {
        color: hsla(0, 0%, 65%, 1);
        font-size: 16px;
    }

    section.serve h3 {
        text-align: center;
        font-size: 20px;
        margin: 20px 0 10px 0;
        color: hsla(0, 1%, 30%, 1);
    }

    section div.serve {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 0 35px;
        text-align: center;
    }

    section.serve h4 {
        text-align: center;
        margin: 0;
        font-size: 15px;
        color: hsla(0, 0%, 41%, 1);
    }

    section.serve p {
        text-align: center;
        color: hsla(0, 0%, 65%, 1);
        font-size: 10px;
        /* padding: 0 50px; */
    }

    footer {
        text-align: center;
    }

    footer p {
        text-align: center;
        font-size: 16px;
        margin: 20px 0 10px 0;
        color: hsla(0, 0%, 41%, 1);
    }

    footer a {
        font-size: 12px;
        margin: 20px 0 0 0;
        color: hsla(0, 0%, 41%, 1);
    }

    footer a.copyright {
        text-align: center;
        font-size: 12px;
        padding: 0 40px;
        margin: 10px 0 30px 0;
    }
}