body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 50px;
    color: #696969;
    
}

nav {
    margin: 50px 50px;
    padding-bottom: 30px;
}
nav a[href='/'] {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    float: right;
    padding: 0 30px;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    color: #696969;
}

.signup a{
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    padding: 8px 8px;
    border-radius: 5px;
}

.foodbag {
    text-align: center;
    margin: 0 50px;
}
.foodbag h2 {
    font-size: 50px;
}
.foodbag p {
    font-size: 20px;
    margin-top: -20px;
}

.location {
    margin: 50px 50px;
}
.location h3 {
    font-size: 20px;
    color: #000000;
}

#address {
    width: 100%;
    height: auto;
    font-size: 20px;
    color: #696969;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;

}

.interest {
    margin: 50px 50px;
}

.interest h3 {
    color: #000000;
    font-size: 20px;
}

.card-info h3 {
    font-size: 18px;
}
.card-info p {
    font-size: 14px;
    margin-top: -10px;
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-box {
    box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 3px;

}

.serve {
    margin: 150px 50px;
}
.serve h3 {
    color:#4E4D4D;
    font-size: 30px;
    text-align: center;
}

.card1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-img1 {
    text-align: center;
}

.card-info1 {
    margin: 0px 50px;
    text-align: center;
}

.contact {
    margin: 50px 50px;
}
.contact h4 {
    font-size: 18px;
    text-align: center;
}
.image {
    text-align: center;
}

.contact img {
    padding: 10px 15px;
}

hr {
    position: relative;
    width: 90%;
    height: 0px;
    border: 1px solid #F2F2F2;
}

footer {
    display: flex;
    margin: 50px 50px;
    justify-content: space-between;
}

footer p {
    font-size: 18px;
}

