* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #696969;
}

ul {
    list-style-type: none;
}

.site-container {
    margin: 20px;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #696969;
    width: auto;
}

.header a {
    text-decoration: none;
}

.nav-list {
    display: flex;
    row-gap: 1em;
    font-size: 10px;
    
}

.nav-list a {
    text-decoration: none;
    color: #696969;
}
.nav-item {
    padding: 8px;
}
.signup {
    border: 1px solid #AD4C4C;
    border-radius: 5px;
    color: #AD4C4C; 
}

.vendors {
    font-size: 14px;
}

.all-vendors-size{
    font-size: 20px ;
    color: black;
}

.kfc-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.kfc-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.kfc-logo p {
    padding-left: 10px;
    font-size: 16px;
}

.price {
    color: #5EA304;
    font-weight: 600;
    margin: 0;
    padding-top: 20px;
}

.card {
    display: grid;
    column-gap: 10px;
    
}

.card-img {
    padding-top: 20px;
    box-shadow: 0 0 3px 1.5px rgba (0,0,0,0.1);
    border-radius: 3px;
    width: 320px;  
    height: 150px; 
}

.card-box {
    padding: 20px 0;
    display: grid;
    justify-content: space-between;
    font-size: 16px;
}

.card-info {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.card-info h3 {
    margin: 0;
    padding-top: 20px;
}

.add-cart {
    background: #fff;
    border: 1px solid #AD4C4C;
    border-radius: 3px;
    width: 138px;
    height: 40px;
    color: #AD4C4C;
    font-size: 16px;
    padding-left: 5px;
}
.add-cart:hover {
    background-color: #e9cdcd;
    border: 1px solid #fff;
}

.horizontal-line {
    position: relative;
    width: 100%;
    height: 0;
    border: 1px solid #E6E6E6;
}


@media screen and (max-width: 480px) and (min-width: 300px) {
    .site-container {
        margin: 20px;
    }
    .card {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
    .card-img {
        width: 266px;
        height: 150px;
        justify-content: stretch;
    }
    
    .card-info {
        justify-content: space-between;
        padding-left: 5px;
    }
    .kfc-logo p {
        font-size: 20px;
        font-weight: bold;
    }

    .kfc-logo {
        display: flex;
        justify-content: left;
    }

    .view-all{
        display: none;
    }

    .cr-logo {
        display: flex;
        justify-content: left;
        
    }
    .cr-logo p {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
    }

    .view-all-visible {
        text-align: center;
    }
    .view-all-visible a{
        text-decoration: none;
        color: #AD4C4C;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    .site-container {
        margin: 20px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    .card-img {
        width: 266px;
        height: 150px;
        justify-content: stretch;
    }
    
    .card-info {
        justify-content: space-between;
        padding-left: 5px;
    }
    .kfc-logo p {
        font-size: 20px;
        font-weight: bold;
    }

    .kfc-logo {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
        font-size: 12px;
        
    }

    .view-all{
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 100%;
        color: #AD4C4C;
        text-decoration: none;       
    }
    .cr-logo {
        display: flex;
        justify-content: space-around;
        
    }
    .cr-logo p {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
    }
    
    .view-all-visible {
        display: none;
    }
}
    

@media screen and (max-width: 1024px) and (min-width: 769px){
    .site-container {
        margin: 50px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
    .card-img {
        width: 266px;
        height: 150px;
        justify-content: stretch;
    }
    
    .card-info {
        justify-content: space-between;
        padding-left: 5px;
    }
    .kfc-logo p {
        font-size: 20px;
        font-weight: bold;
    }

    .kfc-logo {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
        font-size: 14px;
        
    }

    .view-all{
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 100%;
        color: #AD4C4C;
        text-decoration: none;       
    }
    .cr-logo {
        display: flex;
        justify-content: space-around;
        
    }
    .cr-logo p {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
    }
    .view-all-visible {
        display: none;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
    .site-container {
        margin: 50px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
    }
    .card-img {
        width: 266px;
        height: 150px;
        justify-content: stretch;
    }
    
    .card-info {
        justify-content: space-between;
        padding-left: 5px;
    }
    .kfc-logo p {
        font-size: 20px;
        font-weight: bold;
    }

    .kfc-logo {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
         font-size: 16px;
        
    }

    .view-all{
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 100%;
        color: #AD4C4C;
        text-decoration: none;       
    }
    .cr-logo {
        display: flex;
        justify-content: space-around;
        
    }
    .cr-logo p {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
    }
    .view-all-visible {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .site-container {
        margin: 50px;
    }
    .card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
    }
    .card-img {
        width: 266px;
        height: 150px;
        justify-content: stretch;
    }
    
    .card-info {
        justify-content: space-between;
        padding-left: 5px;
    }
    .kfc-logo p {
        font-size: 20px;
        font-weight: bold;
    }

    .kfc-logo {
        display: flex;
        justify-content: space-around;
    }

    .nav-list {
        font-size: 16px;
        
    }

    .view-all{
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 100%;
        color: #AD4C4C;
        text-decoration: none;       
    }
    .cr-logo {
        display: flex;
        justify-content: space-around;
        
    }
    .cr-logo p {
        font-size: 20px;
        font-weight: bold;
        text-align: justify;
    }
    .view-all-visible a{
        display: none;
    }
    
}
