body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
nav {
    margin: 50px;
    padding-bottom: 30px;
}
nav a[href='/'] {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    float: right;
    padding: 0 30px;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    color: #696969;
}

.signup a{
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    padding: 8px;
    border-radius: 5px;
}

.vendors {
    font-size: 14px;
    margin: 0 50px;
}
.all-vendors {
    margin: 30px 50px;
    font-size: 30px;
}
.kfc-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
}
.kfc-logo img {
    padding-right: 30px;
}

.kfc-logo a{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    width: 100%;
    color: #AD4C4C;
}

.kfc-logo p{
    font-weight: 500;
    font-size: 20px;
}

.card {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.card-img {
    box-sizing: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    height: 100%;
    width: 100%;
}
.card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-info h3{
    font-size: 16px;
    font-weight: 600;
    color: #4E4D4D;
}
.card-info p{
    font-size: 16px;
    color: #5EA304;
    font-weight: 600;
}
.add-cart {
    background: #fff;
    border: 1px solid #AD4C4C;
    border-radius: 3px;
    width: 138px;
    height: 40px;
    color: #AD4C4C;
    font-size: 16px;
}

.add-cart:hover {
    background-color: #e9cdcd;
    border: 1px solid #fff;
}

.horizontal-line {
    position: relative;
    width: 95%;
    height: 0;
    border: 1px solid #E6E6E6;
}

.cr-logo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 50px;
}
.cr-logo img {
    padding-right: 30px;
}

.cr-logo a{
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    width: 100%;
    color: #AD4C4C;
}

.cr-logo p{
    font-weight: 500;
    font-size: 20px;
    width: 30%;
}

