@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins';
}
.container{
	height: 100vh;
	width: 100%;
	background: #fff;
	padding-left: 70px;
	padding-right: 70px;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
}
.container span{
	color: #AD4C4C;
}
.header ul{
	display: flex;
}
.header a{
	text-decoration: none;
	margin: 0 10px;
	color: #696969;
}
a{
	text-decoration: none;
}
.header a:hover{
	color: #AD4C4C;
}
li{
	list-style-type: none;
}
.btn{
	color: #AD4C4C;
	border: 1px solid #AD4C4C;
	border-radius: 2px;
	width: 80px;
	height: 25px;
	background: #fff;
	margin-left: 10px;
	margin-right: 10px;
}
.btn:hover{
	background: #AD4C4C;
	color: #fff;
}

/*----------- Body Text --------------*/
.body-text{
	text-align: center;
	margin-top: 70px;
}
.body-text h1{
	color: #4E4D4D;
}

.body-text p{
	color: #696969;
	font-size: 15px;
}

/*------------- Main Body Section 1 ----------------*/
.main-text{
	margin-top: 40px;
}
.main-text h4{
	margin-bottom: 15px;
}
#location{
	width: 99.9%;
	height:45px;
	padding-left: 10px;
	border: transparent;
	border: 1px solid #C4C4C4;
}
/*----------------- main text 2 -------------------*/
.main-text-2{
	margin-top: 20px;
}
.main-text-2-box-container{
	display: flex;
	width: 100%;
}
.main-text-2-box{
	margin-right: 10px;
	border: 1px solid #A5A5A5;
	width: 390px;
	padding: 30px 0;
	padding-left: 15px;
	margin-top:10px;
}
.main-text-2-box h5{
	margin: 5px 0;
	color: #A5A5A5;
	font-weight: 400;
}
.main-text-2-box h6{
color: #A5A5A5;
font-size: 9px;
font-weight: 400;
}

/*----------- Main-Text-3 ----------------------*/
.main-text-3 {
	margin-top: 30px;
	text-align: center;
	color: #4E4D4D;
}
.main-text-3  h2{
	font-weight: 500;
}
/*------------- break line ------------------*/
hr { 
   height: 1px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 50px;
   margin-bottom:10px;
   background-color: #F2F2F2;
   border: none;
}
/*---------- 3-box-main-4 -------------------*/
.Three-box{
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
}
.three-box-main-4 h3{
	font-size: 15px;
	color: #696969;
	margin-top: 25px;
	font-weight: 500;
}
.sub-3-box-main-4 p{
	color: #A5A5A5;
	font-size: 15px;
	margin-top: 15px;
}
.break {
	color: #A5A5A5;
	font-size: 15px;
	text-align: center;
	padding-right: 70px;
	font-weight: 420;
}
.break2{
	color: #A5A5A5;
	font-size: 15px;
	text-align: center;
	padding-right: 20px;
	font-weight: 420;
}
.three-box-main-4 img{
	width: 270px;
}
.three-box-main-4{
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: -40px;
}

/*-------------- Social Section -----------------*/
.social-container{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 60px;
}
.social-container h4{
	margin-bottom: 20px;
	font-size: 21px;
	color: #696969;
	font-weight: 300;
}
.social-container a{
	margin-right: 20px;
	padding-left:10px;
}
/*----------------------- Footer ----------------------*/
.footer-container{
	justify-content: space-between;
	display: flex;
	padding-bottom: 80px;
	color: #696969;
	margin-right: 10px;
}
.footer-container p{
	font-weight: 300;
	font-size: 15px;
}










