*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;   
}

header{
    display: flex;
    margin-bottom: 50px;
}
 
.logo {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    margin:20px 950px 20px 30px;  
}

.colorbag {
    color: #AD4C4C;
}

.navigation {
    text-decoration: none;
    color: #696969;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
}

#signup {
    border: 2px solid #AD4C4C;
    border-radius: 5px;
    padding:4px 7px;
    color: #AD4C4C;
}

a {
    text-decoration: none;
    color: #696969;
    margin:20px;  
}

.motto {
    text-align: center;
    margin-bottom: 30px;
}

.foodbag{
    color: #4E4D4D;
    font-weight: 600;
}
.slogan{
    color:#696969;
    font-weight: 400;
}

h3 {
    color: #000000;
    font-weight: 500;
    margin:20px 10px 10px 30px;
}

#inputaddress {
    width: 1280px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    margin:5px 30px;
    font-size: 17px;
    padding:5px 5px 5px 15px;
}

.discol{
    display: flex;
    margin-left: 10px;
}

.col{
    color: #A5A5A5;
    border: 1px solid rgba(0, 0, 0, 0.1) ;
    width: 268px;
    height: 160px;
    box-shadow: 0px 0px 3px 1.5px;
    margin:20px;
    padding: 10px;
}

.disimg {
    margin: 5px;
}

.dishead {
    margin: 5px;
    padding: 5px;
    font-weight: 500;
    font-size: 18px;
}
.dishead1 {
    margin: 5px;
    padding: 5px;
    font-weight: 400;
    font-size: 14px;
}

.activeinfo {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    margin: 40px 30px;
    padding: 15px;
}

h2 {
    text-align: center;
    margin:50px;
    color: #4E4D4D;
    font-weight: 600;
    font-size: 30px;
}

.actcol {
    display: flex;
    width: 1280px;
    height: 450px;
}

.acol{
    width: 300px;
    height: 400px ;
    align-items: center;
    text-align: center;
    margin: 10px 20px;
    padding: 10px;
    
}
h4{
    color: #696969;
    font-weight: 500;
    font-size: 25px;
}

.activep {
    color: #696969;
    font-weight:400 ;
    font-size: 20px;
}

.acol1{
    width: 300px;
    height: 400px ;
    align-items: center;
    text-align: center;
    margin: 10px 100px;
    padding: 10px; 
}

.contact {
    text-align: center;
    margin-top: 60px;
}

.conlogo {
    margin: 10px;
}

.contact1 {
    margin: 20px;
    font-weight: 500;
    color: #696969;
    font-size: 18px;
}

.footer {
    margin-bottom: 50px;
    color: #696969;
    display: flex;
    font-size: 18px;
    font-weight: 400px;   
}

.footermotto{
    margin: 30px;
}

.footermotto1 {
    margin:30px 30px 30px 480px;
}


