* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: 'Poppins', sans-serif;
	padding: 30px 50px 60px 50px;
	margin: 0;
}


/**Header**/

header {

	display: flex;
	justify-content: space-between;
	flex-shrink: 1;
	flex-basis: 100px;
	/*display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-content: center;*/
}

header h2 {
	padding: 10px 0px;
}

header ul{
	display: flex;
	align-content: center;
	list-style-type: none;
	padding: 15px 0;
}

li a {
	/*display: block;*/
	color: #696969;
	text-decoration: none;
	padding: 0 15px;
	border-radius: 5px;
	border: 1px solid none;
}


#red {
	color: #A50F0F;
}


header a:hover {
	border: 1px solid red;
	border-radius: 5px;
}

/**Nav 2**/

#nav2 {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	padding-top: 50px;
}

.nav2-items {
	border: none;
	text-decoration: none;
	color: #696969;
	padding: 5px;
}

#nav-item-5 {
	grid-column: 2 / 3;
}

.nav2-items:hover {
	cursor: pointer;
	color: black;
	font-weight: bold;
	border: none;
}


#title {
	padding-top: 30px;
	margin: 0px;
}

/**KFC MENU & CHICKEN REPUBLIC MENU**/

section {
	padding: 5px;
}


.menu-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 
		"grid1 grid1 grid1 view view"
		"grid2 grid2 grid2 grid2 grid2";
	grid-row: auto;
	padding-top: 30px;
}


.grid1 {
	grid-area: grid1;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	padding: 5px;
	padding-bottom: 20px;
	margin: 0px;
}
/*

#logo1 {
	grid-column: 1 / 2;
}*/

#CR {
	grid-column: 2 / 10;
	padding: 15px;
}

#KFC {
	grid-column: 2 / 3;
	padding: 15px;
}


.view {
	grid-area: view;
	color: red;
	font-weight: bold;
	padding-top: 15px;
	justify-self: end;
}

.grid2 {
	grid-area: grid2;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	font-size: 14px; 
}

.food-img {
	max-width: 100%;
	height: auto;
}


.grid3 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	padding-bottom: 15px;
	padding-top: 15px;
}

.food {
	grid-column: 1 / 5;
}

.green {
	grid-column: 5 / 6;
	color: #13C319;
}

.cart {
	display: inline-block;
	color: red;
	font-weight: bold;
	text-align: center;
	border: 1px solid red;
	border-radius: 2px;
	margin-left: 5px;
	padding: 10px;
}

.menu1 a {
	text-decoration: none;
}

.cart:hover {
	box-shadow: 2px 2px 2px darkgrey;
}

hr {
	margin: 50px 0px 50px 0px;
	color: #DCDCDF;
}





/**Mobile Responsiveness**/

@media screen and (max-width: 600px) {

body {
	padding: 15px 25px 30px 25px;
	margin: 0;
}


/**KFC MENU & CHICKEN REPUBLIC MENU**/

.menu-grid {	
	grid-template-columns: 1fr;
	grid-template-areas: 
		"grid1"
		"grid2"
		"view";
	grid-row: auto;
	justify-content: center;	
}


.view {
	padding-top: 50px;
	justify-self: center;
}

.grid2 {
	grid-area: grid2;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	font-size: 14px;
	width: 100%;
}

.grid3 {
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	padding: 0px;
	margin: 0px;
}

.food-img {
	width: 100%;
}

.food {
	grid-column: 1 / 12;
	padding-bottom: 10px;
	padding-left: 7px;
}

.green {
	grid-column: 15 / 16;
	color: green;
	padding-left: 5px;
}
	
}




/**TABLET Responsiveness**/

@media screen and (min-width: 768px) {

.view {
	justify-self: end;
	font-weight: bold;
}


}