body{
      background-color: white;
      padding: 20px;
      margin: 0 auto;
      font-family: Poppins;
      font-style: normal;
}
header{
      width: 360px;
}
header,
header p{
      display:flex;
      flex-direction: row;
}
#logo,
.description p,
label
#container-header{
      font-size: 20px;
      line-height: 30px;
}
#logo{
      font-weight: 500;
      color: #000000;
}
#logo b{
      color: #AD4C4C;
      font-style: normal;
}
nav{
      padding-left: 0.005em;
}
nav li{
      text-decoration: none;
      display: inline;
      padding: 10px;
      color: #696969;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
}
nav button{
      color: #AD4C4C;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: #FFFFFF;
      border: 1px solid #AD4C4C;
      height: 28px;
      width: 75px;
      border-radius: 5px;
}
.lp-description h1{
      font-size: 20px;
      font-weight: 600;
      font-style: normal;
      line-height: 30px;
      color: #4E4D4D;
}
.lp-description p{
      font-weight: 400;
      color: #696969;
}
label{
      font-weight: 500;
}
#lp-location{
      background: #FFFFFF;
      width: 300px;
      height: 35px;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
}
.lp-box div{
      background: #FFFFFF;
      box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
      width: 320px;
      height: 141px;
      padding: 10px 10px;
      margin: 15px;
}
#lp-container-header{
      font-weight: 500;
}
.lp-box-header{
      font-size: 14px;
      font-weight: 500;
      line-height: 27px;
      color: #A5A5A5;
}
.lp-box-para{
      font-size: 12px;
      font-weight: 400;
      color: #A5A5A5;
}
#lp-serving-header{
      font-size: 20px;
      font-weight: 600;
      color: #4E4D4D;
}
.lp-mobile-align{
      width: 70%;
      text-align: center;
}
.lp-box1 img{
      height: 10em;
      width: 15em;
}
.lp-box1-header{
      font-size: 15px;
      font-weight: 500;
      color: #696969;
      line-height: 22.5px;
}
.lp-box1-para{
      font-size: 10px;
      font-weight: 400;
      line-height: 15px;
      color: #A5A5A5;
}
.lp-footer-div1{
      text-align: center;
}
.lp-footer-div1 p{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #696969;
}
.lp-footer-div2 p{
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #696969;
}


@media only screen and (min-width: 768px) {

      header{
            width: 100%;
      }
      nav{
            padding-left: 450px;
      }

      .lp-description{
            text-align: center;
      }
      .lp-description h1{
            font-size: 40px;
            line-height: 60px;
      }
      .lp-description p{
            font-weight: 400;
            color: #696969;

      }

      #lp-location{
            background: #FFFFFF;
            width: 800px;
            height: 35px;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
      }
      .lp-box{
            display: flex;
      }
      .lp-box div{
            width: 295px;
            height: 169px;
      }
      #lp-serving-header{
            font-size: 30px;
            text-align: center;
      }
      .lp-mobile-align{
            width: 100%;
      }

      .lp-box1{
            display: flex;
      }
      .lp-box1 div{
            padding: 3px 10px;
            margin: 0px 10px;
      }
      .lp-box1-header{
            font-size: 20px;
            font-weight: 500;
            color: #696969;
            text-align: center;
            line-height: 37.5px;
      }
      .lp-box1-para{
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: #A5A5A5;
      }
      .lp-footer-div1{
            text-align: center;
      }
      .lp-footer-div1 p{
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: #696969;
      }
      .lp-footer-div2{
            display: flex;
      }
      .lp-footer-div2 p{
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #696969;
      }
      #lp-footer-div2-p{
            margin-left: 30px;
      }
}  
@media only screen and (min-width: 992px) {
      header{
            width: 100%;
      }
      nav{
            padding-left: 500px;
      }

      .lp-description{
            text-align: center;
      }
      .lp-description h1{
            font-size: 40px;
            line-height: 60px;
      }
      .lp-description p{
            font-weight: 400;
            color: #696969;

      }

      #lp-location{
            background: #FFFFFF;
            width: 800px;
            height: 35px;
            border: 1px solid #C4C4C4;
            border-radius: 5px;
      }
      .lp-box{
            display: flex;
      }
      .lp-box div{
            width: 295px;
            height: 169px;
      }
      #lp-serving-header{
            font-size: 30px;
            text-align: center;
      }
      .lp-mobile-align{
            width: auto;
      }

      .lp-box1{
            display: flex;
      }
      .lp-box1 div{
            padding: 3px 10px;
            margin: 0px 10px;
      }
      .lp-box1-header{
            font-size: 20px;
            font-weight: 500;
            color: #696969;
            text-align: center;
            line-height: 37.5px;
      }
      .lp-box1-para{
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            color: #A5A5A5;
      }
      .lp-footer-div1{
            text-align: center;
      }
      .lp-footer-div1 p{
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            color: #696969;
      }
      .lp-footer-div2{
            display: flex;
      }
      .lp-footer-div2 p{
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            color: #696969;
      }
      #lp-footer-div2-p{
            margin-left: 30px;
      }
}


