/* This is the styling for the landing page */
body{
      background-color: white;
      padding: 20px;
      font-family: Poppins;
      font-style: normal;
}
header,
header p{
      display:flex;
}
#logo,
.description p,
label
#container-header{
      font-size: 20px;
      line-height: 30px;

}
#logo{
      font-weight: 500;
      color: #000000;
}
#logo b{
      color: #AD4C4C;
      font-style: normal;
}
nav{
      padding-left: 450px;
}

nav li{
      text-decoration: none;
      display: inline;
      padding: 10px;
      color: #696969;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      /* float: right; */
}
nav button{
      color: #AD4C4C;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      background-color: #FFFFFF;
      border: 1px solid #AD4C4C;
      height: 28px;
      width: 75px;
      border-radius: 5px;
}
.lp-description{
      text-align: center;
}
.lp-description h1{
      font-size: 40px;
      font-weight: 600;
      font-style: normal;
      line-height: 60px;
      color: #4E4D4D;
}
.lp-description p{
      font-weight: 400;
      color: #696969;

}
label{
      font-weight: 500;
}
#lp-location{
      background: #FFFFFF;
      width: 800px;
      height: 35px;
      border: 1px solid #C4C4C4;
      border-radius: 5px;
}
#lp-container-header{
      font-weight: 500;
}
.lp-box{
      display: flex;
      /* padding: 20px; */
}
.lp-box div{
      width: 295px;
      height: 169px;
      background: #FFFFFF;
      box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin: 10px;
}
.lp-box-header{
      font-size: 14px;
      font-weight: 500;
      line-height: 27px;
      color: #A5A5A5;
}
.lp-box-para{
      font-size: 12px;
      font-weight: 400;
      color: #A5A5A5;
}
#lp-serving-header{
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      color: #4E4D4D;
}
.lp-box1{
      display: flex;
}
.lp-box1 div{
      padding: 3px 10px;
      margin: 0px 10px;
}
.lp-box1 img{
      height: 10em;
      width: 15em;
}
.lp-box1-header{
      font-size: 20px;
      font-weight: 500;
      color: #696969;
      text-align: center;
      line-height: 37.5px;
}
.lp-box1-para{
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      text-align: center;
      color: #A5A5A5;
}
.lp-footer-div1{
      text-align: center;
}
.lp-footer-div1 p{
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      color: #696969;
}
.lp-footer-div2{
      display: flex;
}
.lp-footer-div2 p{
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      color: #696969;
}
#lp-footer-div2-p{
      margin-left: 30px;
}

/* This is the styling for the vendor page */
.vp-container{
      display: flex;
}
#vp-box1-home,
#vp-box1-vendor{
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
}
#vp-box1-home{
      color: #C9C9C9;
}
#vp-box1-vendor{
      color: #000000;
}
.vp-box1 h1{
      font-size: 30px;
      font-weight: 500;
      line-height: 45px;
}
.vp-container-image{
      height: 50px;
      width: 35px;
}
.vp-container-header{
      /* font-size: 20px; */
      font-weight: 500;
      /* line-height: 30px; */
}
.vp-cont-p{
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-left: 40em;
      color: #AD4C4C;
}
.vp-container-box{
      padding: 10px;
}
.vp-container-box img{
      height: 8em;
      width: 11em;
}
.vp-container-box-para{
      display: flex;
}
.vp-container-box-para p{
      font-size: 12px;
      font-weight: 600;
}
.container-box-price{
      margin-left: 15px;
      color: #5EA304;
}
.vp-container-box button{
      height: 30px;
      width: 110px;
      border: 1px solid #AD4C4C;
      border-radius: 3px;
      background-color: white;
      color: #AD4C4C;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
}
hr{
      border: 1px solid #E6E6E6;
}
#vp-cont-p1{
      margin-left: 35em;
}

