body {
    font-family: 'poppins', sans-serif;
    color: var(--color-accent);
}
header {
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--main-color);

}
header nav a{
    font-size: 1.3rem;
    color: var(--text-color);
    padding: 1rem 1.3rem;
}

header nav a:last-child{
    margin-left: 2rem;
}
header .logo {
    font-size: 1.5rem;
    color: var(--color-accent);
}
header .logo h2 span {
    color: var(--primary-color);
}

.breadcrum{
    justify-content: flex-start;
    padding: 1rem;
    margin: auto;
    /* background-color: green; */
    margin-top: 7.8rem;
    text-transform: capitalize;
}
}

.breadcrum span a{
    color: var(--text-color);
    text-transform: capitalize;
}

.card {
    box-shadow: 3px 5px 1rem 2px #afaaaaa6;
    border-radius: 0.2rem;
    transition: box-shadow 300ms linear;
}
.card h5{
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: 1.1rem;
    margin: 1.2rem 0;
}
.card:hover {
    box-shadow: unset;
}
img{
    object-fit: cover;
    -o-object-fit: cover;
}

footer {
    padding: 3rem;
    margin-top: 4.3rem;
}
footer h3 {
    text-align: center;
    padding: 2.5rem;
}
footer a {
    padding: 2rem;
}
footer .copyright{
    margin-top: 4rem;
    padding: 0 4rem;
}