* {
    box-sizing: border-box;
}

body {
    font-family: poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 50px 40px;
    font-weight: bold;
}

nav.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

nav.header h3 a {
    color: #000;
}

nav.header h3 a span {
    color: brown;
}

nav.header ul{
    display: flex;
    list-style-type: none;
}

nav.header ul li {
    padding-left: 20px;
}

nav.header li a {
    color: grey;
}

nav.header li form button {
    border: 2px solid brown;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 15px;
    color: brown;
    background-color: #fff;
    font-weight: bold;
}

div p :first-child {
    color: rgba(128, 128, 128, 0.2);
}

div p :first-child:hover {
    color: black;
}

div p :last-child {
    color: black;
}

div p {
    padding-bottom: 20px;
}

div.brands {
    display: flex;
    justify-content: space-between;
}

div.brands div {
    display: flex;
    width: 50vw;
}

div.brands div h3 {
    position: relative;
    left: 25px;
}
  

div.brands h4 a {
    color: brown;
}

div.options {
    display: flex;
    justify-content: space-between;
}

div.options div div {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 5px;
    margin-right: 5px;
}

div.options div div :last-child {
    color: green;
}

div.options form button {
    border: 2px solid brown;
    border-radius: 3px;
    background-color: #fff;
    color: brown;
    font-weight: bold;
    padding: 4px 10px;
    margin-left: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
}

@media screen and (max-width: 430px) {
    body {
        padding: 10px 20px;
        font-weight: 400;
    }

    nav.header ul {
        padding-top: 3px;
    }

    nav.header li form button {
        font-size: 14px;
        font-weight: 300;
        padding: 2px 5px;
    }

    div p {
        font-weight: bold;
        padding-bottom: 5px;
    }

    div.brands {
        flex-wrap: wrap;
        font-size: 14px;
    }

    div.brands div img {
        width: 40px;
    }

    div.brands div h3 {
        left: 10px
    }

    div.options {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    div.options div {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 431px) and (max-width: 1200px) {
    body {
       padding: 20px 20px;
    }
    
    div.options {
        flex-wrap: wrap;
    }

    div.options div {
        margin-bottom: 50px;
    }

    div.options div div {
        flex-wrap: wrap;
        margin-top: -14px;
        margin-bottom: -10px;
    }
}