$color-primary: #ad4c4c;
$color-secondary: #ffffff;

@mixin display-flex($justify, $align: center) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin boxSize($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($size: null, $weight: null, $line-height: null) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

.btn__normal {
    @include boxSize(809px, 60px);
    @include display-flex(center);
    @include font(16px, 600, 24px);
    margin-bottom: 154px;
    background-color: $color-primary;
    color: $color-secondary;
    align-self: center;
    border: none;
    cursor: pointer;
    &:active {
        transform: translateY(2px);
    }
    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.btn__exception {
    @extend .btn__normal;
    @include boxSize(250px, 60px);
    margin-bottom: 0px;
}

.btn__inactive {
    @extend .btn__normal;
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (max-width: 1024px) {
    .btn__normal,
    .btn__exception {
        @include boxSize(100%, 60px);
        margin-bottom: 19px;
    }
}
