* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #fff;
}

.container {
    padding: 20px 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.logo {
    font-size: 25px;
}

.logo .color-red {
    color: red;
}

.navigation-links ul {
    list-style-type: none;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navigation-links li {
    margin: 5px 0;
    font-size: 16px;
}

.navigation-links li:last-child {
    border: 1px solid red;
    width: 150px;
    padding: 5px;
}

.navigation-links a {
    text-decoration: none;
    color: #000;
}

.navigation-links a:hover {
    color: #f00;
}


.home-text {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

.home-text h2 {
    font-size: 28px;
}

.home-text p {
    font-size: 20px;
}


.location-pointer {
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /*text-align: center;*/
}

.location-pointer label {
    font-size: 22px;
    padding: 15px 0;
}

.location-pointer input[type="text"] {
    padding: 8px 20px;
    margin: 10px 0;
    width: 250px;
    text-align: center;
}

.pick-interest {
    padding: 16px 0;
}

.pick-interest h3 {
    text-align: center;
    font-size: 20px;
}

.flex-parent-one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.option-wrapper {
    border: 2px solid rgb(163, 163, 163);
    border-radius: 5px;
    padding: 35px;
    width: 250px;
    text-align: center;
    margin: 10px 0;
}

.option-wrapper img {
    width: 80px;
}

.option-wrapper h4 {
    font-size: 25px;
    padding: 5px;
}

.option-wrapper p {
    font-size: 18px;
    padding: 5px;
}


.services {
    padding: 20px 0;
    text-align: center;
}

.services h2 {
    font-size: 25px;
    padding: 5px 0;
}

.flex-parent-two {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.services-wrapper {
    padding: 35px 0;
}

.services-wrapper img {
    width: 200px;
}

.services-wrapper h4 {
    font-size: 25px;
    padding: 5px;
}

.services-wrapper p {
    font-size: 18px;
    padding: 5px;
}
    
footer {
    padding: 15px 0;
    text-align: center;
}

.contact-page p {
    font-size: 18px;
    padding: 5px 0;
}

.contact-images img {
    padding: 5px;
}

.footer-notice p {
    font-size: 12px;
}

@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        font-size: 28px;
    }

    .logo .color-red {
        color: red;
    }

    .navigation-links ul {
        flex-direction: row;
        justify-content: space-between;
    }


    .navigation-links li {
        margin: 0 15px;
        font-size: 16px;
    }

    .home-text {
        text-align: center;
        padding: 10px 0;
        margin: 10px 0;
    }

    .home-text h2 {
        font-size: 35px;
    }

    .home-text p {
        font-size: 24px;
    }

    .location-pointer label {
        font-size: 25px;
        padding: 10px 0;
    }

    .location-pointer input[type="text"] {
        padding: 8px 20px;
        margin: 10px 0;
        width: 450px;
        text-align: center;
    }

    .pick-interest {
        padding: 16px 0;
    }

    .pick-interest h3 {
        text-align: center;
        font-size: 25px;
    }

    .flex-parent-one {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .option-wrapper {
        border: 2px solid rgb(163, 163, 163);
        border-radius: 5px;
        padding: 35px;
        width: 400px;
        text-align: center;
        margin: 10px 0;
    }

    .option-wrapper img {
        width: 120px;
    }

    .option-wrapper h4 {
        font-size: 28px;
        padding: 5px;
    }

    .option-wrapper p {
        font-size: 20px;
        padding: 5px;
    }

    .services-wrapper {
        padding: 35px 0;
    }

    .services-wrapper img {
        width: 250px;
    }

    .services-wrapper h4 {
        font-size: 28px;
        padding: 5px;
    }

    .services-wrapper p {
        font-size: 20px;
        padding: 5px;
    }
        
    footer {
        padding: 15px 0;
        text-align: center;
    }

    .contact-page p {
        font-size: 22px;
        padding: 5px 0;
    }

    .contact-images img {
        padding: 5px;
    }

    .footer-notice p {
        font-size: 15px;
    }
}


@media screen and (min-width: 768px) {
    
    .container {
        padding: 15px 30px;
        margin: 15px 30px;
    }

    header {
        width: 100%;
        justify-content: space-between;
    }

    .logo .color-red {
        color: rgb(219, 9, 9);
    }

    .navigation-links li {
        margin: 0 15px;
        padding: 6px 10px;
    }

    .navigation-links li:last-child {
        border: 1px solid rgb(219, 9, 9);
        border-radius: 3px;
        padding: 6px 10px;
    }

    .navigation-links a {
        text-decoration: none;
        color: #000;
    }

    .navigation-links a:hover {
        color:rgb(219, 9, 9);
    }

    .home-text {
        text-align: center;
        padding: 80px;
    }

    .home-text h2 {
        padding-bottom: 10px;
    }

    .home-text p {
        color: rgb(44, 44, 44);
    }

    .location-pointer h3 {
        padding: 10px 0;
    }

    label {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 20px 0;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        outline: none;
        border-radius: 5px;
    }

    .pick-interest {
        padding: 2px 0 40px 0;
    }

    .pick-interest h3 {
        padding: 10px 0;
    }

    .flex-parent-one {
        flex-direction: row;
        justify-content: space-around;
    }

    .option-wrapper {
        border: 2px solid rgb(163, 163, 163);
        border-radius: 5px;
        padding: 25px;
        margin: 0 5px;
    }

    .option-wrapper h4, p {
        padding: 5px;
        color:rgb(163, 163, 163);
    }

    hr {
        color:rgb(163, 163, 163)
    }

    .services {
        padding: 45px 0;
    }

    .services h2 {
        text-align: center;
        padding-bottom: 35px;
    }

    .flex-parent-two {
        flex-direction: row;
        justify-content: space-between;
    }

    .services-wrapper h4, p {
        color:rgb(163, 163, 163);
        padding: 5px;
        text-align: center;
    }

    .contact-page {
        padding: 40px 0;
        text-align: center;
    }

    .contact-page p {
        font-weight: 600;
        padding-bottom: 20px;
    }

    .contact-icons i {
        padding: 0 8px;
        color:rgb(219, 9, 9);
    }

    footer {
        padding: 10px 0;
    }

    .footer-notice {
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (min-width: 992px) {
    
    .container {
        padding: 15px 30px;
        margin: 15px 30px;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logo .color-red {
        color: rgb(219, 9, 9);
    }

    .navigation-links ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .navigation-links li {
        margin: 0 15px;
        padding: 6px 10px;
    }

    .navigation-links li:last-child {
        border: 1px solid rgb(219, 9, 9);
        border-radius: 3px;
        padding: 6px 10px;
    }

    .navigation-links a {
        text-decoration: none;
        color: #000;
    }

    .navigation-links a:hover {
        color:rgb(219, 9, 9);
    }

    .home-text {
        text-align: center;
        padding: 80px;
    }

    .home-text h2 {
        padding-bottom: 10px;
    }

    .home-text p {
        color: rgb(44, 44, 44);
    }

    .location-pointer h3 {
        padding: 10px 0;
    }

    label {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 20px 0;
    }

    input[type="text"] {
        width: 100%;
        padding: 8px;
        outline: none;
        border-radius: 5px;
    }

    .pick-interest {
        padding: 2px 0 40px 0;
    }

    .pick-interest h3 {
        padding: 10px 0;
    }

    .flex-parent-one {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .option-wrapper {
        border: 2px solid rgb(163, 163, 163);
        border-radius: 5px;
        padding: 25px;
    }

    .option-wrapper h4, p {
        padding: 5px;
        color:rgb(163, 163, 163);
    }

    hr {
        color:rgb(163, 163, 163)
    }

    .services {
        padding: 45px 0;
    }

    .services h2 {
        text-align: center;
        padding-bottom: 35px;
    }

    .flex-parent-two {
        display: flex;
        justify-content: space-between;
    }

    .services-wrapper h4, p {
        color:rgb(163, 163, 163);
        padding: 5px;
        text-align: center;
    }

    .contact-page {
        padding: 40px 0;
        text-align: center;
    }

    .contact-page p {
        font-weight: 600;
        padding-bottom: 20px;
    }

    .contact-icons i {
        padding: 0 8px;
        color:rgb(219, 9, 9);
    }

    footer {
        padding: 10px 0;
    }

    .footer-notice {
        display: flex;
        justify-content: space-between;
    }
}