@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --custom-font-style: 'Poppins', 'sans-serif';
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* =========================================================================================>*/
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
}

/*General styling*/
li, a {
    text-decoration: none;
    list-style-type: none;
}

p{
    color: #A5A5A5;
}



/* Styling Header part*/
header{
    margin-top: 30px;
}

/*This displays the elements on the header inline-block*/
nav a, h3{
    display: inline-block;
}

/*floats the links to the right*/
.links{
    float:right;
    padding:0 30px;
}

.links a{
    margin: 0 20px;
}

#bag{
    color:#AD4C4C;
}

.signup{
    border: 1px solid #AD4C4C;
    color: #AD4C4C;
    border-radius: 3px;
    padding: 2px 5px;
    font-weight: bold;
}



/*======================================================================>*/
/* section one*/
.section1, .section4{
    text-align:center;
    margin: 70px 0px 40px;
}

.section1 h2, .section4 h2{
    color: #4E4D4D;
    font-weight: bold
}

/*=======================================================================================================>*/


/*Search */

select {
    width: 97%;
    padding: 10px 0px;
    margin-top: 2px;
    margin-bottom: 20px;
    color: #AD4C4C;
}
.search h5{
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
   }

/*
.search img{
    position: relative;
    top: 40px;
    left:92%;
}*/

/*===========================================================================================>*/


/*Interest*/
.interest div{
    display: inline-block;
    padding: 20px 30px;
    border: 1px solid #E5E5E5;
    margin-top: 20px;
    margin-bottom:40px;
    margin-left: 4px;
    margin-right: 10px;
}

.interest p{
    font-size: 0.8em;
}
.interest h5{
 color: #AD4C4C;
 font-weight: bold
}


/*===================================================================================================.*/


/*serve*/

.serve div{
    display: inline-block;
    text-align: center;
    padding: 20px 30px;
    color: #696969;
}

.serve p{
    font-size: 0.8em;
}
/*=======================================================================================>*/


/*Contact*/
.section5{
    text-align:center;
    margin: 40px 0px 10px;
}
.section5 li{
    display: inline-block;
    padding: 20px;
}

/*==============================================================================================>*/


/*footer*/
footer{
    text-align: center;
}
footer p{
    display: inline-block;
    margin-bottom: 30px;
    color: #696969;
}
span p{
    float: right;
}


/*==========================================
     Media Query
=================================================*/

@media screen and (min-width: 320px) and (max-width: 480px) {

    header{
        font-size: 8px;
    }

    .section1 {
        margin: 50px 0px 20px;
    }

    .section1 div{
        text-align: left;
        font-size: 10px;
    }

    .interest div{
        display: grid;
        grid-template-columns: auto;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {

    header{
        font-size: 12px;
    }

    .section1 {
        margin: 50px 0px 20px;
    }

    .section1 div{
        text-align: left;
        font-size: 10px;
    }
    
    section h5 div div{
        display: flex;
        flex-direction: space-between;
    }

    .interest div{
        display: grid;
        grid-template-columns: auto;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {

    header{
        font-size: 12px;
    }

    .section1 {
        margin: 50px 0px 20px;
    }
    
    section h5 div div{
        display: flex;
        flex-direction: space-between;
    }

    .interest div{
        display: grid;
        grid-template-rows: auto;
    }

    .serve div{
        display: grid;
        grid-template-rows: auto;
        justify-content: center;
    }
    
}
   