    /* CSS Styling for android devices */
@media screen and (max-width: 360px) {
    body {
         margin: 0 20px;
     }
 
     header nav div {
         float: right;
     }
 
     header nav a.logo {
         font-size: 16px;
     }
 
     header nav div a {
         padding: 0 5px;
         font-size: 10px;
         margin: 0;
     }
 
     header nav div a.navsignup {
         padding: 5px;
         font-size: 10px;
     }
 
     section.header h2 {
         text-align: left;
         font-size: 20px;
         margin: 0;
     }
 
     section.header p {
         text-align: left;
         font-size: 12px;
         margin: 0 0 10px;
     }
 
     label[for="location"],label[for="interest"] {
         font-size: 12px;
     }
 
     input {
         font-size: 12px;
         padding: 8px 0px 8px 10px;
         margin: 10px 0 20px;
         color: hsla(0, 1%, 30%, 1);
     }
 
     section.interest {
         display: flex;
         flex-direction: column;
         margin: 5px 0 20px;
     }
 
     section.interest div {
         box-shadow: 0px 0px 3px 1.5px hsla(0, 0%, 0%, 0.1);
         padding: 20px;
         margin: 8px 0;
     }
 
     section.interest div h4 {
         color: hsla(0, 0%, 65%, 1);
         font-size: 16px;
     }
 
     section.serve h3 {
         text-align: center;
         font-size: 20px;
         margin: 20px 0 10px;
         color: hsla(0, 1%, 30%, 1);
     }
 
     section div.serve {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         margin-bottom: 20px;
         padding: 0 35px;
         text-align: center;
     }

     div.service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
 
     section.serve h4 {
         text-align: center;
         margin: 0;
         font-size: 15px;
         color: hsla(0, 0%, 41%, 1);
     }
 
     section.serve p {
         text-align: center;
         color: hsla(0, 0%, 65%, 1);
         font-size: 10px;
     }
 
     footer {
         text-align: center;
     }
 
     footer p {
         text-align: center;
         font-size: 16px;
         margin: 20px 0 10px;
         color: hsla(0, 0%, 41%, 1);
     }

     .ftlinks {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
     }

     .ftlinks a {
        font-size: 12px;
     }

     .ftlinks div.copyright {
        text-align: center;
        width: 60%;
        margin: auto;
     }
 }


    /* CSS Styling for tablet devices */

 @media screen and ((min-width: 481px) and (max-width: 768px)) {
    body {
        margin: 20px;
    }

    header nav div a {
        margin: 0 5px;
        font-size: 14px;
    }

    header nav div a.navsignup {
        font-size: 14px;
    }
    
    section.header h2 {
        text-align: center;
        font-size: 36px;
    }
    
    section.header p {
        font-size: 12px;
    }

    label[for="location"],label[for="interest"] {
        font-size: 16px;
    }
    
    input {
        width: 100%;
        font-size: 16px;
        margin: 8px 0px 20px;
    }
    
    section.interest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
        justify-content: space-between;
        margin: 10px 0 50px;
    }
    
    section.interest div {
        box-shadow: 0px 0px 3px 1.5px hsla(0, 0%, 0%, 0.1);
        padding: 20px;
    }

    section.interest div h4 {
        font-size: 16px;
    }

    
section.interest div p {
    font-size: 12px;
    }

    section.serve h3 {
        font-size: 24px;
        margin: 15px 0 8px;
    }

    section div.serve {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 20px;
        /* box-shadow: 0px 0px 3px 1.5px hsla(0, 0%, 0%, 0.4); */
        /* align-items: center; */
        justify-content: center;
        margin-bottom: 50px;
        text-align: center;
    }

    div.service {
        /* background-color: gold; */
        box-shadow: 0px 0px 3px 1.5px hsla(0, 0%, 41%, 1);
        padding: 0 60px;
    }
    
    section.serve h4 {
        margin: 5px;
        font-size: 20px;
    }
    
    section.serve p {
        font-size: 16px;
        padding: 0 30px 10px;
    }
    
    .ftlinks {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    /* margin: 30px 0 60px; */
    }

    .ftlinks a {
        font-size: 16px;
        padding: 10px 0;
    }
    
 }