*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    position: relative;
    align-items: center;
}

body{
    padding: 20px 50px;
}

header h3 a{
    color: black;
}

header h3 a span{
    color: brown;
}

nav{
    position:absolute;
    right:0;
    display:flex; 
    align-items: center;
}

nav li{
    display: inline;
    padding: 40px;
}

nav li span{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: transparent;
}

nav button{
    color:brown;
    background-color: white;
    padding: 10px 20px;
    border-radius:4px;
    outline: none;
    border:2px solid brown;
    font-weight: 400;
    cursor: pointer;
}



section#home .landing-page{
    width:100%;
    text-align:center;
    margin-bottom:50px;
    margin-top: 150px;
    font-size: larger;
}


section#home .location{
    width:100%;
    margin-bottom:40px;
}

section#home .location select,
section#home .location input{
    width: 100%;
    padding:10px;
    outline:none;
    border:1px solid grey;
}

section#home .pick-interest .interest-row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

section#home .pick-interest .interest-row .interest{
    flex-basis: 23%;
    margin-bottom:20px;
}

section#home .pick-interest .interest{
    padding:20px;
    border: 2px solid grey;
    color: grey;
}


section#home .serve{
    margin-bottom:150px;
}

section#home .serve h3{
    /* display:flex; */
    text-align: center;
    margin-top:150px;
    margin-bottom: 80px;
}

section#home .serve .serve-row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

section#home .serve .serve-row div{
    text-align: center;
    margin-bottom: 30px;
}

section#home .serve .serve-row div p{
    /* width:195px; */
    /* margin-left:50px; */
    color: grey;
}

@media screen and (max-width: 400px){
    nav li{
        padding-right: 15px;
    }

    .car {
        padding-right: 1px;

    }

    .foodie {
        padding-bottom: 10px;
        margin-top: -80px;
        font-size: 25px;
    }
    .foodie-p {
        font-size: 15px;
    }
    
}

/* Small devices (Potraits tablets and large phones, 600px and down) */
@media screen and (max-width: 600px){

    body{
        padding: 20px;
    }
    section#home .landing-page{
        text-align:start;
    }
    section#home .pick-interest .interest-row .interest{
        flex-basis: 100%;
        /* margin-bottom:20px; */
    }

    section#home .serve .serve-row div{
        width:100%;
        text-align: center;
    }
}

/* Medium devices (Landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    body{
        padding: 20px 30px;
    }

    section#home .pick-interest .interest-row .interest{
        flex-basis: 48%;
    }

    section#home .serve .serve-row { 
        justify-content: center;
        align-items: center;
    }

    section#home .serve-you .serve-row div{
        width: 300px;
        text-align: center;
    }

    
}

/* Small devices (Potraits tablets and large phones, 600px and up) */ 
@media screen and (min-width: 600px) and (max-width: 1017px) {
    body{
        padding: 20px 30px;
    }

    section#home .pick-interest .interest-row .interest{
        flex-basis: 48%;
    }

    section#home .serve .serve-row{
        
        justify-content: center;
        align-items: center;
    }

    section#home .serve .serve-row div{
        width:300px;
        text-align: center;
    }
}

footer .contact{
    /* margin-left:47%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:10px;
    height: 100px;
}

footer .foot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    height: 50px;
}

section#vendors .kfc-vendor .kfc{
    margin-top:50px;
    margin-bottom:-40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:100px;
    /* border-bottom: 1px solid #f4f4f4; */
}

section#vendors .kfc-vendor .kfc .head {
    display:flex;
    align-items: center;
}

section#vendors .kfc-vendor .kfc .head h3{
    margin-left:10px;
}

section#vendors .kfc-vendor .kfc button, .vendor > .btn button{
    outline:none;
    border:none;
    color:brown;
    background-color: transparent;   
}

.kfc-vendor .btn{
    display:none;
    justify-content: center;
    margin-top:40px;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.products .product{
    margin-bottom: 20px;
}

.products .details{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
    margin-bottom: 15px;
}

.products .details p:nth-child(2){
    color:green;
}

.products button{
    background-color: transparent;
    color: brown;
    outline:none;
    border:1px solid brown;
    padding:5px 15px;
    border-radius: 5px;
    cursor: pointer;
    display:flex;
    font-weight: bold;
    align-items: center;
}

button:hover{
    color: white;
    background-color: brown;
}

.draw {
    /* position: relative; */
    /* left: 3px; */
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border:2px solid white;
    margin-right: 5px;
}

.draw::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    transform: translateY(7px) translateX(-10px);
}

section#vendors .cr-vendor .cr{
    margin-top:40px;
    margin-bottom:30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:20px;
    /* border-bottom: 1px solid #f4f4f4; */
}

section#vendors .cr-vendor .cr .head {
    display:flex;
    align-items: center;
}


section#vendors .cr-vendor .cr .head h3{
    margin-left:10px;
}

section#vendors .cr-vendor .cr button, .vendor > .btn button{
    outline:none;
    border:none;
    color:brown;
    background-color: transparent;
}

.cr-vendor .btn{
    display:none;
    justify-content: center;
    margin-top:40px;
}

.grey-color{
    color: grey;
}

.home-vendor{
    padding-top: 100px;
    padding-bottom: 35px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

