body{
    margin: 10px;
    padding: 10px;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Labrada', serif;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.nav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
} 
.nav li, input{
    list-style: none;
}
.nav{
    padding-right: 40px
}
.nav-input{
    width: 80px;
    margin-top: 5px;
    height: 30px;
    float: right;
    color: red;
    background-color: rgba(255, 255, 255, 0);
    border-color: red;
    border-radius: 5px;
}
nav li{
    display: sticky;
    padding: 8px;
    float: right;
}
.header{
    margin-top: 100px;
    text-align: center;
    line-height: 10px;
}
.form select{
    width: 100%;
    height: 35px;  
    box-shadow: 3px 3px rgba(85, 85, 85, 0.178);  
}
form{
    padding: 40px;
}
.parent-pick{
    padding-left: 40px;
}
.parent-pick h4{
    color: red;
}
.child-pick{
    width: 270px;
    height: 169px;
    float: left;
    border: 1px solid rgba(180, 180, 180, 0.637);
    margin: 10px;
    margin-left: 0;
    padding: 10px;
    line-height: 5px;
    box-shadow: 3px 3px rgba(85, 85, 85, 0.178);
}

.parent-serve h2{
    margin-top: 50px;
    text-align: center;
    line-height: 10px;
    justify-content: center;
}

.child-serve{
    width: 300px;
    height: auto;
    float: left;
    margin: 20px;
    padding: 30px;
    line-height: 30px;
    text-align: center;
}

.parent-footer{
    margin-top: 550px;
    text-align: center;
    line-height: 10px;
}

@media screen and (min-width: 318px) {
    .parent-footer{
        font-size: 14px;
        justify-content: center;
    }
    .child-footer1{
        justify-content: center;
    }
    .child-footer2{
        justify-content: center;
    }
}

@media screen and (min-width: 600px) {
    .parent-footer{
        font-size: 16px;
    }
    .child-footer1{
        float: left;
        display:flex;
    }
    .child-footer2{
        float: right;
        display: flex;
    }
}