@media only screen and (max-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
     :root {
        --theme--: #AD4C4C;
        --themegreen--: #5EA304;
        --themegray--: #696969;
        --themedarkgray--: #4E4D4D;
        --themeborder--: #C4C4C4: --themefaint--: #A5A5A5;
    }
    html {
        font-size: 17px;
        font-weight: 400;
        outline: unset;
    }
    h2 {
        font-size: xx-large;
    }
    .wrapper {
        padding: 0 5%;
        width: 100vw;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
    .topNav {
        width: 50%;
    }
    .nav-link {
        font-size: x-large;
    }
    .topNav-link {
        width: 30%;
        height: 100%;
    }
    .hero-content {
        width: 70%;
    }
    .hero-header {
        font-size: 60px;
    }
    .slogan {
        font-size: x-large;
    }
    select#location {
        padding: 1%;
        width: 100%;
        height: 40%;
        font-size: x-large;
    }
    .responsive-container {
        height: 60%;
        transition: 400ms;
    }
    .responsive-container2 {
        height: 200%;
    }
    .responsive-container li.interest-card {
        padding: 1%;
        height: 45%;
        width: 44%;
        font-size: large;
        align-items: center;
    }
    .responsive-container a {
        font-size: large;
    }
    .responsive-container2 li.serve-card {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Vendors responsive design falls here on screens up to 1200pixels */
    .vendor {
        width: 100%;
        height: 120%;
    }
    .vendor-image {
        width: 30%;
    }
    .vendor-product-card {
        height: 45%;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-image {
        width: 100%;
    }
    .product-actions {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 17px;
        font-weight: 400;
        outline: unset;
    }
    h2 {
        font-size: xx-large;
    }
    .wrapper {
        padding: 0 5%;
        width: 100vw;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
    .topNav {
        width: 60%;
    }
    .nav-link {
        font-size: x-large;
    }
    .topNav-link {
        width: 30%;
        height: 100%;
        font-size: x-large;
    }
    .hero-content {
        width: 100%;
    }
    .hero-header {
        font-size: 70px;
    }
    .slogan {
        font-size: xx-large;
    }
    select#location {
        padding: 1%;
        width: 100%;
        height: 40%;
        font-size: x-large;
    }
    .responsive-container {
        height: 100%;
    }
    .responsive-container2 {
        height: 200%;
    }
    .responsive-container li.interest-card {
        padding: 0 5%;
        height: 45%;
        width: 43%;
        font-size: x-large;
        align-items: center;
    }
    .responsive-container2 li.serve-card {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer span {
        font-size: medium;
    }
    /* Vendors responsive design falls here on screens up to 1200pixels */
    .vendor {
        width: 100%;
        height: 120%;
    }
    .vendor-nav-left {
        width: 60%;
    }
    .vendor-nav-right {
        width: 30%;
    }
    .vendor-product-card {
        height: 45%;
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-image {
        width: 100%;
    }
    .product-image img {
        width: 100%;
    }
    .cart-adder-btn {
        width: 70%;
    }
}

@media only screen and (max-width: 770px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 14px;
        font-weight: 400;
        outline: unset;
    }
    h2 {
        font-size: x-large;
    }
    .wrapper {
        padding: 0 5%;
        width: 100vw;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
    .topNav {
        width: 60%;
    }
    .nav-link {
        font-size: large;
    }
    .logo {
        width: 20%;
    }
    .topNav-link {
        width: 33%;
        height: 100%;
    }
    .hero-content {
        justify-content: left;
        padding: 0;
        width: 100%;
    }
    .hero-header {
        display: flex;
        justify-content: left;
        font-size: 50px;
    }
    .slogan {
        font-size: large;
    }
    select#location {
        padding: 1%;
        width: 100%;
        height: 40%;
        font-size: x-large;
    }
    .responsive-container {
        height: 180%;
        justify-content: space-around;
    }
    .responsive-container2 {
        height: 200%;
    }
    .responsive-container ul {
        margin-top: -30%;
    }
    .responsive-container li.interest-card {
        padding: 0 10%;
        height: 22%;
        width: 86%;
        align-items: center;
    }
    .responsive-container2 li.serve-card {
        width: 100%;
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .serve-top {
        margin-top: 0;
        height: 20%;
    }
    .contacts {
        margin-top: 0;
        height: 30%;
        border-top: solid 3px rgba(220, 220, 220, 0.233);
    }
    .contacts-header {
        height: 20%;
    }
    footer span {
        width: 48%;
        font-size: small;
    }
    /* Vendors responsive design falls here on screens up to 770pixels */
    .vendor {
        width: 100%;
        height: 120%;
    }
    .vendor-image {
        width: 30%;
    }
    .vendor-product-card {
        height: 45%;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .product-image {
        width: 100%;
    }
    .cart-adder-btn {
        width: 70%;
    }
}


/* screens below this point are small devices  */

@media only screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 14px;
        font-weight: 400;
        outline: unset;
    }
    h2 {
        font-size: large;
    }
    .wrapper {
        padding: 0 5%;
        width: 100vw;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
    .topNav {
        width: 80%;
    }
    .nav-link {
        font-size: medium;
    }
    .logo {
        width: 10%;
    }
    .logo span {
        font-size: medium;
    }
    .topNav-link {
        width: 33%;
        height: 100%;
    }
    .hero-content {
        justify-content: left;
        padding: 0;
        width: 100%;
    }
    .hero-header {
        display: flex;
        justify-content: left;
        font-size: 40px;
    }
    .slogan {
        font-size: medium;
    }
    select#location {
        padding: 1%;
        width: 100%;
        height: 40%;
        font-size: x-large;
    }
    .responsive-container {
        height: 180%;
        justify-content: space-around;
    }
    .responsive-container2 {
        height: 200%;
    }
    .responsive-container ul {
        margin-top: -30%;
    }
    .responsive-container li.interest-card {
        padding: 0 10%;
        height: 22%;
        width: 86%;
        ;
        font-size: x-large;
        align-items: center;
    }
    .responsive-container2 li.serve-card {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .serve-top {
        margin-top: 0;
        height: 20%;
    }
    .contacts {
        margin-top: 0;
        height: 30%;
        border-top: solid 3px rgba(220, 220, 220, 0.233);
    }
    .contacts-header {
        height: 20%;
    }
    footer span {
        width: 48%;
        font-size: small;
    }
    /* Vendors responsive design falls here on screens up to 600pixels */
    .vendor {
        width: 100%;
        height: 240%;
    }
    .vendor-nav-left {
        width: 60%;
    }
    .vendor-nav-right {
        width: 30%;
    }
    .vendor-product-card {
        height: 24%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-image {
        width: 100%;
    }
    .cart-adder-btn {
        width: 70%;
    }
}


@keyframes blink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}