* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: unset;
}

:root {
    --theme--: #AD4C4C;
    --themegreen--: #5EA304;
    --themegray--: #696969;
    --themedarkgray--: #4E4D4D;
    --themeborder--: #C4C4C4: --themefaint--: #A5A5A5;
}

#newItem {
    margin-bottom: 15%;
    height: 9px;
    width: 9px;
    background-color: brown;
    border-radius: 50%;
    align-self: center;
    animation: blink 500ms 200ms infinite ease-in-out;
    transition: 400ms;
    position: absolute;
    display: none;
}

h2 {
    font-weight: 500;
    color: #202020;
}

a {
    text-decoration: unset;
}

a.border-btn {
    padding: 1%;
    color: var(--theme--);
    border: 2.5px solid #AD4C4C;
    border-radius: 4px;
    transition: .6s;
}

a.border-btn:hover {
    color: white;
    border-radius: 4px;
    background-color: var(--theme--);
}

a.page-links {
    padding: 5.5%;
    text-decoration: unset;
    color: #696969;
    font-size: medium;
}

.flexbox-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    padding: 0 5%;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: auto;
}

header {
    width: 100%;
    height: 13%;
    justify-content: space-between;
}

.logo {
    width: 15%;
    height: 100%;
    align-items: center;
}

.logo span {
    font-size: x-large;
    font-weight: 600;
}

.red {
    color: var(--theme--);
}

.topNav {
    width: 35%;
    height: 100%;
}

.topNav ul {
    width: 100%;
    height: 100%;
}

.topNav-link {
    width: 30%;
    height: 100%;
    justify-content: right;
    align-items: center;
    font-size: large;
}

.cartCont {
    position: relative;
}

a.C {
    padding: 5%;
}

.hero {
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.hero-content {
    width: 40%;
    justify-content: center;
    align-items: center;
}

.hero-header {
    width: 100%;
    font-size: xxx-large;
    justify-content: center;
    color: var(--themedarkgray--);
}

.slogan {
    font-size: larger;
    color: var(--themegray--);
}

.location {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
}

.location-header {
    width: 100%;
}

.location-select {
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}

select#location {
    padding: 1%;
    width: 100%;
    height: 50%;
    font-size: larger;
    font-weight: 600;
    color: rgba(128, 128, 128, 0.582);
    border: 3px solid #C4C4C4;
    border-radius: 4px;
    background-color: white;
}

.interest {
    width: 100%;
    height: 45%;
}

.interest-header {
    width: 100%;
    height: 12%;
}

.interest-list {
    width: 100%;
    height: 86%;
    justify-content: space-evenly;
    align-items: center;
}

.interest-card {
    padding: 2%;
    width: 24%;
    height: 90%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px rgba(184, 184, 184, 0.24);
    transition: transform 300ms;
    background-color: white;
}

.activeCard {
    box-shadow: 0 0 4px rgba(184, 184, 184, 0.76);
}

.activeCard:hover {
    box-shadow: 0 0 4px rgb(134, 134, 134);
    transform: scale(1.02);
}

.interest-card a {
    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    font-size: medium;
}

.interests-header {
    width: 100%;
    color: var(--themegray--);
}

.interest-slogan {
    color: var(--themegray--);
    font-weight: 500;
}

.serve {
    border-top: solid rgb(250, 250, 250);
    width: 100%;
    height: 60%;
}

.serve-top {
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.serve-images {
    width: 100%;
    height: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.serve-card-header {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: large;
    color: var(--themedarkgray--);
}

.serve-card-slogan {
    font-weight: 500;
    color: var(--themegray--);
}

.contacts {
    margin-top: 5%;
    border-top: solid rgb(250, 250, 250);
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
}

.contacts-header {
    width: 100%;
    height: 70%;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
}

.contact-links {
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.contact-links ul {
    width: 40%;
    height: 60%;
    justify-content: center;
}

.contact-links ul li {
    width: 30%;
    height: 100%;
}

.contact-links a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links a:hover img {
    transform: scale(1.5);
}

.contact-links img {
    width: 60%;
    height: 90%;
    transition: 500ms;
}

footer {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
}

footer span {
    font-size: large;
    cursor: pointer;
    color: var(--themegray--);
}


/* @@@@@@@@@ vendor page styles ########## */

.path {
    margin-top: 40px;
    width: 100%;
    height: 10%;
}

.regular-path {
    color: #C9C9C9;
}

.page-header {
    width: 100%;
    height: 8%;
    align-items: center;
}

.vendor {
    width: 100%;
    height: 60%;
}

.vendor-nav {
    width: 100%;
    height: 12%;
    justify-content: space-between;
}

.vendor-nav-left {
    width: 30%;
    height: 100%;
}

.vendor-image {
    width: 30%;
    justify-content: center;
    align-items: center;
}

.vendor-name {
    width: 70%;
    justify-content: left;
    align-items: center;
}

.vendor-nav-right {
    width: 10%;
    justify-content: center;
    align-items: center;
}

.view-all {
    color: var(--theme--);
    transition: 400ms;
}

.view-all:hover {
    text-decoration: underline;
}

.vendor-products {
    width: 100%;
    height: 88%;
}

.vendor-products ul {
    margin: auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.vendor-product-card {
    height: 90%;
    width: 24%;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0 0 5px rgba(128, 128, 128, 0.274); */
}

.product-image {
    width: 100%;
    /* box-shadow: 0 0 5px rgba(128, 128, 128, 0.274); */
}

.product-info {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    color: var(--themegray--);
}

.product-price {
    display: flex;
    color: var(--themegreen--);
}

.product-actions {
    width: 100%;
    height: 20%;
}

.cart-adder-btn {
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-item {
    color: White;
    background-color: var(--themegray--);
}