.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% auto;
    
}
.text{
    width:50%;
}
h2{
    color: rgb(71, 228, 71);
    font-weight: 500;
    text-align: center;
}
h4{
    color: rgb(72, 68, 68);
    font-weight: 500;
    text-align: center;
    flex-wrap: wrap;
}

@media screen and (max-width:1000px){
    *{
        font-size: 20px;
    }
    .img-container {
        height: 70%;
        width: 80%;
    }
    h2{
        font-size:30px;
        flex-wrap: nowrap;
    }
    h4{
        font-size: 20px;
        flex-wrap: wrap;
    }
    
}