*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
    background: #fff;
}

/** From Here **/
.clicker {
    outline:none;
    cursor:pointer;
    }
    
    .hiddendiv{
    display:none;
    }
    
    .clicker:focus + .hiddendiv{
    display:block;
    }
    .clicker p{
        text-align: center;
       }
/**Here**/

nav ul{
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;      
}
main {
    margin: 20px;
}
.header {
    margin: 0;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 30px;
    margin-right: 15px;
}
.header h1 {
    font-size: 24px;
}
.nav_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    padding: 10px;    
}
.header span {
    color: red;
}
.navItem {
    height: 50px;
    width: inherit;   
    align-items: center;
    display: inline-grid;   
    margin-left: 10px;
}
.navItem a {
    text-decoration: none;
    color: black;
}
.navItem:hover a {
    color: rgb(241, 57, 11);
}

.foods, .foods1 {
    margin-bottom: 10px;
}
.foods .images {
    display: grid;
    column-gap: 20px;
}
.foods1 .images {
    display: grid;
    column-gap: 20px;
}
.foods1 p {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}
.order {
    display: flex;
    overflow: hidden;
    list-style-type: none;    
}
.orderHide {
    list-style: none;
}
.img {
    height: 100px;
    width: 100px;
}
.mg {
    height: 25px;
    width: 25px;
}

.foods .images .order .image_1 .im {
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;    
    border: 1px solid #add8e6;
    background-color: #fff;
    box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.foods .images .orderHide .image_1 .im {
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;    
    border: 1px solid #add8e6;
    background-color: #fff;
    box-shadow: 0 0 3px 1.5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.foods .images .order .image_1 .i_2 {
    padding-bottom: 20px;
}
.foods .images .order, .orderHide {
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;  
    background-color: #fff;
    text-align: center;
    }
    main span{
        color: darkgray;
    }

.foods1 .images .order {
    display: inline-grid;
    padding: 10px;
    margin-bottom: 10px;  
    background-color: #fff;
    text-align: center;
    }

.foods .images .order div .desc .hd {
    margin-bottom: 5px;
    margin-top: 5px;
}
.foods .images .order div .desc {
    color: gray;
} 
hr{
    width: 300px;
  }
  .footer {
      padding-left: 10px;
  }
  .contact-sec {
      text-align: center;
  }
  #terms {
    text-align: center;
}
#copyrit {
    text-align: center;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;  
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #div3 ul{
    list-style-type: none;
}
#div3 li{
    display: inline-grid;
    padding: 2px;
}
main #div3 #log {
    margin-left: -35px;
}
div#kfc{
    position: relative;
    bottom: 25px;
}
.foods .images li .image_1 .img_1 .i_1, .foods1 .images li .image_1 .img_1 .i_1{
    display: flex;
}
.i_1{
    margin: 10px;
    font-weight: bold;
}
.i_1 .i2{
    margin-left: 70px;
    color: green;
    font-weight: bold;
}
.foods .i_1 .i1{
    margin-left: -10;
    color: green;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}
.foods .i_2 {
    margin-left: -10;
    color: green;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}
button{
    padding: 5px;
    font-weight: bold;
    color: red;

}
.foods .i_1 .i1, .foods1 .i_1 .i1 {
    width: 150px;
    
}
.foods .orderHide .i_1 .i1 {
    width: 150px;
    text-align: left;    
}
.foods1 .order .i_1 .i1 {
    width: 150px;
    text-align: left;
    padding-left: 15px;
    
}
.foods1 .orderHide .i_1 .i1 {
    width: 150px;
    text-align: left;
    padding-left: 5px;
    
}
.i_1, .i_2 {
    margin-left: 10px;
}
.foods1 .order .img_1 .i_2 {
    width: 150px;
    text-align: left;
    padding-left: 15px;
    
}
.foods1 .orderHide .img_1 .i_2 {
    width: 150px;
    text-align: left;   
    
}
.foods .orderHide .img_1 .i_2 {
    width: 150px;
    text-align: left;   
    
}
/*For Active Btns*/
.btn-active{	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: 1px solid #AD4C4C;
	align-items: center;
	background: #FFFFFF;
	color: #AD4C4C;
	font-family: Poppins;
	font-weight: 500;
}

/*For Disabled Btns*/
.icon-disable{
	width: 30px;
	height: 30px;
	top: 624px;
	left: 105.03px;
	gap: 0px;
	opacity: 0px;
	angle: 45 deg;
 	background-image: url('../html/img/disable.PNG'); 
}
/*For Hidden Btns*/
.btn-stnd{
	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: none;
	opacity: 0px;
	/* Vector */
	display: inline-flex;
	align-items: center;
	background: #A5A5A5;
	color: #E6E6E6;
	padding-left: 15px;
	display: none;
}

/*For Displayed Btns*/
.btn-stnd-display{
	
	width: 128px;
	height: 40px;
	top: 604px;
	left: 100px;
	gap: 5px;
	border-radius: 3px;
	border: none;
	opacity: 0px;
	/* Vector */
	display: inline-flex;
	align-items: center;
	background: #A5A5A5;
	color: #E6E6E6;
	padding-left: 15px;
}
.btn-stnd label{
	font-family: Poppins;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	font-size: 16px;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
.cart_dot{
	/* Ellipse 38 */
	width: 9px;
	height: 9px;
	left: 1105px;
	top: 52px;
	display: inline-flex;
	background: #AD4C4C;
	border-radius: 100%;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);

}


@media screen and (min-width: 400px) {
    .navItem {
        height: fit-content;
        padding: 12px 38px;
        text-align: center;
        justify-content: center;
    }
    .navItem:hover {
        border-bottom: 4px solid #fff;
    }
}

@media screen and (min-width: 768px) {
    .header {
        font-size: 30px;
    }
    .foods .images .order .image_1 .i_2 {
        padding-bottom: 0;
    }
    .foods .i_1 .i1, .foods1 .i_1 .i1 {
        width: 120px;
        
    }
    hr{
        width: 700px;
      }
    .foods1 .order .i_1 .i1 {
        width: 120px;
        text-align: left;
        padding-left: 0;
        
    }
    .i_1 .i2{
        margin-left: 40px;
        font-weight: bold;
    }
    .foods .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foods1 .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foods1 p {
        text-align: center;
        font-size: medium;
        font-weight: bold;
    }
    .foods .order {
        display: flex;
        flex-direction: column;
        height: 250px;
        padding: 5px;
    }
    .foods .clicker p {
        text-align: center;
    }
    .foods1 .order {
        display: flex;
        flex-direction: column;
        height: 250px;
        padding: 5px;
    }
    .pz {
        height: 100%;
        width: 85%;
    }
    .pz1 {
        height: 55%;
        width: 75%;
    }
    .mg {
        height: 40px;
        width: 30px;
    }
  
    .foods .images .order {
        display: inline-grid;
        margin-bottom: 5px;    
        border: 1px solid #add8e6;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
    
.i_1, .i_2 {
    margin-left: 0;
}
.foods1 .order .img_1 .i_2 {   
    text-align: left;
    padding-left: 0;
    
}
.foods .order .img_1 .i_2 { 
    text-align: left;
    padding-left: 0;  
}
  
    .foods1 .images .order {
        display: inline-grid;
        margin-bottom: 10px;    
        border: 1px solid #add8e6;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
        border-radius: 5px;
    }
    .all-site {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 992px) {
    .header {
        font-size: 36px;
	margin-right: 650px;
    }
    .foods .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .foods1 .images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .order {
        height: 280px;        
    }
    .img {
        height: 120px;
    }
    .mg {
        height: 40px;
        width: 40px;
    }
    .all-site {
        padding-left: 50px;
        padding-right: 50px;
    }
  /* .navItem {
    height: 50px;
    width: inherit;   
    align-items: center;
    display: inline-grid;   
    margin-left: 10px;
    }*/

}
