@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Poppins';
}
html {
    font-size: 100%;
}

/*------------ Navigation goes here --------------*/
.header{
	margin:0 50px 25px;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	width: auto;
}
.header span{
	color: #AD4C4C;
}
.header ul li{
	display: inline-block;
	margin-top: 2px;
	padding: 0 20px;
	list-style: none;
}
.header a{
	color: #696969;
}
.header a:hover{
	color: #AD4C4C;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
}
.btn{
	color: #AD4C4C;
	border: 1px solid #AD4C4C;
	border-radius: 2px;
	padding: 8px 15px;
	font-size: 15px;
	background: #fff;
}
.btn:hover{
	background: #AD4C4C;
	color: #fff;
}
/*----------- Body Text --------------*/
.body-text{
	text-align: center;
	margin-top: 70px;
}
.body-text h1{
	color: #4E4D4D;
}
.body-text p{
	color: #696969;
	font-size: 15px;
}
/*------------- Main Body Section 1 ----------------*/
.main-text{
	margin:40px 50px 25px;
}
.main-text h4{
	margin-bottom: 15px;
}
#location{
	width: 99.9%;
	height:45px;
	border: transparent;
	border: 1px solid #C4C4C4;
}
/*----------------- main text 2 -------------------*/
.main-text-2{
	margin:0 50px 25px;
	/*margin-top: 20px;*/
}
.main-text-2-box-container{
	display: flex;
	width: auto;
	margin-right: -10px;
}
.main-text-2-box{
	margin-right: 10px;
	border: 1px solid #A5A5A5;
	width: 400px;
	padding: 30px 0;
	padding-left: 15px;
	margin-top:10px;
}
.main-text-2-box h5{
	margin: 5px 0;
	color: #A5A5A5;
	font-weight: 400;
}
.main-text-2-box h6{
	color: #A5A5A5;
	font-size: 9px;
	font-weight: 400;
}
::placeholder{
	padding-left: 15px;
}
/*----------- Main-Text-3 ----------------------*/
.main-text-3 {
	margin:30px 50px 25px;
	text-align: center;
	color: #4E4D4D;
}
.main-text-3  h2{
	font-weight: 500;
}
/*------------- break line ------------------*/
hr { 
   border: 1px solid #E6E6E6;
    margin: 50px 50px 40px;
}
/*---------- 3-box-main-4 -------------------*/
.Three-box{
	display: flex;
	margin: 50px 50px 40px;
	/*margin-top: 50px;*/
	justify-content: space-between;
}
.three-box-main-4 h3{
	font-size: 15px;
	color: #696969;
	margin-top: 25px;
	font-weight: 500;
}
.sub-3-box-main-4 p{
	color: #A5A5A5;
	font-size: 15px;
	margin-top: 15px;
}
.break {
	color: #A5A5A5;
	font-size: 15px;
	text-align: center;
	padding-right: 70px;
	font-weight: 420;
}
.break2{
	color: #A5A5A5;
	font-size: 15px;
	text-align: center;
	padding-right: 80px;
	font-weight: 420;
}
.three-box-main-4 img{
	width: auto;
}
.three-box-main-4{
	margin-left: 5px;
	margin-bottom: 5px;
	margin-right: -40px;
}
.responsiveness-copyright{
	display: none;
}
/*-------------- Social Section -----------------*/
footer{
	margin: 50px 50px 40px;
}
.social-container{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 60px;
}
.social-container h4{
	margin-bottom: 20px;
	font-size: 21px;
	color: #696969;
	font-weight: 300;
}
.social-container a{
	margin-right: 20px;
	padding-left:10px;
}

/*----------------------- Footer ----------------------*/
.footer-container{
	justify-content: space-between;
	display: flex;
	padding-bottom: 80px;
	color: #696969;
	margin-right: 10px;
}
.footer-container p{
	font-weight: 300;
	font-size: 15px;
}

/*---------------- Responsiveness ------------------*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.header,
	.body-text,
	.main-text,
	.main-text-2,
	.breakline,
	.main-text-3,
	.Three-box,
	 footer{
		margin:0 30px 25px;
	}
	.body-text{
		text-align: left;
	}
	.main-text-2-box-container{
		flex-direction: column;
	}
	.main-text-2-box{
		width: auto;
		padding: 15px 13px;
	}
	.Three-box{
		flex-direction: column;
		align-items: center;
	}
	.three-box-main-4{
		margin-left: -20px;
	}
	.sub-box-main-4{
		text-align: center;
	}
	.sub-3-box-main-4 h3{
		font-size: 20px;
		font-weight: 300;
	}
	.sub-3-box-main-4 p{
		font-size: 12px;
		margin-top: -1px;
	}
	.sub-3-box-main-4 h6{
		padding-left: 30px;
	}
	.sub-3-box-main-4 h6{
		margin-left: 30px;
	}
	.sub-3-box-main-4 .break2{
		margin-left: -15px!important;
	}
	.footer-container{
		flex-direction: column;
	}
	.copyright{
		display: none;
	}
	.terms{
		text-align: center;
	}
	.responsiveness-copyright{
		display: inline-block;
		margin-top: 20px;
		text-align: center;
	}
	::placeholder{
		padding-left: 13px;
	}
	.break{
		font-weight: 300;
	}
	.break2{
		padding-right: 10px;
		font-weight: 300;
		font-size: 13px;
	}
}
