@media only screen and (max-width: 1200px) and (min-width:768px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
     :root {
        --theme--: #AD4C4C;
        --themegreen--: #5EA304;
        --themegray--: #696969;
        --themedarkgray--: #4E4D4D;
        --themeborder--: #C4C4C4: --themefaint--: #A5A5A5;
    }

    .logo {
        width: 20%;
        font-size: x-large;
    }

    nav.topnav {
        width: 50%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

    }

    nav a {
        padding: 2% 6%;
        width: 25%;
        height: 40%;
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        font-size: x-large;
        width: 55%;
    }
    
    .section-header {
        font-size: 30px;
    }

    #location {
        margin-top: -20px;
        height: 30%;
        border-radius: 8px;
        font-size: large;
    }

    .content {
        height: 70%;
    }

    .content ul li {
        width: 45%;
        height: 40%;
        font-size: large;
        justify-content: space-evenly;
    }

    
}

@media only screen and (max-width: 1000px)  {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
     :root {
        --theme--: #AD4C4C;
        --themegreen--: #5EA304;
        --themegray--: #696969;
        --themedarkgray--: #4E4D4D;
        --themeborder--: #C4C4C4: --themefaint--: #A5A5A5;
    }

    .logo {
        width: 20%;
        font-size: x-large;
    }

    nav.topnav {
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

    }

    nav a {
        padding: 2% 6%;
        width: 25%;
        height: 40%;
        font-size: x-large;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        font-size: x-large;
        width: 76%;
    }

    .section-header {
        font-size: 30px;
    }

    #location {
        margin-top: -20px;
        height: 30%;
        border-radius: 8px;
        font-size: x-large;
    }

    .content {
        height: 160%;
    }

    .content ul li {
        width: 89%;
        height: 22%;
        font-size: large;
        justify-content: space-evenly;
    }

    .about {
        height: 180%;
    }

    .about ul {
        margin-top: -350px;
    }

    .about-card {
        width: 89%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        font-size: large;
    }

    .about-card img {
        width: 80%;
    }

    .about-card-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

}

@media only screen and (max-width: 770px) and (min-width:300px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
     :root {
        --theme--: #AD4C4C;
        --themegreen--: #5EA304;
        --themegray--: #696969;
        --themedarkgray--: #4E4D4D;
        --themeborder--: #C4C4C4: --themefaint--: #A5A5A5;
    }

    .logo {
        width: 20%;
        font-size: x-large;
    }

    nav.topnav {
        width: 60%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;

    }

    nav a {
        padding: 2% 6%;
        width: 35%;
        height: 45%;
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        width: 80%;
        font-size: medium;
    }

    .section-header {
        font-size: 20px;
    }

    #location {
        margin-top: -20px;
        height: 30%;
        border-radius: 8px;
        font-size: x-large;
    }

    .content {
        height: 140%;
    }

    .content ul li {
        width: 89%;
        height: 22%;
        font-size: large;
        justify-content: space-evenly;
    }

    .about {
        height: 180%;
    }

    .about ul {
        margin-top: -350px;
    }

    .about-card {
        width: 89%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        font-size: large;
    }

    .about-card img {
        width: 80%;
    }

    .about-card-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


/* screens below this point are small devices  */

@media only screen and (max-width: 600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 14px;
        font-weight: 400;
        outline: unset;
    }
    h2 {
        font-size: large;
    }
    .wrapper {
        padding: 0 5%;
        width: 100vw;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: auto;
    }
    .hero-content {
        width: 80%;
        font-size: medium;
    }

    .section-header {
        font-size: 20px;
    }

    #location {
        margin-top: -20px;
        height: 30%;
        border-radius: 8px;
        font-size: x-large;
    }

    .content {
        height: 120%;
    }

    .content ul {
        margin-top: -80px;
    }

    .content ul li {
        width: 89%;
        height: 22%;
        font-size: large;
        justify-content: space-evenly;
    }

    .about-header {
        margin-top: -150px;
    }

    .about {
        height: 180%;
    }

    .about ul {
        margin-top: -350px;
    }

    .about-card {
        width: 89%;
        height: 30%;
        display: flex;
        flex-wrap: wrap;
        font-size: large;
    }

    .about-card img {
        width: 80%;
    }

    .about-card-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

