* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 img,video,embed {
     max-width: 100%;
 }
 html,body {
     text-size-adjust: none;
     -moz-text-size-adjust: none;
     -webkit-text-size-adjust: none;
     -ms-text-size-adjust: none;
     font-family: sans-serif;
		  overflow-x: hidden;
			width: auto;
     padding: 50px 100px 0px;
 }
 a {
     color: #696969;
     text-decoration: none;
 }
 a:hover {
     color: #AD4C4C;
 }

 @media screen and (min-width: 405px) {
      #b5,#bb5,#bbb5 {
         text-align: center;
         margin: 0px 0px 0px 40px;
         font-size: 15px;
     }
     #b6,#bb6,#bbb6 {
         text-align: center;
         margin: 10px -25px 0px 0px;
     }
 }
 @media screen and (min-width: 585px) {
     .fre {
         margin: 0px -10px 350px;
     }  
 }
 @media screen and (min-width: 860px) {
     .left {
         float: left;
         width: 27%;
         display: block;
     }
     #b5,#bb5,#bbb5 {
         text-align: center;
         margin: 0px 10px 0px -85px;
         font-size: 15px;
     }
     #b6,#bb6,#bbb6 {
         text-align: center;
         margin: 10px -25px 0px 10px;
     }
     #hrr {
         margin-top: 250px;
         margin-bottom: 100px;
     }
 }
 @media screen and (min-width: 900px){
     #b5,#bb5,#bbb5 {
         text-align: center;        
         margin: 0px 0px 0px -50px;
         font-size: 15px;
     }
     #b6,#bb6,#bbb6 {
         text-align: center;
         margin: 10px -25px 0px 10px;
     }    
 }
 @media screen and (min-width: 1050px) {
     .left {
         float: left;
         display: block; 
         margin: 30px 10px 50px;
         width: auto;
     }
     #hrr {
         margin: 250px 0px 50px;
 }
 .fre {
     margin: 0px -10px 50px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
 }
 #sp1 {
     float: left;
 }
 #gr2 {
     float: right;
 }
 .foot {
     margin-bottom: 50px;
 }
 html {
     margin: 50px 30px 100px;
 }
 #headerh1 {
     font-size: 25px;
 }
 .navbar {
     float: right;
     font-size: 20px;
     word-spacing: 40px;
     margin: -25px 0px 0px;
 }
 button {
     border-color: red;
     border-radius: 5px;
     border-width: 1px;
     font-size: 20px;
     font-weight: lighter;
     padding: 10px;
     margin: -7px 0px 0px;
 }
 button:hover {
     background: darkorange;
 }
 #w2,#aa5,#aaa5 {
     text-align: center;
     margin: 15px 0px 0px -25px;
     font-size: 15px;
     text-align: inherit;
 }
 #b5,#bb5,#bbb5 {
     text-align: center;
     margin: 15px -30px 0px 0px;
     font-size: 15px;
     text-align: inherit;
 }
 #w2,#aa6,#aaa6 {
     text-align: center;
     margin: 10px px 0px 0px;
     font-size: 12px;
     text-align: inherit;
 }
 #b6,#bb6,#bbb6 {
     text-align: center;
     margin: 15px 0px 0px 20px;
     text-align: inherit;
}
}

 .left {
     float: left;
     flex-direction: column;
     display: block; 
     margin: 30px 10px 50px;
 }
 #tleft {
     margin-bottom: -60px;
 }
 .trp {
     float: left;
     padding: 17px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 2px;
    margin: 15px;
}
section {
    margin: 0px 60px;
}
select {
    width: 1080px;
    height: 50px;
    margin: 20px 0px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
button {
     border-color: red;
     border-radius: 5px;
     border-width: 1px;
     font-size: 20px;
     font-size: 14px;
     font-weight: lighter;
     padding: 10px;
     margin: 25px 0px 0px;
     margin: -7px 0px 0px;
 }
 button:hover {
     background: darkorange;
 }
 .header {
     width: 90%;
     width: 95%;
     background-color: #fff;
     top: 0%;
     float: right;
     margin: 0px;
     position: fixed;
     display: block;
 }
 #headerh1 {
     margin: 30px 0px;
     font-size: 25px;
     margin: 30px 0px 0px;
     font-size: 15px;
 }
 .navbar {
     float: right; 
     margin: -90px 30px 0px 0px; 
     word-spacing: 40px; 
     font-size: 20px;
     float: right;
     margin: -16px 15px 0px; 
     font-size: 14px;
     word-spacing: 10px;
 }
 #signupcolor {
     color: #f00;
 }
		 button:hover {
     font-size: 14px;
 }
 .fre {
     margin: 0px -10px 200px;
     margin: 0px -10px 620px;
 }
 #ff5,#f5,#fff5,#g5 {
     font-size: 10px; 
 }
 hr {
     opacity: 0.3;
 }
 #w1 {
     margin: 15px 0px 0px -200px;
 }
		 #w1,#aa5,#aaa5 {
     align-items: center;
     margin: 0px 0px 0px -35px;
 }
 #w2 {
     margin: 20px;
 }

 hr, #b6,#bb5,#bb6,#bbb5,#bbb6,#l1,#gr1,#q1 {
     color: grey;
 }
 #aa5 {
     margin: 15px 0px;
 }
 #aa6 {
     margin: 20px 0px;
 }
 #aaa5 {
     margin: 15px 0px;
 }
 #aaa6 {
     margin: 18px -10px 0px 0px;
 }
 #im1,#im2,#im3 {
     margin: 8px;
 }
 #sp {
     font-size: 12px;
     text-align: center;
 }
 #sp1 {
     font-size: 12px;
     align-items: center;
     text-align: center; 
     margin-bottom: 20px;
 }
 #gr2 {
     float: right; 
     text-align: center; 
     color: grey;
     font-size: 12px;
 }
 #red {
     color: red;
}
.foot {
     margin: 0px;
 }
 #hrr {
     margin: 250px 0px 80px;
     margin: 0px 0px 50px;
 }
 .del1 {
     display: flex;
     align-content: center;
     box-sizing: border-box;
     width: 100%;
 }
 .HOWWESYH {
     font-size: 20px;
 }
 #middle {
     margin-top: 100px;
     text-align: left;
 }
 h3 {
     font-size: 20px;
 }
 h4 {
     font-size: 18px;
     color: #AD4C4C;
		 font-weight: 500;
 }
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 header nav:nth-child(2) {
     font-weight: 400;
     font-size: 16px;
     line-height: 24px;
     color: #696969;
 }
 header nav:nth-child(2) a {
     padding: 5px 10px;
 }
 header nav a:nth-child(3) {
     background: #FFFFFF;
     border: 1px solid #AD4C4C;
     border-radius: 5px

 }
 .PICKAIP {
     font-size: 14px;
     color: #696969;
		 font-weight: 400;
 }
 .PICKAI div {
     box-shadow: 0px 0px 3px 1.5px rgba(0, 0, 0, 0.1);
     padding: 20px;
 }
 h1 {
     font-size: 30px;
 }
 h2 {
     font-size: 25px;
     color: #696969;
		 font-weight: 500;
		 padding-bottom: 15px;
 }
 .HOWWESYP {
     font-size: 20px;
     color: #A5A5A5;
     line-height: 30px;
		 font-weight: 500;
 }

 .PREMAIN {
     text-align: center;
     }
 .PREMAIN p:first-child {
     font-weight: 600;
     font-size: 40px;
     line-height: 60px;
     margin-top: 50px;
     margin-bottom: 0px;
     }
 .PREMAIN p:nth-child(2) {
     font-weight: 400;
     font-size: 20px;
     line-height: 30px;
     text-align: center;
     color: #696969;
     margin: 0px;
 }
 input {
     width: 100%;
     font-size: 20px;
     color: #696969;
     }
 .PICKAI {
     display: flex;
     justify-content: space-between;
     background: #FFFFFF;
 }

 .pickai{
	 padding-bottom: 20px;
 }
 .HOWWESYH {
     text-align: center;
 }

 .fastfood{
	 padding-bottom: 10px;
    padding-top: 10px;
}
 
.images{
	padding-bottom: 10px;
    padding-top: 10px;
}
 .HOWWESY {
     display: flex;
     justify-content: space-between;
 }
 .HOWWESY div {
     align-items: center;
     text-align: center;
     padding: 10px;
 }
 .contactus {
     text-align: center;
     font-size: 18px;
     color: #696969;
		padding-bottom: 32px;
    padding-top: 81px;
		font-weight: 500;
 }
 .footericon {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0px 5px;
 }
 .footerend {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 18px;
     line-height: 27px;
 }
 .footercopyright {
     color: #696969;
		 padding-top: 49px;
    padding-bottom: 132px;
		font-weight: 400px;
 }

 .endd{
	 padding-bottom: 80px;
 }
 section {
     margin: 52px 0px;
 }