@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    padding: 10px 70px 70px 70px;
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
* {
    box-sizing: border-box;
}

/****** HEADER ******/
header a {
    color: #696969;
    text-decoration: none;
    font-size: 16px;
}
header li {
    display: inline;
    margin: 0 50px 0 30px;
}
header nav {
    float: right;
    margin-top: -65px;
    display: flex;
    justify-content: space-between;
}
.cart-nav {
    color: #AD4C4C;
}
.header-text {
    color: #AD4C4C;
}
header button {
    color: #AD4C4C;
    background: #fff;
    border: 1px solid #AD4C4C;
    border-radius: 5px;
    width: 92px;
    height: 40px;
    margin-top: 8px;
}
header button:hover {
    background: #AD4C4C;
    color: #fff;
}

/******* MAIN BODY ******/
main {
    margin-top: 80px;
}
main li {
    display: inline;
}
main ul {
    margin: 0;
    padding: 0; 
}
main a {
    text-decoration: none;
    font-size: 14px;
}
.fas {
    color: #A5A5A5;
    margin-right: 15px;
    margin-top: 60px;
}
.home-link {
    color: #A5A5A5;
}
.cart-link {
    color: #4E4D4D;
    font-weight: bold;
}
.items-count {
    color: #AD4C4C;
    font-size: 16px;
    margin-top: -20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rmv-btn {
    color: #AD4C4C;
    background: #fff;
    border:none;
    text-decoration: underline;
    font-size: 14px;
}
.cart-container {
    margin-top: 60px;
}
.cart, .cart-item, .delivery, .total-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.price {
    float: right;
    font-size: 20px;
    line-height: 30px;
    color: #4E4D4D;
}
.item {
    width: 220px;
    margin-top: -18px;
    margin-left: 15px;
}
.item-name, .fee {
    font-size: 16px;
    font-weight: 600;
    color: #4E4D4D;
}
.item-value {
    width: 45%;
    display: flex;
    justify-content: space-between;
    color: #AD4C4C;
}
.item-btn {
    width: 29.32px;
    height: 29.32px;
    background: #FFFFFF;
    border: 1px solid #AD4C4C;
    border-radius: 5px;
    color: #AD4C4C;
    font-size: 18px;
}
.item-btn:hover {
    background: #AD4C4C;
    color: #fff;
}
.border-line {
    border: 1px solid #E6E6E6;
    margin-top: 40px;
    margin-bottom: 40px;
}
.delivery {
    width: 100%;
}
.delivery-fee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 395px;
}
.item-img {
    max-width: 100%;
    height: auto;
}
.scooter-img {
    margin-left: 25%;
    max-width: 100%;
    height: 70px;
}
.total {
    color: #4E4D4D;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}
.total-amount {
    color: #000;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}
.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn {
    color: #fff;
    font-size: 16px;
    width: 60%;
    font-weight: 600;
    border: 1px solid;
    height: 3.125rem;
    background: #AD4C4C;
    border-radius: 5px;
}
.checkout-btn:hover {
    background: #fff;
    color: #AD4C4C;
}

/******* MEDIA QUERIES *******/

@media screen and (max-width: 650px) {
    body {
        padding: 10px 15px 20px 15px;
    }
    header a {
        font-size: 10px;
    }
    header li {
        margin: 0 25px 0 10px;
    }
    header button {
        width: 62px;
        height: 30px;
        font-size: 10px;
        margin-top: 12px;
    }
    header nav {
        margin-top: -65px;
    }
    .price {
        font-size: 15px;
        line-height: 22px;
    }
    .fas {
        margin-top: 15px;
        font-size: 11px;
        margin-right: 10px;
    }
    .item {
        width: 200px;
        margin-top: -10px;
        margin-left: 6px;
    }
    .item-name {
        font-size: 10px;
    }
    .digit {
        margin-top: -3px;
    }
    .item-value {
        width: 30%;
        display: flex;
        justify-content: space-between;
        color: #AD4C4C;
    }
    .item-btn {
        width: 17.98px;
        height: 17.98px;
        border-radius: 1px;
        color: #AD4C4C;
        font-size: 14px;
    }
    .scooter-img {
        margin-left: 5%;
    }
    .delivery-fee {
        width: 150px;
    }
    .delv-price {
        margin-top: 7px;
    }
    .total, .total-amount {
        font-size: 18px;
        line-height: 27px;
    }
    .checkout-btn {
        width: 100%;
    }
    .fee {
        font-size: 12px;
    }
    .item-img {
        width: 57px;
        height: 46px;
    }
}