.header {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin-right: 10px;
  list-style: none;
  gap: 10px;
  padding-top: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #AD4C4C;
  padding: 10px;
  font-size: 12px;
}
.foodbag {
  font-size: 16px;
  font-weight: 700;
  margin-left: 10px;
  padding-top: 11px;
}
.foodbag span {
  color:#AD4C4C;
}
#logout {
  border: 1px solid #AD4C4C;
  padding: 6px 0;
}
#login {
  color:#4E4D4D;
}
.cart-title {
  margin: 0 0 20px 30px;
  font-size: 12px;
  color: black;
  font-weight: 400;
}
.home-time p span {
  color: #C9C9C9;
}
.bold-cart {
  font-weight: 600;
  font-size: 16px;
}
.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cart-image-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-item-image {
  height: 150px;
  width: 120px;
}
.cart-item-title {
  padding: 20px 0 0 10px; 
}
.cart-item-price {
  margin-right: 20px;
  position: relative;
  float: right;
  font-size: 12px;
  padding-top: 50px;
 }
 .cancel {
  height: 10px;
  width: 10px;
 }
 .cancel-buttons {
  padding-top: 40px;
 }
 .add-remove{
  display: flex;
  color: #AD4C4C;
}
.add-remove-buttons {
  background-color: white;
  height: 20px;
  width: 20px;
  border: none;
  cursor: pointer;
}
.delivery {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.delivery-image-title {
  display: flex;
  gap: 20px;
}
.delivery-price {
  margin-right: 20px;
  font-size: 12px;
  padding-top: 10px;
}
#scooter {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}
#delivery-title {
  margin-left: 5px;
  font-size: 12px;
  padding-top: 10px;
  font-weight: 600;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total-title {
  font-size: 14px;
  color:#4E4D4D;
  font-weight: 700;
  padding-top: 10px;
  margin-left: 30px;
}
.total-price {
  float: right;
  margin-right: 20px;
  color: black;
  font-size: 12px;
  font-weight: 700;
  padding-top: 10px;
}
#hide-total-price {
  visibility: hidden;
}

.check-btns {
  border : 1px solid #AD4C4C;
  height: 50px ;
  width : 60% ;
  font-weight: 700;
  color: White;
  background-color: #AD4C4C;
  cursor: pointer;
  margin: 0 0 30px 20%;
}
#form-group {
  height: 30px;
  width: 90%;
  font-size: 12px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}
.pay-ment {
  font-size: 14px;
}
.contents {  
  margin-left: 10%;
}
.verification {
  font-size: 24px;
  font-weight: 700;
}
#confirm {
  font-size: 18px;
  color:#AD4C4C;
}
.delivery-order-image {
  display: flex;
  justify-content: space-between;
}
.address {
  margin-top: 50px;
}
#delivery {
  font-size: 16px;
  font-weight: 600;
  padding-top: 20px;
}
#delivery-order {
  color: #696969;
  font-size: 16px;
  padding-bottom: 20px;
  margin-right: 5%;
}
#delivery-image {
  margin: 20px 5% 0 0;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
#option-value {
  border: 1px solid #AD4C4C;
}
#label-id {
  font-size: 23px;
}
#input-id {
  width: 90%;
  height: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}
hr {
  margin: 0 10% 30px 0;
}
#line {
  margin: 0 10% 0 1px;
}

.cvc {
  width: 47%;
  height: 20px;
  margin-left: 10px;
}
.expiry-date { 
  height: 20px;
  width: 47%;
}
.con {
  display: flex;
}
.con:nth-child(1) {
  font-weight: bold;
}
.button-class {
  margin: 40px 0 20px 60px;
  width: 200px;
  height: 30px;
  color: white;
  background: #AD4C4C;
  border-radius: 5px;
}


@media screen and (min-width: 720px) {
  nav ul li a {
    font-size: 16px;
  }
  .foodbag {
    font-size: 23px; 
  }
  nav ul li {
    padding-top: 20px;
  }
  .bold-cart {
    font-size: 24px;
  }
  .cart-item-image {
    height: 300px;
    width: 300px;
  }
  .cart-title {
    font-size: 16px;
    padding-top: 30px;
  }
  .cart-item-title {
    padding: 40px 0 0 20px;  
  }
  .cart-item-price {
    margin-right: 40px;
    font-size: 16px;
    padding-top: 70px;
   }
   .cancel {
    height: 20px;
    width: 20px;
   }
   .cancel-buttons {
    padding-top: 60px;
   }
  .add-remove-buttons {
    height: 30px;
    width: 30px;
  }
  .delivery {
    margin-left: 50px;
  }
  .delivery-image-title {
    gap: 20px;
  }
  .delivery-price {
    margin-right: 40px;
    font-size: 16px;
    padding-top: 30px;
  }
  #scooter {
    height: 150px;
    width: 150px;
    margin-left: 20px;
  }
  #delivery-title {
    margin-left: 35px;
    font-size: 16px;
    padding-top: 30px;
  }
  .total-title {
    font-size: 16px;
    padding-top: 10px;
    margin-left: 60px;
  }
  .total-price {
    margin-right: 40px;
    font-size: 16px;
    padding-top: 10px;
  }
  .check-btns {
    height: 50px ;
    width : 60% ;
    margin-bottom: 0 0 30px 20%;
  }
  #form-group {
    height: 45px;
    font-size: 18px;
    margin-bottom: 40px;
  }
  .phone{
    font-size: 20px;
  }
  .pay-ment {
    font-size: 20px;
  }
  .contents {  
    margin-left: 5%;
  }
  .verification {
    font-size: 28px;
  }
  #confirm {
    font-size: 24px;
  }
  .address {
    margin-top: 20px;
  }
  #delivery {
    font-size: 24px;
  }
  #delivery-order {
    font-size: 20px;
  }
  #delivery-image {
    height: 24px;
    width: 24px;
  }
  #label-id {
    font-size: 28px;
  }
  #input-id {
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
  }
  
  .cvc {
    width: 47%;
    height: 20px;
    margin-left: 5px;
  }
  .expiry-date { 
    height: 20px;
    width: 47%;
  }
  .button-class {
    margin: 90px 0 0 240px;
    width: 600px;
    height: 60px;
  }
}