.header {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  margin-right: 60px;
  list-style: none;
  gap: 20px;
  padding-top: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #AD4C4C;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}
.foodbag {
  font-size: 23px;
  font-weight: 700;
  margin-left: 60px;
}
.foodbag span {
  color:#AD4C4C;
}
#logout {
  border: 1px solid #AD4C4C;
  padding-top: 6px;
  padding-bottom: 6px;
}
#login {
  color:#4E4D4D;
}
.cart-title {
  margin-left: 60px;
  font-size: 12px;
  margin-bottom: 20px;
}
.home-time p span {
  color: #C9C9C9;
}
.bold-cart {
  font-weight: 600;
  font-size: 28px;
}
.cart-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.cart-image-title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.cart-item-image {
  height: 100px;
  padding: 0 0 50px 10px;
}
.cart-item-title {
  padding-left: 20px;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.cart-item-price {
  margin-right: 80px;
  position: relative;
  float: right;
  font-size: 18px;
  padding-top: 20px;
 }
 .cancel-buttons {
  padding-bottom: 20px;
 }
 .cancel {
   height: 20px;
   width: 20px;
 }
.add-remove-buttons {
  display: flex;
  color: #AD4C4C;
  padding-top: 30px;

}
#add-btn {
  background-color: white;
  height: 60px;
  width: 60px;
  border: none;
  cursor: pointer;
}
 
.delivery {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
}
.delivery-image-title {
  display: flex;
  gap: 40px;

}
.delivery-price {
  margin-right: 80px;
  font-size: 18px;
  padding-top: 20px;
}
#scooter {
  height: 100px;
  width: 100px;
  margin-left: 60px;
}
#delivery-title {
  margin-left: 40px;
  font-size: 18px;
  padding-top: 30px;
  font-weight: 600;
}
.total-title {
  font-size: 20px;
  color:#4E4D4D;
  font-weight: 700;
  padding-top: 10px;
  margin-left: 60px;
}

.total-price {
  float: right;
  margin-right: 80px;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding-top: 10px;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hide-total-price {
  visibility: hidden;
}
.check-btns {
  margin-left: 20%;
  border : 1px solid #AD4C4C;
  height: 50px ;
  width : 60% ;
  font-weight: 700;
  color: White;
  background-color: #AD4C4C;
  cursor: pointer;
  margin-bottom: 30px;
}