@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


body {
    background-color: #FFFFFF;
    padding: 50px 100px;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

input,
div {
    box-sizing: border-box;
}

.NavLinks {
    margin-left: auto;
}

.CL {
    margin-right: 20px;
    text-decoration: none;
    color: #696969;
}

.SignUp {
    text-decoration: none;
    color: #AD4C4C;
    border: solid;
    border-color: #AD4C4C;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
    padding: 5px 10px;
}

.HeadingText {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.HeadingText b {
    color: #4E4D4D;
    font-size: 40px;
}

.HeadingText div {
    color: #696969;
    font-size: 20px;
    font-weight: 100;
}

section div {
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

section input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px 5px 20px;
}

.Interest {
    display: flex;
    flex-direction: row;
}


.Items {
    padding: 20px;
    margin-right: 10px;
    z-index: 1;
    box-shadow: 0 0 3px 1.5px #0000001A;
    width: 300px;
    height: fit-content;
}

.Items div {
    color: #A5A5A5;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 0;
}

.Items p {
    color: #A5A5A5;
    font-weight: 100;
    font-size: 13px;
    padding-top: 0;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #F2F2F2;
}

.Serve {
    text-align: center;
}

.Serving {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.ServeBox {
    margin: 0px 20px;
}

.ServeBox img {
    width: 210px;
    height: 200px;
}

.Serving p {
    color: #696969;
    font-size: 20px;
    padding-bottom: 0;
}

.Serving div {
    color: #696969;
    font-size: 15px;
    font-weight: 100;
    padding-top: 0%;
}

.ContactUs {
    text-align: center;
    color: #696969;
}


.Terms {
    display: flex;
    flex-direction: row;
}

.Terms div {
    color: #696969;
    font-size: 15px;
}

.Terms p {
    margin-left: auto;
    color: #696969;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    body {
        padding: 25px 60px;
    }

    nav {
        padding-bottom: 10px;
    }

    .CL {
        margin-right: 20px;
    }

    .HeadingText {
        text-align: left;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    .HeadingText b {
        color: #4E4D4D;
        font-size: 30px;
    }

    .HeadingText div {
        color: #696969;
        font-size: 15px;
        font-weight: 100;
    }

    section div {
        color: black;
        font-size: 25px;
        padding-bottom: 10px;
        margin-top: 20px;
        padding-top: 10px;
        font-weight: bold;
    }

    section input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 5px 15px 5px 20px;
    }

    .Interest {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 0;
    }


    .Items {
        padding: 20px;
        z-index: 1;
        box-shadow: 0 0 3px 1.5px #0000001A;
        width: 100%;
        height: fit-content;
    }

    .Items div {
        color: #A5A5A5;
        font-weight: 100;
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 20px;
        width: 100%;
    }

    .Items p {
        color: #A5A5A5;
        font-weight: 100;
        font-size: 15px;
        padding-top: 0;
    }

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        color: #F2F2F2;
    }

    .Serve {
        text-align: center;
    }

    .Serving {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 30px;
    }

    .ServeBox {
        margin: 0 20px;
    }

    .Serving p {
        color: #696969;
        font-size: 20px;
        padding-bottom: 0;
    }

    .Serving div {
        color: #696969;
        font-size: 15px;
        font-weight: 100;
        padding-top: 0%;
    }

    .ContactUs {
        text-align: center;
        font-size: 30px;
    }

    .FootImg {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
    }

    .ContactUs img {
        width: 30px;
        height: 30px;
    }

    .Terms {
        display: flex;
        flex-direction: column;
    }

    .Terms div {
        color: #696969;
        font-size: 15px;
    }

    .Terms p {
        color: #696969;
        font-size: 15px;
        margin-left: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        padding: 25px 60px;
    }

    nav {
        padding-bottom: 10px;
    }

    .CL {
        margin-right: 20px;
    }

    .HeadingText {
        text-align: left;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    .HeadingText b {
        color: #4E4D4D;
        font-size: 30px;
    }

    .HeadingText div {
        color: #696969;
        font-size: 15px;
        font-weight: 100;
    }

    section div {
        color: black;
        font-size: 25px;
        padding-bottom: 10px;
        margin-top: 20px;
        padding-top: 10px;
        font-weight: bold;
    }

    section input {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding: 5px 15px 5px 20px;
    }

    .Interest {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        margin-top: 0;
    }


    .Items {
        padding: 20px;
        z-index: 1;
        box-shadow: 0 0 3px 1.5px #0000001A;
        width: 100%;
        height: fit-content;
    }

    .Items div {
        color: #A5A5A5;
        font-weight: 100;
        padding-top: 5px;
        padding-bottom: 0;
        font-size: 20px;
        width: 100%;
    }

    .Items p {
        color: #A5A5A5;
        font-weight: 100;
        font-size: 15px;
        padding-top: 0;
    }

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
        color: #F2F2F2;
    }

    .Serve {
        text-align: center;
    }

    .Serving {
        display: flex;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    .ServeBox {
        margin: 0 10px;
    }

    .ServeBox img {
        width: 210px;
        height: 200px;
    }

    .Serving p {
        color: #696969;
        font-size: 15px;
        padding-bottom: 0;
    }

    .Serving div {
        color: #696969;
        font-size: 12px;
        font-weight: 200;
        padding-top: 0%;
    }

    .ContactUs {
        text-align: center;
        font-size: 30px;
    }

    .FootImg {
        display: flex;
        flex-direction: row;
        column-gap: 50px;
        justify-content: center;
    }

    .ContactUs img {
        width: 30px;
        height: 30px;
    }

    .Terms {
        display: flex;
        flex-direction: row;
    }

    .Terms div {
        color: #696969;
        font-size: 12px;
    }

    .Terms p {
        color: #696969;
        font-size: 12px;
        margin-left: auto;
        margin-top: 30px;
    }
}