body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  /* border: 1px solid #000; */
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root{
  margin: 0 2em;
}

.header,
.foodbag,
.header ul,
.main div,
.hero, 
.Total{
  display: flex;
}

.Total{
  justify-content: space-between;
}

a{
  text-decoration: none; 
  color: black;
}

.bag,
.a_cart,
.su{
  color: #a90000;
}

.header{
  width: 100%;
  justify-content: space-between;
}

.header ul{
  width: 30%;
  height: 20%;
  justify-content: space-between;
  list-style: none;
}

.remove{
  display: none;
}

@media (max-width:700px){
  .header ul{
    font-size: .6em;
  }
}

@media (max-width: 500px) {
  *{
    font-size: 10px;
  }
  .header{
    margin: 0;
    padding: 0;
  }

  .header ul{
    /* margin-right: 0; */
    width: 65%;
    height: 20%;

  }

  .remove{
    visibility: visible;
    display: flex;
    justify-content: space-between;
    text-decoration: dashed;
    color: #a90000;
  }

}



.su{
  border: 0.0625em solid #a90000;
  padding: .5em;
  border-radius: .4em;
}


.fent{
  color: #888;
}

.main div {
  width: 100%;
  margin-top: 2em;
  border-bottom: 1px solid rgba(85, 85, 85, 0.322);

}

.product-container{
  display: flex;
  border-bottom: .15em #aaa solid;
  justify-content: space-between;
  margin-top: 2.5em;

}
/* .product-container .product-details{

} */

.imageAndButton{
  display: flex;

}

.imageAndButton p {
  align-self: center;
}

.product-container .image-container{
  margin-right: 1.25em;
  margin-top: 1.25em;
}

.product-container .product-price{
  margin-right: 1.25em;
  margin-left: .625em;
  align-self: center;
  color: #444;

}

/* ==================== */
#hidden-total-price{
  display:none;
}

.product-container .buttons-class{
  display: flex;
  height: 3.125em;
}


.delivery{
  margin-left: 2em;
}

.deliver{
  margin-left: 2em;
}

img{
  max-width: 8em;
  max-height: 4.56789em;
}

.checkout{
  display: flex;
  justify-content: center;
}

.buttons-class #increment-button, .buttons-class #decrement-button{
  border: unset;
  background-color: #fff;
  cursor: pointer;
  margin: 0.625em;
}

.submit-button-class{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.submit-button-class #submit-button{
  background-color:#a90000;
  width:80%;
  height: 3em;
  margin-bottom: 2em;
  color: #fff;
  cursor: pointer;
  border-radius: .3125em;
  font-size: 1.125rem;
  font-weight: bold;
}